Function Arguments

In [ ]:
def update(x):
    x =8
    print(x)
update(10)

In [ ]:
def update(x):
    x =8
    print(x)
    
a=10
update(a)
print(a)

In [ ]:
def update(x):
    x =8
    print('x', x)
    
a=10
update(a)
print('a', a)

In [ ]:
def update(x):
    print(id(x))
    x=8
    print(id(x))

a = 10
print(id(a))
update(a)
print('a', a)

In [ ]:
def update(lst):
    print(id(lst))
    
    lst[1] =25
    print(id(lst))
    print('x', lst)

lst = [10, 25, 30]
print(id(lst))
update(lst)
print('lst', lst)

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(3))

In [ ]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(3,4))

In [ ]:
#postion argument
def person(name,age):
    print(name)
    print(age)

person('prasanthi', 28)

In [ ]:
def person_name(first_name,second_name):
    print(first_name+second_name)

person_name('prasanthi', 'lava')

In [ ]:
def person(name,age):
    print(name)
    print(age)

person(28, 'prasanthi')

In [ ]:
def person(name,age):
    print(name)
    print(age-5)

person(28, 'prasanthi')

In [ ]:
#keyword argument

def person(name,age):
    print(name)
    print(age)


person (age=28, name='prasanthi')

In [ ]:
#default 
def person(name,age=18):
    print(name)
    print(age)

person('prasanthi')

In [ ]:
def person(name,age=18):
    print(name)
    print(age)

person('prasanthi', 28)

In [ ]:
def sum(a, *b):
    c= a+b
    print(c)
 
sum(5,6,34,78)

In [ ]:
def add(a=5,b,c):
    return (a+b+c)

In [ ]:
def add(a,b,c):
    return (a+b+c)

print (add(a=10,3,4))

In [ ]:
def add(a,b=5,c=10):
    return (a+b+c)

print (add(2))

In [ ]:
def sum(a, *b):
    c=a
    
    for i in b:
        c = c+i
    print(c)

sum(5,6,34,78)

In [ ]:
def sum(a, *b):
    c=0
    
    for i in b:
        c = c+i
    print(c)

sum(5,6,34,78)

In [ ]:
def add(*b):
    result=0
    for i in b:
         result=result+i
    return result

print (add(1,2,3,4,5))

In [ ]:
def divide(a,b):
                return a/b
divide(3,2)

In [ ]:
def greet(name, msg):
    """This function greets to
    the person with the provided message"""
    print("Hello", name + ', ' + msg)

greet("prasanthi", "Good morning!")

In [ ]:
def divide_two(a, b):
    res = a / b
    return res
 
res = divide_two(12, 3)
print(res)

In [ ]:
def sayhello(name = 'world'):
    print('hello', name)

sayhello()
sayhello('prasanthi')

In [ ]:
def multiply(a, b):
    return a*b
    
print(multiply(a=10, b=5))
print(multiply(b=20, a=9))
print(multiply(a=90, b=25))

In [ ]:
def function(a,b,c):
    return a,b,c

print(function(12,22,23))

In [ ]:
def function(a,b,c):
    return a,b,c

a=10
b=20
c=30

print(function(a,b,c))

In [ ]:
def function(a,b,c):
    return a,b,c

a=10
b=20
c=30

print(function(b,c,a))

In [ ]:
def function(a,b,c):
    return a,b,c

print(function(b=20,a=10,c=30))

In [ ]:
def msg(x,y):
    print(x, 'prasanthi', y)

msg('Hai' , 'Good Morning')

In [ ]:
def add(x=1, y=2):
    z = x+y
    print(z)

add(4,5)

In [ ]:
def fun(a=10, b=20, c=30):
    return a,b,c

print(fun())

In [ ]:
def fun(a=10, b=20, c=30):
    return a,b,c

print(fun(1))

Keyword variable length

In [ ]:
def person(name, *data):
    print(name)
    print(data)

person('prasanthi',28, 'mumbai', 9812345)

In [ ]:
def person(name, *data):
    print(name)
    print(data)

person('prasanthi',age=28, city='mumbai', phone=9812345)

In [ ]:
def person(name, **data):
    print(name)
    print(data)

person ('prasanthi',age=28, city='mumbai', phone=9812345)

In [ ]:
def person(name, **data):
    
    print(name)
    
    for i,j in data.items():
        print(i,j)

person('prasanthi',age=28, city='mumbai', phone=9812345)

In [ ]:
def my_func(*argp):
    for i in argp:
        print(i)
my_func('Let', 'us', 'study', 'Data Science', 'and', 'Blockchain')

In [ ]:
def my_fun(par1,par2,*argp):
    
    print('The first parameter is:',par1)
    print('The second parameter is:',par2)
    
    for i in argp:
        print(i)
        
my_func('Let', 'us', 'study', 'Data Science', 'and', 'Blockchain')

In [ ]:
#program to demonstrate **kwargs 
def my_fun(*args,**kwargs):
    print('The value of args is:', args)
    print('The value of kwargs is:',kwargs)

my_fun('Let','us','study',a_key='Data Science',b_key='and',c_key='Blockchain')

Global keyword

In [ ]:
a = 10

print(a)

In [ ]:
a=10

def input():
    a=15

    print(a)
    
print(a)

In [ ]:
a=10

def input():
    a=15
    b=8
    print(a)

print(b)
    
print(a)

In [ ]:
a=10
def input():
    a=15
    print('in fun', a)
input()

print('outside', a)

In [ ]:
a=10
def input():
 
    print('in fun', a)
input()

print('outside', a)

In [ ]:
a=10
def input():
    global a
    a=15
    print('in fun', a)
    
input()

print('outside', a)

In [ ]:
a=10
print(id(a))

def input():
    a=9
    
    x=globals()['a']
    print(id(x))
    print('in fun', a)
    
    globals()['a'] = 15
    
input()

print('outside', a)

In [ ]:
c = 0
def add():
    global c
    c =c+2
    print('inside add():',c)
    
add()
print('In main:',c)

In [ ]:
a=15
b=10

def add():
    c = a+b
    print(c)
add()

In [ ]:
#This output is an error because we are trying to assign a value to a variable in an outer scope. 
#This can be done with the use of a global variable.a=15

def change():
    a = a+5
    
    print(a)

change()

In [ ]:
x =15

def change():
    global x
    x=x+5
    print('Value of x inside a function:', x)

change()
print('Value of x outside a function:', x)

Pass a list of elements

In [ ]:
def count(lst):
    even=0
    odd=0
    
    for i in lst:
        if i%2 == 0:
            even+=1
        else:
            odd+=1
    return even,odd
    

lst = [20,25,14,19,16,24,28,47,26]

even,odd = count(lst)

print(even)
print(odd)

In [ ]:
def count(lst):
    even=0
    odd=0
    
    for i in lst:
        if i%2 == 0:
            even+=1
        else:
            odd+=1
    return even,odd
    

lst = [20,25,14,19,16,24,28,47,26]

even,odd = count(lst)

print('Even : {} and Odd : {}'.format(even,odd))

In [ ]:
def tes1(cars):
 for i in cars:
    print(i)
merc = ["GLA", "GLE", "GLS"]
tes1(merc)

In [ ]:
#Use tuple() function

def argpass(a1, a2):
    print('argument 1:' + str(a1))
    print('argument 2:' + str(a2))

lis = ['Merc', 'BMW']
print("The original list is : " + str(lis))
x, y = tuple(lis)
argpass(x, y)

# Recursion

In [ ]:
#program factorial of a no using recursion

def fact(n):
    if n == 1:
        return 1
    else:
        return n*fact(n-1)
fact(4)

In [ ]:
import sys

sys.setrecursionlimit(2000)

print(sys.getrecursionlimit())

i=0

def greet():
    global i
    i+=1
    print('Hello', i)
    greet()
    
greet()

In [ ]:
#Factorial using Recursion
def Recur_fact(n):
    
    if (n==0):
        return 1
    
    return n * Recur_fact(n-1)

print(Recur_fact(5))

In [ ]:
def Recur_facto(n, a = 1):
    
    if (n == 0):
        return a

    return Recur_facto(n - 1, n * a)


print(Recur_facto(6))

In [ ]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)
num=7

if num < 0:
    print('Sorry, factorial does not exist for negative numbers')
elif num == 0:
    print('The factorial of 0 is 1')
else:
    print('The factorial of',num, 'is', recur_factorial(num))

In [ ]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)
num=-1

if num < 0:
    print('Sorry, factorial does not exist for negative numbers')
elif num == 0:
    print('The factorial of 0 is 1')
else:
    print('The factorial of',num, 'is', recur_factorial(num))

In [ ]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)
num=0

if num < 0:
    print('Sorry, factorial does not exist for negative numbers')
elif num == 0:
    print('The factorial of 0 is 1')
else:
    print('The factorial of',num, 'is', recur_factorial(num))

Anonymous FunctionsÂ

In [ ]:
def square(a):
    return a*a

result = square(5)

print(result)

In [ ]:
f = lambda a:a*a

result = f(5)

print(result)

In [ ]:
x = lambda a:a+10
print(x(5))

In [ ]:
#Multiply argument
x = lambda a,b:a*b
print(x(5,6))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [ ]:
x = lambda a:a+a

print(x(2))

In [ ]:
x = lambda a:a+10

print(x(3))

In [ ]:
def fun(n):
    return lambda a:a*n

c=fun(2)

print(c(10))

 Filter Map Reduce

In [ ]:
#filter() without lambda

def is_even (n):
    return n%2 == 0

nums = [3,2,6,5,4,7,8,9,3,1]

even = list(filter(is_even,nums))

print(even)

In [ ]:
nums = [3,2,6,5,4,7,8,9,3,1]

evens = list(filter(lambda n : n%2 == 0, nums))

print(even)

In [ ]:
#map

nums = [3,2,6,5,4,7,8,9,3,1]

doubles = list(map(lambda n : n*2,evens))

print(doubles)

In [ ]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)

print(squared)

In [ ]:
#with map

items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print(squared)

In [ ]:
def function(a):
    return a*a
x = map(function, (1,2,3,4))  #x is the map object
print(x)
print(set(x))

In [ ]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

In [ ]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas, range(1, 7)))

print(result)

In [ ]:
#reduce

from functools import reduce

def add_all(a,b):
    return a+b 

nums = [3,2,6,5,4,7,8,9,3,1]

evens = list(filter(lambda n : n%2 == 0, nums))

doubles = list(map(lambda n : n*2,evens))
print(doubles)

sum = reduce(lambda a,b:a+b,doubles)

print(sum)

In [ ]:
reduce(lambda a,b: a+b,[23,21,45,98])

In [ ]:
#without reduce
product = 1

list = [1, 2, 3, 4]

for num in list:
    product = product * num
    
print(product)

In [ ]:
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])

print(product)

In [ ]:
def func(x):
    if x>=3:
        return x
y = filter(func, (1,2,3,4)) 

print(y)

print(list(y))

In [ ]:
list2=[1,2,3,4,5,6,7,8,9]

output = list(filter(lambda x:x%2 == 0, list2))

print(output)

In [ ]:
list2=[1,2,3,4,5,6,7,8,9]

print(list(filter(lambda x:x%2 == 0, list2)))

In [ ]:

names = ['abhi', 'chinnu', 'kanna','','','', 'ganesh','']

print(list(filter(None,names)))

--name--

In [ ]:
print(__name__)

In [ ]:
print("hello")

In [ ]:
print('Hello + __name__')

In [ ]:
import cal

print('Demo:' + __name__)

In [ ]:
def main():
    print('Hello')
    Print('Welcome User')

if __name__ == '__main':
    main()

In [ ]:
import second

print('first file')

In [ ]:
import sec

print(sec.a)

if __name__ == '__main__':

     print('first file')

In [ ]:
import calculator

print('from calculator.py',  __name__)

In [ ]:
import cal

In [ ]:
print(cal.add(7,6))

In [ ]:
print(calculator.add(7,6))

In [ ]:
import calculator

print(calculator.add(7,6))

In [ ]:
def fun1():
    print('from fun1')
    
    
def fun2():
    print('from fun2')
    
    
 
def main():
    fun1()
    fun2()
    
    
main()

In [ ]:
from cal1 import add

def fun1():
    add()
    print('from fun1')
    
    
def fun2():
    print('from fun2')
    
    
 
def main():
    fun1()
    fun2()
    
    
main()

In [ ]:
def sum():
    print('result 1 is ')


def sub():
    print('result 2 is ')    
    
def main():
    add()
    sub()
    
main()

In [ ]:
def sum():
    print('result 1 is ')


def sub():
    print('result 2 is ')    
    
def main():
    sum()
    sub()
    
    
main()

# MultiThreading

In [ ]:
class Hello:
    def run(self):
        for i in range (5):
            print ('Hello')

class Hi:
    def run(self):
        for i in range (5):
            print ('Hi')
            
t1 = Hello()
t2 = Hi()


t1.run()
t2.run()

In [ ]:
class Hello(Thread):
    def run(self):
        for i in range (5):
            print ('Hello')

class Hi(Thread):
    def run(self):
        for i in range (5):
            print ('Hi')
            
t1 = Hello()
t2 = Hi()


t1.run()
t2.run()

In [ ]:
from threading import *
class Hello(Thread):
    def run(self):
        for i in range (5):
            print ('Hello')

class Hi(Thread):
    def run(self):
        for i in range (5):
            print ('Hi')
            
t1 = Hello()
t2 = Hi()


t1.run()
t2.run()

In [ ]:
#start
from threading import *

class Hello(Thread):
    def run(self):
        for i in range (50):
            print ('Hello')

class Hi(Thread):
    def run(self):
        for i in range (50):
            print ('Hi')
            
t1 = Hello()
t2 = Hi()


t1.start()
t2.start()

In [ ]:
from time import sleep
from threading import *

class Hello(Thread):
    def run(self):
        for i in range (20):
            print ('Hello')
            sleep(1)

class Hi(Thread):
    def run(self):
        for i in range (20):
            print ('Hi')
            sleep(1)
            
t1 = Hello()
t2 = Hi()


t1.start()
t2.start()

In [ ]:
from time import sleep
from threading import *

class Hello(Thread):
    def run(self):
        for i in range (10):
            print ('Hello')
            sleep(1)

class Hi(Thread):
    def run(self):
        for i in range (10):
            print ('Hi')
            sleep(1)
            
t1 = Hello()
t2 = Hi()


t1.start()
sleep(0.2)
t2.start()

In [18]:
from time import sleep
from threading import *

class Hello(Thread):
    def run(self):
        for i in range (5):
            print ('Hello')
            sleep(1)

class Hi(Thread):
    def run(self):
        for i in range (5):
            print ('Hi')
            sleep(1)
            
t1 = Hello()
t2 = Hi()


t1.start()
sleep(0.2)
t2.start()


t1.join()
t2.join()

print('Bye')

Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Bye

In [17]:
import time
import _thread

def thread_test(name, wait):
    i = 0
    while i <= 2:
        time.sleep(1)
        print("Running %s\n" %name)
        i = i + 1

    print("%s has finished execution" %name)

if __name__ == "__main__":
    
    _thread.start_new_thread(thread_test, ("First Thread", 1))
    _thread.start_new_thread(thread_test, ("Second Thread", 2))
    _thread.start_new_thread(thread_test, ("Third Thread", 3))

# _thread.join()

Running Third Thread

Running Second Thread

Running First Thread

Running Second Thread
Running Third Thread
Running First Thread



Running First Thread
Running Second Thread
Running Third Thread

Third Thread has finished execution

Second Thread has finished execution

First Thread has finished execution

In [13]:
from time import sleep, perf_counter
from threading import Thread


def task():
   
    print('Starting a task...')
    sleep(1)
    print('done')


start_time = perf_counter()

# create two new threads
t1 = Thread(target=task)
t2 = Thread(target=task)

# start the threads
t1.start()
t2.start()

# wait for the threads to complete
t1.join()
t2.join()

end_time = perf_counter()

print(f'It took {end_time- start_time: 0.1f} second(s) to complete.')

Starting a task...
Starting a task...
donedone

It took  1.0 second(s) to complete.

In [9]:
import threading

def cuber(n):
    print('Cube: {}'.format(n * n * n))

def squarer(n):
    print('Square: {}'.format(n * n))

if __name__ == '__main__':
    
# create the thread
    t1 = threading.Thread(target=squarer, args=(5,))
    t2 = threading.Thread(target=cuber, args=(5,))

# start the thread t1
t1.start()
# start the thread t2
t2.start()

# wait until t1 is completed
t1.join()
# wait until t2 is completed
t2.join()

# both threads completed
print('Done!')

Square: 25
Cube: 125
Done!