Function Arguments

In [ ]:
def update(x):
    x =8
    print(x)
update(10)

In [ ]:
def update(x):
    x =8
    print(x)
    
a=10
update(a)
print(a)

In [ ]:
def update(x):
    x =8
    print('x', x)
    
a=10
update(a)
print('a', a)

In [ ]:
def update(x):
    print(id(x))
    x=8
    print(id(x))

a = 10
print(id(a))
update(a)
print('a', a)

In [ ]:
def update(lst):
    print(id(lst))
    
    lst[1] =25
    print(id(lst))
    print('x', lst)

lst = [10, 25, 30]
print(id(lst))
update(lst)
print('lst', lst)

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(3))

In [ ]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(3,4))

In [ ]:
#postion argument
def person(name,age):
    print(name)
    print(age)

person('prasanthi', 28)

In [ ]:
def person_name(first_name,second_name):
    print(first_name+second_name)

person_name('prasanthi', 'lava')

In [ ]:
def person(name,age):
    print(name)
    print(age)

person(28, 'prasanthi')

In [ ]:
def person(name,age):
    print(name)
    print(age-5)

person(28, 'prasanthi')

In [ ]:
#keyword argument

def person(name,age):
    print(name)
    print(age)


person (age=28, name='prasanthi')

In [ ]:
#default 
def person(name,age=18):
    print(name)
    print(age)

person('prasanthi')

In [ ]:
def person(name,age=18):
    print(name)
    print(age)

person('prasanthi', 28)

In [ ]:
def sum(a, *b):
    c= a+b
    print(c)
 
sum(5,6,34,78)

In [ ]:
def add(a=5,b,c):
    return (a+b+c)

In [ ]:
def add(a,b,c):
    return (a+b+c)

print (add(a=10,3,4))

In [ ]:
def add(a,b=5,c=10):
    return (a+b+c)

print (add(2))

In [ ]:
def sum(a, *b):
    c=a
    
    for i in b:
        c = c+i
    print(c)

sum(5,6,34,78)

In [ ]:
def sum(a, *b):
    c=0
    
    for i in b:
        c = c+i
    print(c)

sum(5,6,34,78)

In [ ]:
def add(*b):
    result=0
    for i in b:
         result=result+i
    return result

print (add(1,2,3,4,5))

In [ ]:
def divide(a,b):
                return a/b
divide(3,2)

In [ ]:
def greet(name, msg):
    """This function greets to
    the person with the provided message"""
    print("Hello", name + ', ' + msg)

greet("prasanthi", "Good morning!")

In [ ]:
def divide_two(a, b):
    res = a / b
    return res
 
res = divide_two(12, 3)
print(res)

In [ ]:
def sayhello(name = 'world'):
    print('hello', name)

sayhello()
sayhello('prasanthi')

In [ ]:
def multiply(a, b):
    return a*b
    
print(multiply(a=10, b=5))
print(multiply(b=20, a=9))
print(multiply(a=90, b=25))

In [ ]:
def function(a,b,c):
    return a,b,c

print(function(12,22,23))

In [ ]:
def function(a,b,c):
    return a,b,c

a=10
b=20
c=30

print(function(a,b,c))

In [ ]:
def function(a,b,c):
    return a,b,c

a=10
b=20
c=30

print(function(b,c,a))

In [ ]:
def function(a,b,c):
    return a,b,c

print(function(b=20,a=10,c=30))

In [ ]:
def msg(x,y):
    print(x, 'prasanthi', y)

msg('Hai' , 'Good Morning')

In [ ]:
def add(x=1, y=2):
    z = x+y
    print(z)

add(4,5)

In [ ]:
def fun(a=10, b=20, c=30):
    return a,b,c

print(fun())

In [ ]:
def fun(a=10, b=20, c=30):
    return a,b,c

print(fun(1))

Keyword variable length

In [ ]:
def person(name, *data):
    print(name)
    print(data)

person('prasanthi',28, 'mumbai', 9812345)

In [ ]:
def person(name, *data):
    print(name)
    print(data)

person('prasanthi',age=28, city='mumbai', phone=9812345)

In [ ]:
def person(name, **data):
    print(name)
    print(data)

person ('prasanthi',age=28, city='mumbai', phone=9812345)

In [ ]:
def person(name, **data):
    
    print(name)
    
    for i,j in data.items():
        print(i,j)

person('prasanthi',age=28, city='mumbai', phone=9812345)

In [ ]:
def my_func(*argp):
    for i in argp:
        print(i)
my_func('Let', 'us', 'study', 'Data Science', 'and', 'Blockchain')

In [ ]:
def my_fun(par1,par2,*argp):
    
    print('The first parameter is:',par1)
    print('The second parameter is:',par2)
    
    for i in argp:
        print(i)
        
my_func('Let', 'us', 'study', 'Data Science', 'and', 'Blockchain')

In [ ]:
#program to demonstrate **kwargs 
def my_fun(*args,**kwargs):
    print('The value of args is:', args)
    print('The value of kwargs is:',kwargs)

my_fun('Let','us','study',a_key='Data Science',b_key='and',c_key='Blockchain')

Global keyword

In [ ]:
a = 10

print(a)

In [ ]:
a=10

def input():
    a=15

    print(a)
    
print(a)

In [ ]:
a=10

def input():
    a=15
    b=8
    print(a)

print(b)
    
print(a)

In [ ]:
a=10
def input():
    a=15
    print('in fun', a)
input()

print('outside', a)

In [ ]:
a=10
def input():
 
    print('in fun', a)
input()

print('outside', a)

In [ ]:
a=10
def input():
    global a
    a=15
    print('in fun', a)
    
input()

print('outside', a)

In [ ]:
a=10
print(id(a))

def input():
    a=9
    
    x=globals()['a']
    print(id(x))
    print('in fun', a)
    
    globals()['a'] = 15
    
input()

print('outside', a)

In [ ]:
c = 0
def add():
    global c
    c =c+2
    print('inside add():',c)
    
add()
print('In main:',c)

In [ ]:
a=15
b=10

def add():
    c = a+b
    print(c)
add()

In [ ]:
#This output is an error because we are trying to assign a value to a variable in an outer scope. 
#This can be done with the use of a global variable.a=15

def change():
    a = a+5
    
    print(a)

change()

In [ ]:
x =15

def change():
    global x
    x=x+5
    print('Value of x inside a function:', x)

change()
print('Value of x outside a function:', x)

Pass a list of elements

In [ ]:
def count(lst):
    even=0
    odd=0
    
    for i in lst:
        if i%2 == 0:
            even+=1
        else:
            odd+=1
    return even,odd
    

lst = [20,25,14,19,16,24,28,47,26]

even,odd = count(lst)

print(even)
print(odd)

In [ ]:
def count(lst):
    even=0
    odd=0
    
    for i in lst:
        if i%2 == 0:
            even+=1
        else:
            odd+=1
    return even,odd
    

lst = [20,25,14,19,16,24,28,47,26]

even,odd = count(lst)

print('Even : {} and Odd : {}'.format(even,odd))

In [ ]:
def tes1(cars):
 for i in cars:
    print(i)
merc = ["GLA", "GLE", "GLS"]
tes1(merc)

In [ ]:
#Use tuple() function

def argpass(a1, a2):
    print('argument 1:' + str(a1))
    print('argument 2:' + str(a2))

lis = ['Merc', 'BMW']
print("The original list is : " + str(lis))
x, y = tuple(lis)
argpass(x, y)

# Recursion

In [ ]:
#program factorial of a no using recursion

def fact(n):
    if n == 1:
        return 1
    else:
        return n*fact(n-1)
fact(4)

In [ ]:
import sys

sys.setrecursionlimit(2000)

print(sys.getrecursionlimit())

i=0

def greet():
    global i
    i+=1
    print('Hello', i)
    greet()
    
greet()

In [ ]:
#Factorial using Recursion
def Recur_fact(n):
    
    if (n==0):
        return 1
    
    return n * Recur_fact(n-1)

print(Recur_fact(5))

In [ ]:
def Recur_facto(n, a = 1):
    
    if (n == 0):
        return a

    return Recur_facto(n - 1, n * a)


print(Recur_facto(6))

In [ ]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)
num=7

if num < 0:
    print('Sorry, factorial does not exist for negative numbers')
elif num == 0:
    print('The factorial of 0 is 1')
else:
    print('The factorial of',num, 'is', recur_factorial(num))

In [ ]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)
num=-1

if num < 0:
    print('Sorry, factorial does not exist for negative numbers')
elif num == 0:
    print('The factorial of 0 is 1')
else:
    print('The factorial of',num, 'is', recur_factorial(num))

In [ ]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)
num=0

if num < 0:
    print('Sorry, factorial does not exist for negative numbers')
elif num == 0:
    print('The factorial of 0 is 1')
else:
    print('The factorial of',num, 'is', recur_factorial(num))

Anonymous Functions

In [ ]:
def square(a):
    return a*a

result = square(5)

print(result)

In [ ]:
f = lambda a:a*a

result = f(5)

print(result)

In [ ]:
x = lambda a:a+10
print(x(5))

In [ ]:
#Multiply argument
x = lambda a,b:a*b
print(x(5,6))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [ ]:
x = lambda a:a+a

print(x(2))

In [ ]:
x = lambda a:a+10

print(x(3))

In [ ]:
def fun(n):
    return lambda a:a*n

c=fun(2)

print(c(10))

 Filter Map Reduce

In [ ]:
#filter() without lambda

def is_even (n):
    return n%2 == 0

nums = [3,2,6,5,4,7,8,9,3,1]

even = list(filter(is_even,nums))

print(even)

In [ ]:
nums = [3,2,6,5,4,7,8,9,3,1]

evens = list(filter(lambda n : n%2 == 0, nums))

print(even)

In [ ]:
#map

nums = [3,2,6,5,4,7,8,9,3,1]

doubles = list(map(lambda n : n*2,evens))

print(doubles)

In [ ]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)

print(squared)

In [ ]:
#with map

items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print(squared)

In [ ]:
def function(a):
    return a*a
x = map(function, (1,2,3,4))  #x is the map object
print(x)
print(set(x))

In [ ]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

In [ ]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas, range(1, 7)))

print(result)

In [ ]:
#reduce

from functools import reduce

def add_all(a,b):
    return a+b 

nums = [3,2,6,5,4,7,8,9,3,1]

evens = list(filter(lambda n : n%2 == 0, nums))

doubles = list(map(lambda n : n*2,evens))
print(doubles)

sum = reduce(lambda a,b:a+b,doubles)

print(sum)

In [ ]:
reduce(lambda a,b: a+b,[23,21,45,98])

In [ ]:
#without reduce
product = 1

list = [1, 2, 3, 4]

for num in list:
    product = product * num
    
print(product)

In [ ]:
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])

print(product)

In [ ]:
def func(x):
    if x>=3:
        return x
y = filter(func, (1,2,3,4)) 

print(y)

print(list(y))

In [ ]:
list2=[1,2,3,4,5,6,7,8,9]

output = list(filter(lambda x:x%2 == 0, list2))

print(output)

In [ ]:
list2=[1,2,3,4,5,6,7,8,9]

print(list(filter(lambda x:x%2 == 0, list2)))

In [ ]:

names = ['abhi', 'chinnu', 'kanna','','','', 'ganesh','']

print(list(filter(None,names)))

--name--

In [ ]:
print(__name__)

In [ ]:
print("hello")

In [ ]:
print('Hello + __name__')

In [ ]:
import cal

print('Demo:' + __name__)

In [ ]:
def main():
    print('Hello')
    Print('Welcome User')

if __name__ == '__main':
    main()

In [ ]:
import second

print('first file')

In [ ]:
import sec

print(sec.a)

if __name__ == '__main__':

     print('first file')

In [ ]:
import calculator

print('from calculator.py',  __name__)

In [ ]:
import cal

In [ ]:
print(cal.add(7,6))

In [ ]:
print(calculator.add(7,6))

In [ ]:
import calculator

print(calculator.add(7,6))

In [ ]:
def fun1():
    print('from fun1')
    
    
def fun2():
    print('from fun2')
    
    
 
def main():
    fun1()
    fun2()
    
    
main()

In [ ]:
from cal1 import add

def fun1():
    add()
    print('from fun1')
    
    
def fun2():
    print('from fun2')
    
    
 
def main():
    fun1()
    fun2()
    
    
main()

In [ ]:
def sum():
    print('result 1 is ')


def sub():
    print('result 2 is ')    
    
def main():
    add()
    sub()
    
main()

In [ ]:
def sum():
    print('result 1 is ')


def sub():
    print('result 2 is ')    
    
def main():
    sum()
    sub()
    
    
main()

# MultiThreading

In [ ]:
class Hello:
    def run(self):
        for i in range (5):
            print ('Hello')

class Hi:
    def run(self):
        for i in range (5):
            print ('Hi')
            
t1 = Hello()
t2 = Hi()


t1.run()
t2.run()

In [ ]:
class Hello(Thread):
    def run(self):
        for i in range (5):
            print ('Hello')

class Hi(Thread):
    def run(self):
        for i in range (5):
            print ('Hi')
            
t1 = Hello()
t2 = Hi()


t1.run()
t2.run()

In [ ]:
from threading import *
class Hello(Thread):
    def run(self):
        for i in range (5):
            print ('Hello')

class Hi(Thread):
    def run(self):
        for i in range (5):
            print ('Hi')
            
t1 = Hello()
t2 = Hi()


t1.run()
t2.run()

In [ ]:
#start
from threading import *

class Hello(Thread):
    def run(self):
        for i in range (50):
            print ('Hello')

class Hi(Thread):
    def run(self):
        for i in range (50):
            print ('Hi')
            
t1 = Hello()
t2 = Hi()


t1.start()
t2.start()

In [ ]:
from time import sleep
from threading import *

class Hello(Thread):
    def run(self):
        for i in range (20):
            print ('Hello')
            sleep(1)

class Hi(Thread):
    def run(self):
        for i in range (20):
            print ('Hi')
            sleep(1)
            
t1 = Hello()
t2 = Hi()


t1.start()
t2.start()

In [ ]:
from time import sleep
from threading import *

class Hello(Thread):
    def run(self):
        for i in range (10):
            print ('Hello')
            sleep(1)

class Hi(Thread):
    def run(self):
        for i in range (10):
            print ('Hi')
            sleep(1)
            
t1 = Hello()
t2 = Hi()


t1.start()
sleep(0.2)
t2.start()

In [ ]:
from time import sleep
from threading import *

class Hello(Thread):
    def run(self):
        for i in range (5):
            print ('Hello')
            sleep(1)

class Hi(Thread):
    def run(self):
        for i in range (5):
            print ('Hi')
            sleep(1)
            
t1 = Hello()
t2 = Hi()


t1.start()
sleep(0.2)
t2.start()


t1.join()
t2.join()

print('Bye')

In [ ]:
import time
import _thread

def thread_test(name, wait):
    i = 0
    while i <= 2:
        time.sleep(1)
        print("Running %s\n" %name)
        i = i + 1

    print("%s has finished execution" %name)

if __name__ == "__main__":
    
    _thread.start_new_thread(thread_test, ("First Thread", 1))
    _thread.start_new_thread(thread_test, ("Second Thread", 2))
    _thread.start_new_thread(thread_test, ("Third Thread", 3))

# _thread.join()

In [ ]:
from time import sleep, perf_counter
from threading import Thread


def task():
   
    print('Starting a task...')
    sleep(1)
    print('done')


start_time = perf_counter()

# create two new threads
t1 = Thread(target=task)
t2 = Thread(target=task)

# start the threads
t1.start()
t2.start()

# wait for the threads to complete
t1.join()
t2.join()

end_time = perf_counter()

print(f'It took {end_time- start_time: 0.1f} second(s) to complete.')

In [ ]:
import threading

def cuber(n):
    print('Cube: {}'.format(n * n * n))

def squarer(n):
    print('Square: {}'.format(n * n))

if __name__ == '__main__':
    
# create the thread
    t1 = threading.Thread(target=squarer, args=(5,))
    t2 = threading.Thread(target=cuber, args=(5,))

# start the thread t1
t1.start()
# start the thread t2
t2.start()

# wait until t1 is completed
t1.join()
# wait until t2 is completed
t2.join()

# both threads completed
print('Done!')

# Binary Search

In [ ]:
pos = -1

def search(list, n):
    l = 0
    u = len(list)-1
    
    while l<=u:
        mid=(l+u) // 2
        
        if list[mid] == n:
            globals() ['pos'] = mid
            return True
        else:
            if list[mid] < n:
                l=mid+1
            else:
                u = mid -1
    return False

list = [4,7,8,12,45,99,88]
n=5

if search (list, n):
    print('Found at', pos+1)
    
else:
    print('Not Found')

In [ ]:
def binary_search(arr,x):
    l=0
    r=len(arr)-1
    
    while(l<=r):
        mid=(l+r)//2
        
        if(arr[mid]==x):
            return mid
        elif(x<arr[mid]):
            r=mid-1
        elif(x>arr[mid]):
            l=mid+1
    return -1

array=[1,2,3,4,5,6,7,8,9,10]
a=6
print(binary_search(array,a))
b=11
print(binary_search(array,b))

In [ ]:
def binary_search(item_list,item):
    first = 0
    last = len(item_list)-1
    found = False
    
    while(first<=last and not found):
        mid = (first + last)//2
        if item_list[mid] == item :
            found = True
        else:
            if item < item_list[mid]:
                last = mid - 1
            else:
                first = mid + 1	
    return found
    
print(binary_search([1,2,3,5,8], 6))
print(binary_search([1,2,3,5,8], 5))

In [ ]:
# Iterative Method
array = [3,4,5,6,7,8,9,10,11,12]

In [ ]:
#searching element
x = 9

In [ ]:
def binarysearch(array, x, low, high):
    
    while low <= high:
        mid = low + (high -low) // 2
        
        if array[mid] == x:
            return mid
        elif array [mid] < x:
            low = mid +1
        else:
            high = mid -1
    return -1

In [ ]:
result = binarysearch(array, x, 0, len(array)-1)

In [ ]:
if result == -1:
    print('Element not found in the array')
else:
    print(f'Element found at index:{result}')

In [ ]:
# Recursive Method
array = [3,4,5,6,7,8,9,10,11,12]
x = 5

def binarysearch(array, x, low, high):
    if high >= low:
        mid = low + (high-low) //2
        
        if array [mid] == x:
            return mid
        elif array [mid] < x:
            return binarysearch (array, x, mid+1, high)
        else:
            return binarysearch(array, x, low, mid-1)
    return -1

result = binarysearch(array, x, 0, len(array)-1)

if result == -1:
    print('Element not found in array')

else:
    print(f'Element found at index: {result}')

In [ ]:
array = [5,6,3,7,8,3,9,2,0,]
x = 6

def binarysearch(array, x, low, high):
    if high >= low:
        mid = low + (high-low) //2
        
        if array [mid] == x:
            return mid
        elif array [mid] < x:
            return binarysearch (array, x, mid+1, high)
        else:
            return binarysearch(array, x, low, mid-1)
    return -1

result = binarysearch(array, x, 0, len(array)-1)

if result == -1:
    print('Element not found in array')

else:
    print(f'Element found at index: {result}')

In [ ]:
def binarysearch (arr, k, low, high):
    
    while low <= high:
        mid = low + (high - low) //2
        if arr [mid] == k:
            return mid
        elif arr[mid] < k:
            low = mid + 1
        else:
            high = mid -1
    return -1

arr = [1,3,5,7,9]

k =7
result = binarysearch(arr, k, 0, len(arr)-1)

if result != -1:
    print('Element is present at index' + str(result))
else:
    print('Not Found')

In [ ]:
def binary_search(arr, a, low, high):

    # Repeat until low and high meet each other
    while low <= high:

        mid = low + (high - low)//2

        if arr[mid] == a:
            return mid

        elif array[mid] < a:
            low = mid + 1

        else:
            high = mid - 1

    return -1

arr = [1, 2, 3, 4, 5, 6, 7]
a = 4

#printing the array
print("The given array is", arr)

#printing element to be found
print("Element to be found is ", a)

index = binary_search(arr, a, 0, len(arr)-1)

if index != -1:
    print("The Index of the element is " + str(index))
else:
    print("Element Not found")

In [ ]:
git clone https://github.com/prasanthic94/demobygit.git

# ZIP

In [ ]:
names = ('prasanthi', 'kiran', 'lava')
comps = ('dell','ms', 'gen')

zipped = zip(names,comps)

print(zipped)

In [ ]:
names = ('prasanthi', 'kiran', 'lava')
comps = ('dell','ms', 'gen')

zipped = list(zip(names,comps))

print(zipped)

In [ ]:
names = ('prasanthi', 'kiran', 'lava')
comps = ('dell','ms', 'gen')

zipped = set(zip(names,comps))

print(zipped)

In [ ]:
names = ('prasanthi', 'kiran', 'lava')
comps = ('dell','ms', 'gen')

zipped = dict(zip(names,comps))

print(zipped)

In [ ]:
names = ('prasanthi', 'kiran', 'lava')
comps = ('dell','ms', 'gen')

zipped = tuple(zip(names,comps))

print(zipped)

In [ ]:
names = ('prasanthi', 'kiran', 'lava')
comps = ('dell','ms', 'gen')

zipped = list(zip(names,comps))

for (a,b) in zipped:
    
    print(a,b)

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
print(x)

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = list(zip(a, b))
print(x)

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

print(tuple(x))

In [ ]:
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

result = zip()

result_list = list(result)
print(result_list)

In [ ]:
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

result = zip()

result = zip(number_list, str_list)

result_set = set(result)
print(result_set)

In [ ]:
numbersList = [1, 2, 3]
str_list = ['one', 'two']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

result = zip(numbersList, numbers_tuple)

result_set = set(result)
print(result_set)

In [ ]:
numbersList = [1, 2, 3]
str_list = ['one', 'two']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

result = zip(numbersList, numbers_tuple)
result_set = set(result)
print(result_set)

In [ ]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)

c, v =  zip(*result_list)
# print('c =', c)
print('v =', v)

In [ ]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)

c, v =  zip(*result_list)
print('c =', c)
print('v =', v)

In [ ]:
import smtplib

server = smtplib.SMTP('smtp.gmail.com', 587)

server.starttls()

server.login('cprasanthi82@gmail.com', 'sivareddy94')

server.sendmail('cprasanthi82@gmail.com', 'prasanthic94@gmail.com''Mail snt from python code')
print('Mail sent')
server.quit()

# Class

In [ ]:
class Human:
    def __init__(self, n, o):
        self.name = n
        self.occupation = o
    def do_work(self):
        if self.occupation == 'Tennis player':
            print (self.name, 'play tennis')
        elif self.occupation == 'actor':
            print (self.name, 'shoots film')
    def speaks (self):
        print(self.name, 'says how are you?')
        
tom = Human('tom cruise', 'actor')
tom.do_work()
tom.speaks()

In [ ]:
class Human:
    def __init__(self, n, o):
        self.name = n
        self.occupation = o
    def do_work(self):
        if self.occupation == 'Tennis player':
            print (self.name, 'play tennis')
        elif self.occupation == 'actor':
            print (self.name, 'shoots film')
    def speaks (self):
        print(self.name, 'says how are you?')
        
maria = Human('maria','tennis player')
maria.do_work()
maria.speaks()

In [ ]:
class Prasanthi:
    print('this is class')

In [ ]:
class Prasanthi:
    print('this is class')
    def display(self):
        a=10
        b=20
        print(a,b)
    display(self)

In [ ]:
class Prasanthi:
    print('this is class')
    def display(self):
        a=10
        b=20
        print(a,b)

obj = Prasanthi()
obj.display()

In [ ]:
class Mobile:
    def __init__(self,Brand,battery,ram,camera,price):
        self.Brand=Brand
        self.battery=battery
        self.ram=ram
        self.camera=camera
        self.price=price
    def display(self):
        print('Brand:',Brand)
        print('battery:',battery)
        print('ram:',ram)
        print('camera:',camera)
        print('price:',price)

obj=Mobile('oppa', '4000mah', '8gb', '48mp', '45000')
obj.display()

In [ ]:
class Mobile:
    def __init__(self, brand, battery, ram, camera, price):
        self.brand=brand
        self.battery=battery
        self.ram=ram
        self.camera=camera
        self.price=price
    def display(self):
        print('Brand:', self.brand)
        print('battery:', self.battery)
        print('ram:', self.ram)
        print('camera:', self.camera)
        print('price:', self.price)

In [ ]:
obj=Mobile('oppa','4000mah','8gb','48mp','45000')
obj.display()

In [ ]:
class Mobile:
    def __init__(self):
        print('this is init')
    def display(self):
        print('this method')
obj=Mobile()
obj.display()

In [ ]:
class Add:
    x=100
    y=200
    def sum(self):
        print('addition=', self.x + self.y)

obj=Add()
obj.sum()

In [ ]:
class Add:
    a=400
    b=600
    def sum(self):
        return self.a + self.b

obj=Add()
print('Addition=', obj.sum())

In [ ]:
class Add:
    a=400
    b=600
    def sum(self):
        return self.a + self.b

obj=Add()
print('Addition=', obj.sum())
print('a value=', obj.a)

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person('Prasanthi', 27)

print(p1.name)
print(p1.age)

In [ ]:
class Cars:
    def __init__(self, name, number):
        self.name = name
        self.number = number
    def myfun(self):
        print('Hello my car is'+  self.name)

p1 = Cars('swift', 3)
p1.myfun()

In [ ]:
class Snake:
    name = 'python'
snake = Snake()
print(snake.name)

In [ ]:
class Snake:
    name = 'python'
    def change_name(self, new_name):
        self.name = new_name
snake = Snake()
print(snake.name)
snake.change_name('anaconda')
print(snake.name)

# Inheritance

In [ ]:
class Robo:
    def one(self):
        print('This is Baseclass')
class chitti(Robo):
    def Two(self):
        print('This is Derived class')


obj=chitti()
obj.one()
obj.Two()

In [ ]:
class Vehicle:
    def general_usage(self):
        print('general use: transport')
class Car(Vehicle):
    def __init__(self):
        print("I'm car")
        self.wheels=4
        
c = Car()
c.general_usage()

In [ ]:
class Animal:
    def speak(self):
        print('Animal Speaking')
class Dog(Animal):
    def bark(self):
        print('dog barking')
d = Dog()
d.bark()
d.speak()

In [ ]:
#Multi-level inheritance
class Animal:
    def speak(self):
        print('Animal Speaking')
class Dog(Animal):
    def bark(self):
        print('dog barking')
class DogChild(Dog):
    def eat(self):
        print('Eating bread')
d = DogChild()
d.bark()
d.speak()
d.eat()

In [ ]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

obj = Person("Lava", "K")
obj.printname()

In [ ]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

class Student(Person):
    def __init__(self, fname, lname):
        Person.__init__(self, fname, lname)

x = Student("PR", "chi")
x.printname()

In [ ]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2019

obj = Student("Prasanthi", "c")
print(obj.graduationyear)

In [ ]:
class Parent():
    def first(self):
           print('first function')

class Child(Parent):
    def second(self):
        print('second function')
 
 
obj = Child()
obj.first()
obj.second()

In [ ]:
class Parent:
    def func1(self):
        print("this is Animal")
class Parent2:
    def func2(self):
        print("this is Plant")
class Child(Parent , Parent2):
    def func3(self):
        print("this is Earth")

        
obj = Child()
obj.func1()
obj.func2()
obj.func3()

In [ ]:
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')

class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')

car = Car()


car.Vehicle_info()
car.car_info()

In [ ]:
class Vehicle:
    def general_usage(self):
        print('general use: transporation')

class Car(Vehicle):
    def __init__(self):
        print("I'm car")
        self.wheels = 4
        self.has_roof = True
    def specific_usage(self):
        print('specific use: commute to work, vacation with family')

class MotorCycle(Vehicle):
    def __init__(self):
        print("I'm motor cycle")
        self.wheels = 4
        self.has_roof = True
    def specific_usage(self):
        print("specific use: road trip, racing")
        
c = Car()
c.general_usage()
c.specific_usage()

In [ ]:
class Vehicle:
    def general_usage(self):
        print('general use: transporation')

class Car(Vehicle):
    def __init__(self):
        print("I'm car")
        self.wheels = 4
        self.has_roof = True
    def specific_usage(self):
        print('specific use: commute to work, vacation with family')

class MotorCycle(Vehicle):
    def __init__(self):
        print("I'm motor cycle")
        self.wheels = 4
        self.has_roof = True
    def specific_usage(self):
        print("specific use: road trip, racing")
        
m = MotorCycle()
m.general_usage()
m.specific_usage()

In [ ]:
class A:
    x = "Parent class variable"
        
class B(A):
    pass

c1 =A()
obj = B()
print(obj.x)

In [ ]:
# Multiple Inheritance

class Father():
    def gardening(self):
        print('I enjoy gardening')

class Mother():
    def cooking(self):
        print('I love cooking')
    
class Child(Father, Mother):
    def sports(self):
        print('I enjoy sports')
    
    
c= Child()
c.gardening()
c.cooking()
c.sports()

In [ ]:
class Father():
    def skills (self):
        print('gardening, programming')

class Mother():
    def skills (self):
        print('art,cooking')
    
class Child(Father, Mother):
    def skills(self):
        Father.skills(self)
        Mother.skills(self)
        print('I enjoy sports')
    
    
c= Child()
c.skills()

In [ ]:
# Python Program to depict multiple inheritance
# when method is overridden in both classes

class Class1:
    def m(self):
        print("In Class1")
        
class Class2(Class1):
    def m(self):
        print("In Class2")

class Class3(Class1):
    def m(self):
        print("In Class3")
    
class Class4(Class2, Class3):
        pass

obj = Class4()
obj.m()

In [ ]:
class Calculation1:  
    def Summation(self,a,b):  
        return a+b;
    
class Calculation2:  
    def Multiplication(self,a,b):  
        return a*b;
    
class Derived(Calculation1,Calculation2):  
    def Divide(self,a,b):  
        return a/b; 

d = Derived()  
print(d.Summation(1,2))  
print(d.Multiplication(1,2))  
print(d.Divide(1,2))

In [ ]:
class Car:
    def go(self):
        print('Going')

class Flyable:
    def fly(self):
        print('Flying')
        
class FlyingCar(Flyable, Car):
    pass

if __name__ == '__main__':
    fc = FlyingCar()
    fc.go()
    fc.fly()

# Raise Exception

In [ ]:
try:
    raise MemoryError('memory error')

except MemoryError as e:
    print (e)

In [ ]:
class Accident(Exception):
    def __init__(self,msg):
        self.msg=msg
    def print_exception(self):
        print('User defined exception', self.msg)
        
    
try:
    raise Accident('crash betwween two cars')

except Accident as e:
    e.print_exception()

In [ ]:
class Accident(Exception):
    def __init__(self,msg):
        self.msg=msg
    def handle(self):
        print('accident occured. take detour')
        
    
try:
    raise Accident('crash betwween two cars')

except Accident as e:
    e.handle()

In [ ]:
try:
    amount=int(input('enter the amount to be transferred'))
    if amount>20000:
        raise Exception
    else:
        print('continue the transaction')
except:
    print('amount is exceeding limit')

In [ ]:
try:
    amount=int(input('enter the amount to be transferred'))
    if amount>20000:
        raise ValueError
    else:
        print('continue the transaction')
except ValueError:
    print('amount is exceeding limit')

In [ ]:
try:
    raise KeyboardInterrupt
finally:
    print 'welcome, world!'

In [ ]:
a=int(input('Enter value for a:'))
b=int(input('Enter value for b:'))
try:
    if b == 0:
        raise Exception
    c=a/b
    print(c)
except:
    print('Exception')

In [ ]:
a=int(input('Enter value for a:'))
b=int(input('Enter value for b:'))
try:
    if b == 0:
        raise ZeroDivisionError('Divided by Zero')
    c=a/b
    print(c)
except ZeroDivisionError as e:
    print(e)

# Iterators

In [ ]:
class RemoteControl():
    def __init__(self):
        self.channels=['HBO', 'CNN', 'abc', 'tv9']
        self.index = -1
    def __iter__ (self):
        return self
    def __next__ (self):
        self.index +=1
        if self.index == len(self.channels):
            raise StopIteration
            
        return self.channels[self.index]

r = RemoteControl()
itr=iter(r)
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))

In [ ]:
lst = [2,2.6,8,9, 'prasanthi']

x = iter(lst)

print(x)
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

In [ ]:
class numbers:
    def __init__(self):
        self.num = 1
    def __iter__(self):
        return(self)
    def __next__(self):
        if self.num <=20:
            result = self.num
            self.num +=1
            return (result)
        
        else:raise StopIteration

x = numbers()

for i in x:
    print(i)

In [ ]:
mytuples = ('apple', 'banana', 'cherry')
myit = iter(mytuples)

print(next(myit))
print(next(myit))

In [ ]:
mystr = 'banana'
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))

In [ ]:
mystr = 'banana'

for x in mystr:
    print(x)

In [ ]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        x = self.a
        self.a += 1
        return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

In [ ]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        if self.a <= 20:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
    print(x)

In [ ]:
iterable_value = 'prasanthi'
iterable_obj = iter(iterable_value)

while True:
    try:
        item = next(iterable_obj)
        print(item)
                
    except StopIteration:
        break

In [ ]:
class Test:
    def __init__(self, limit):
        self.limit = limit

    def __iter__(self):
        self.x = 10
        return self
    
    def __next__(self):
        x = self.x

        if x > self.limit:
            raise StopIteration
        self.x = x + 1;
        return x

for i in Test(15):
    print(i)


for i in Test(5):
    print(i)

In [ ]:
from itertools import chain
def chain_func(l1,l2,l3):
    return chain(l1,l2,l3)

result = chain_func([1,2,3], ['a','b','c','d'], [4,5,6,7,8,9])
print('Type of the new iterator:')
print(type(result))
print('Elements of the new iterator:')
for i in result:
    print(i)

In [ ]:
result = chain_func((10,20,30,40), ('A','B','C','D'),(40,50,60,70))
print('Type of the new iterator:')
print(type(result))
print('Elements of the new iterator:')
for i in result:
    print(i)

#Generators

In [ ]:
def table(num):
    
    for i in range (1,11):
        print(f'{num}X{i}={num*i}')

table(6)

In [ ]:
def fib():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a+b
        
for f in fib():
    if f> 50:
        break
    print(f)

In [ ]:
import types
def a(x):
    yield x
    
def b(x):
    return x

def add(x,y):
    return x + y

print(isinstance(a(456), types.GeneratorType))
print(isinstance(b(823), types.GeneratorType))
print(isinstance(add(8,2), types.GeneratorType))

In [ ]:
def fruits():
    yield "Mango"
    yield "Jackfruit"
    yield "Banana"
    yield  "Guava"

getfruits = fruits()

for a in getfruits:
    print(a)

In [ ]:
def timesTable(number):
    for i in range (1, 11):
        yield i * number
        i += 1

gettimes = timesTable(10)
for a in gettimes:
    print(a)

# Object Oriented programming

In [ ]:
# to know the data types
item1 = 'Phone'
item1_price = 100
item1_quantity = 5
item1_price_total = item1_price*item1_quantity

print(type(item1))
print(type(item1_price))
print(type(item1_quantity))
print(type(item1_price_total))

In [ ]:
class Item:
    pass

item1 = Item()
item1.name = 'Phone'
item1.price = 100
item1.quantity = 5


print(type(item1))
print(type(item1.name))
print(type(item1.price))
print(type(item1.quantity))

In [ ]:
#uppercase
random_str = 'prasanthi'
print(random_str.upper())

In [ ]:
class Item:
    def claculate_total_price(self):
        pass
    
item2 = Item()
item2.name = 'Laptop'
item2.price = 10000
item2.quantity = 2


print(type(item2))
print(type(item2.name))
print(type(item2.price))
print(type(item2.quantity))

In [ ]:
class test():
    print('Hello')
    def msg(self):
        print('Hello World')
        print('welcome to python')
        
        
a=test()
print(a)
print(id(a))
a.msg()

In [ ]:
class test():
    print('Hello')
    def msg(self):
        print('Hello World')
        print('welcome to python')

a = test()
print(a)
a1 = test()
print(a1)
a2 = test()
print(a2)

In [ ]:
class Item:
    def calculate_total_price(self, x, y):
        return x * y

    
    
    
item1 = Item()
item1.name = 'Phone'
item1.price = 500
item1.quantity = 5
print(item1.calculate_total_price(item1.price, item1.quality))
    
    
item2 = Item()
item2.name = 'Laptop'
item2.price = 10000
item2.quantity = 2
print(item2.calculate_total_price(item2.price, item2.quality))

In [ ]:
class Item:
    def __init__(self):
        print('I AM CREATED')
    def calculate_total_price(self, x, y):
        return x * y

item1 = Item()
item1.name = 'phone'
item1.price = 100
item1.quantity = 2

item2 = Item()
item2.name = 'Laptop'
item2.price = 10000
item2.quantity = 2

In [ ]:
class Item:
    def __init__(self, name):
        print(f'I AM CREATED')
    def calculate_total_price(self, x, y):
        return x * y

item1 = Item('phone')
item1.name = 'phone'
item1.price = 500
item1.quantity = 2

item2 = Item('laptop')
item2.name = 'Laptop'
item2.price = 10000
item2.quantity = 2

In [ ]:
class Item:
    def __init__(self, name):
        print(f'An instance created:{name}')
    def calculate_total_price(self, x, y):
        return x * y

item1 = Item('phone')
item1.name = 'phone'
item1.price = 500
item1.quality = 2

item2 = Item('laptop')
item2.name = 'Laptop'
item2.price = 10000
item2.quality = 2

In [ ]:
class Item:
    def __init__(self, name):
        self.name = name
    def calculate_total_price(self, x, y):
        return x * y

item1 = Item('phone')
item1.price = 500
item1.quantity = 2

item2 = Item('laptop')
item2.price = 10000
item2.quantity = 2

print(item1.name)
print(item2.name)

In [ ]:
class Item:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity
    def calculate_total_price(self, x, y):
        return x * y

item1 = Item('phone', 500, 3)

item2 = Item('laptop', 10000, 2)

print(item1.name)
print(item2.name)
print(item1.price)
print(item2.price)
print(item1.quantity)
print(item2.quantity)

In [ ]:
class dog:
    pass


obj = dog()
print(obj)

In [ ]:
class Employee:
    company_name = 'XYZ Company'
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        
    def show(self):
        print('Employee:', self.name, self.salary, self.company_name)
        

emp1 = Employee('qpr', 12000)
emp1.show()

emp2 = Employee('abc', 15000)
emp2.show()

In [ ]:
class Item:
    def __init__(self, name, price, quantity=0):
        self.name = name
        self.price = price
        self.quantity = quantity
        
    def calculate_total_price(self):
        return self.price * self.quantity

item1 = Item('phone', 500, 3)

item2 = Item('laptop', 10000, 2)

print(item1.calculate_total_price())
print(item2.calculate_total_price())

In [ ]:
class Item:
    def __init__(self, name: str, price: float, quantity=0):
        assert price >=0, f'print {price} is not greater than or equal tozero'
        assert quantity >=0, f'quantity {quantity} is not greater than or equal to zero'
        
        self.name = name
        self.price = price
        self.quantity = quantity
        
    def calculate_total_price(self):
        return self.price * self.quantity
    

item1 = Item ('phone', 100, 1)
item2 = Item ('laptop', 1000, 3)

print(item1.calculate_total_price())
print(item2.calculate_total_price())

In [ ]:
class Circle:
    pi = 3.14159

    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return self.pi * self.radius**2

    def circumference(self):
        return 2 * self.pi * self.radius
    

c = Circle(10)
print(c.pi)
print(Circle.pi)

In [ ]:
class ExampleClass(object):
  class_attr = 0

  def __init__(self, instance_attr):
    self.instance_attr = instance_attr

In [ ]:
class A:
    a = "I am a class attribute!"
x = A()
y = A()
x.a

In [ ]:
y.a

In [ ]:
class Robot:
    Three_Laws = (
"""A robot may not injure a human being or,""",
"""A robot must obey the orders given to it by human beings.,""",
"""A robot must protect its own existence"""
)
    def __init__(self, name, build_year):
        self.name = name
        self.build_year = build_year
        from robot_asimov import Robot
for number, text in enumerate(Robot.Three_Laws):
    print(str(number+1) + ":\n" + text)

In [ ]:
class Item:
    
    pay_rate = 0.8
    all = []
    def __init__(self, name: str, price: float, quantity=0):
        assert price >=0, f'print {price} is not greater than or equal tozero'
        assert quantity >=0, f'quantity {quantity} is not greater than or equal to zero'
        
        self.name = name
        self.price = price
        self.quantity = quantity
        
        Item.all.append(self)
        
    def calculate_total_price(self):
        return self.price * self.quantity
    
    def apply_discount(self):
        self.price = self.price * self.pay_rate
    

item1 = Item ('phone', 100, 1)
item2 = Item ('laptop', 1000, 3)
item3 = Item ('cable', 10, 5)
item4 = Item ('Mouse', 50, 5)
item5 = Item ('keyboard', 75, 5)

print(Item.all)

In [ ]:
class Item:
    
    pay_rate = 0.8
    all = []
    def __init__(self, name: str, price: float, quantity=0):
        assert price >=0, f'print {price} is not greater than or equal tozero'
        assert quantity >=0, f'quantity {quantity} is not greater than or equal to zero'
        
        self.name = name
        self.price = price
        self.quantity = quantity
        
        Item.all.append(self)
        
    def calculate_total_price(self):
        return self.price * self.quantity
    
    def apply_discount(self):
        self.price = self.price * self.pay_rate
    

item1 = Item ('phone', 100, 1)
item2 = Item ('laptop', 1000, 3)
item3 = Item ('cable', 10, 5)
item4 = Item ('Mouse', 50, 5)
item5 = Item ('keyboard', 75, 5)

for instance in Item.all:
    print(instance.name)

In [ ]:
# __repr__
class Item:
    
    pay_rate = 0.8
    all = []
    def __init__(self, name: str, price: float, quantity=0):
        assert price >=0, f'print {price} is not greater than or equal tozero'
        assert quantity >=0, f'quantity {quantity} is not greater than or equal to zero'
        
        self.name = name
        self.price = price
        self.quantity = quantity
        
        Item.all.append(self)
        
    def calculate_total_price(self):
        return self.price * self.quantity
    
    def apply_discount(self):
        self.price = self.price * self.pay_rate
    def __ref__(self):
        return f"Item('{self.name}', {self.price}, {self.quantity})"


m1 = Item ('phone', 100, 1)
m2 = Item ('laptop', 1000, 3)
m3 = Item ('cable', 10, 5)
m4 = Item ('Mouse', 50, 5)
m5 = Item ('keyboard', 75, 5)

print(Item.all)

In [ ]:
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
    def __repr__(self):
        return f'Person("{self.first_name}","{self.last_name}",{self.age})'  
        
person = Person('Abc', 'Def', 25)
print(repr(person))

In [ ]:
class point:
    def __init__(self, x, y):
        self.x, self.y = x, y
        
    def __repr__(self):
        return 'Point(x=%s, y=%s)' % (self.x, self.y)
    
p = point(3, 4)

print(p)

In [ ]:
class Book:
    def __init__(self, title, quantity, author, price):
        self.title = title
        self.quantity = quantity
        self.author = author
        self.price = price
        
book1 = Book('Book 1', 12, 'Author 1', 120)
book2 = Book('Book 2', 18, 'Author 2', 220)
book3 = Book('Book 3', 28, 'Author 3', 320)

print(book1)
print(book2)
print(book3)

In [ ]:
class Book:
    def __init__(self, title, quantity, author, price):
        self.title = title
        self.quantity = quantity
        self.author = author
        self.price = price
        
    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.price}"

        
book1 = Book('Book 1', 12, 'Author 1', 120)
book2 = Book('Book 2', 18, 'Author 2', 220)
book3 = Book('Book 3', 28, 'Author 3', 320)

print(book1)
print(book2)
print(book3)

In [ ]:
import csv

class Item:

    
    pay_rate = 0.8
    all = []
    def __init__(self, name: str, price: float, quantity=0):
        assert price >=0, f'print {price} is not greater than or equal tozero'
        assert quantity >=0, f'quantity {quantity} is not greater than or equal to zero'
        
        self.name = name
        self.price = price
        self.quantity = quantity
        
        Item.all.append(self)
        
    def calculate_total_price(self):
        return self.price * self.quantity
    
    def apply_discount(self):
        self.price = self.price * self.pay_rate
    def __ref__(self):
        return f"Item('{self.name}', {self.price}, {self.quantity})"
    @classmethod
    def instantiate_from_csv(cls):
    
        with open('items.csv', 'r') as f:
            reader = csv.DictReader(f)
            items = list(reader)
        for item in items:
            Item( 
                name=item.get('name'),
                price=int(item.get('price')),
                quantity=int(item.get('quantity'))
             )
        
Item.instantiate_from_csv()
print(Item.all)

In [ ]:
# Static method

import csv
class phone(Item):
    all=[]
    def __init__(self, name: str, price: float, quantity=0, broken_phones=0):
        assert price >=0, f'print {price} is not greater than or equal tozero'
        assert quantity >=0, f'quantity {quantity} is not greater than or equal to zero'
        assert broken_phones >=0, f'broken_phone {broken_phones} is not greater than or equal to zero'
        self.name = name
        self.price = price
        self.quantity = quantity
        self.broken_phones = broken_phones
        
        phone.all.append(self)
        
phone1 = phone('jscphone10', 500, 5, 1)
print(phone1.calculate_total_price())
phone2 = phone('jscphone20', 700, 5, 1)

In [ ]:
class Maths:

    def addNumbers(x, y):
        return x + y

# create addNumbers static method
Maths.addNumbers = staticmethod(Maths.addNumbers)

print('The sum is:', Maths.addNumbers(5, 10))

In [ ]:
class Employee:
    @staticmethod
    def sample(x):
        print('Inside static method', x)


#call static method        
Employee.sample(10)

#can be called using object
emp = Employee()
emp.sample(10)

In [ ]:
class Employee:
    def sample(x):
        print('Inside static method', x)

        
Employee.sample=staticmethod(Employee.sample)
Employee.sample(20)

In [ ]:
class calculator:
    def addnumber(x, y):
        return x + y

calculator.addnumber = staticmethod(calculator.addnumber)

print('product:', calculator.addnumber(15, 110))

In [ ]:
class person:
    def __init__(self, name, sex, profession):
        #instance variable
        self.name = name
        self.sex = sex
        self.profession = profession
     #instance method
    def show(self):
        print('Name:', self.name, 'Sex:', self.sex, 'Profession:', self.profession)
    def work(self):
        print(self.name, 'working as a', self.profession)

In [ ]:
class Person:
    def __init__(self, name, sex, profession):
        # data members (instance variables)
        self.name = name
        self.sex = sex
        self.profession = profession

    # Behavior (instance methods)
    def show(self):
        print('Name:', self.name, 'Sex:', self.sex, 'Profession:', self.profession)

    # Behavior (instance methods)
    def work(self):
        print(self.name, 'working as a', self.profession)

In [ ]:
prasanthi = Person('Prasanthi', 'Female', 'S.W')

In [ ]:
prasanthi.show()
prasanthi.work()

In [ ]:
class Student:
    #class variables
    school_name = 'srivani school'
    #constructor
    def __init__(self, name, age):
        #instance variable
        self.name = name
        self.age = age
        
s1 = Student('Deepu', 14)
#access instance variabls
print('Student:', s1.name, s1.age)
#access class variable
print('School name:', Student.school_name)

In [ ]:
class Student:
    #class variables
    school_name = 'srivani school'
    #constructor
    def __init__(self, name, age):
        #instance variable
        self.name = name
        self.age = age
        
s1 = Student('Deepu', 14)
#access instance variabls
print('Student:', s1.name, s1.age)
#access class variable
print('School name:', Student.school_name)

#Modify instance variable
s1.name = 'kittu'
s1.age = 16
print('Student:', s1.name, s1.age)

#Modify class variables
Student.school_name = 'target'
print('School nmae:', Student.school_name)

In [ ]:
class sampleclass:
    count = 0
    
    def increase(self):
        sampleclass.count +=1
        
s1 = sampleclass()
s1.increase()
print(s1.count)

In [ ]:
class sampleclass:
    #calss attribute
    count = 0
    
    def increase(self):
        sampleclass.count +=1

#calling incerase() on an object
s1 = sampleclass()
s1.increase()
print(s1.count)

#calling increase on one more object

s2 = sampleclass()
s2.increase()
print(s2.count)


print(sampleclass.count)

In [ ]:
class Student:
    name = 'chinni'
    course = 'Python'
    
Student1 = Student()
print(Student1.name)
print(Student1.course)

In [ ]:
class Student:
    school = 'XYZ.org'
    
    def __init__(self, name, course):
        self.name = name
        self.course = course
        
Student1 = Student('rocky', 'Python')
Student2 = Student('tillu', 'Java')

print(Student1.name)
print(Student2.name)

In [ ]:
class classA(object):
    classAtr = "I am a class attribute."

obj1 = classA()
obj2 = classA()

obj1.classAtr = "abc" 

print(obj1.classAtr)
print(obj2.classAtr)

In [ ]:
class classA(object):
    classAtr = "I am a class attribute."

obj1 = classA()
obj2 = classA()

classA.classAtr = "I changed the class attribute." 

print(obj1.classAtr)
print(obj2.classAtr)

In [ ]:
class Vehicle:
    def __init__(self, name, color, price):
        self.name = name
        self.color = color
        self.price = price
    
    def info(self):
        print(self.name, self.color, self.price)
        
class Car(Vehicle):
    def change_gear(self, no):
        print(self.name, 'change gear to number', no)
        
car = Car('Shift', 'Black', 35000)
car.info()
car.change_gear(5)

In [ ]:
class Counter:
    def __init__(self):
        self.current = 0

    def increment(self):
        self.current += 1

    def value(self):
        return self.current

    def reset(self):
        self.current = 0
        
        
counter = Counter()
counter.increment()
# counter.increment()
# counter.increment()

print(counter.value())

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def msg(self):
        print(self.name+" "+self.age)

In [ ]:
print('object1:')
s1 = Student('xyz','20')
print(s1.name)
print(s1.age)
s1.msg()
print('**')
print('object2:')
s2 = Student('ria','21')
print(s2.name)
print(s2.age)
s2.msg()

In [ ]:
class Student:
    counter=0
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
        Student.counter = Student.counter+1
        
    def msg(self):
        print(self.name+ 'got'+ self.marks, '%')
        
    @classmethod
    def object_count (cls):
        return cls.counter
    
s1 = Student('xyz','93')
s2 = Student('ria','67')
print(Student.object_count())

In [ ]:
print(s1.object_count())

In [ ]:
class Student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
        
    def msg(self):
        print(self.name+ 'got'+ self.marks, '%')
        
    
s1 = Student('sia','93')
marks = '560'
name = 'sia'
marks1 = str((int(marks)/600)* 100)
s2 = Student(name, marks1)
s2.msg()

In [ ]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        
    def msg(self):
        print(self.name+ 'got'+ self.marks, '%')
        
    @classmethod
    def get_per(cls, name, marks):
        return cls(name, str((int(marks)/600)* 100))
        
    
s1 = Student('rick','93')
marks = '560'
name = 'rick'
# marks1 = str((int(marks)/600)* 100)
s2 = Student.get_per(name, marks)
s2.msg()

In [ ]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        
    def msg(self):
        print(self.name+ 'got'+ self.marks, '%')
        
    @classmethod
    def get_per(cls, name, marks):
        return cls(name, str((int(marks)/600)* 100))
    @staticmethod
    def get_age(age):
        if age < 18:
            print('Belongs to school')
        else:
            print("don't belongs to school")

In [ ]:
s1 = Student('Rocky', '96')
s2 = Student.get_per('lucky', '400')
s2.msg()
Student.get_age(20)

In [ ]:
class Person:
    age = 25

    def printAge(cls):
        print('The age is:', cls.age)

Person.printAge = classmethod(Person.printAge)

Person.printAge()

In [ ]:
class Student:
    marks = 0

    def compute_marks(self, obtained_marks):
        marks = obtained_marks
        print('Obtained Marks:', marks)

Student.print_marks = classmethod(Student.compute_marks)
Student.print_marks(88)

In [ ]:
class subject:
    course = 'DSA'

    def purchase(obj):
        print("Puchase course : ", obj.course)


subject.purchase = classmethod(subject.purchase)
subject.purchase()

In [ ]:
class Student:
    name = "lucky"

    def print_name(obj):
        print("The name is : ", obj.name)


Student.print_name = classmethod(Student.print_name)
Student.print_name()

In [ ]:
class Fruit:
    name = 'Fruits'

    @classmethod
    def printName(cls):
        print('The name is:', cls.name)

Fruit.printName()

In [ ]:
class person:
    def display(self):
        print('hello')
        
person1 = person()
person1.display()

In [ ]:
class person:
    def __init__(self, name):
        self.name = name
        
    def display(self):
        print('hello', self.name)
        
person1 = person('Prasanthi')
person1.display()

In [ ]:
class student:
    #class variable
    clg = 'xyz'
    
    def __init__(self, rollno, name):
        self.rollno = rollno
        self.name = name
    
    def display(self):
        print('student name:', self.name)
        print('student rollnumber:', self.rollno)
        print('college:', student.clg)
        

student1=student('xyz001', 'rocky')
student1.display()

student2=student('xyz008', 'devansh')
student2.display()

In [ ]:
#in parameter list no given any self
class person:
    def display():
        print('Hello')
        
p=person()
p.display()

In [ ]:
#pass parameter instead self any other word

class person:
    def display(myself):
        print('Hello')
        
p=person()
p.display()

In [ ]:
#avoid self parameter use @static method

class person:
    @staticmethod
    def display():
        print('Hello')
        
p=person()
p.display()

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    
    @classmethod
    def fromBirthYear(cls, name, year):
        return cls(name, date.today().year - year)

    def display(self):
        print("Name : ", self.name, "Age : ", self.age)

person = Person('Rao', 21)
person.display()

In [ ]:
class Fruit:
    name = 'Fruits'

    def printName(cls):
            print('The name is:', cls.name)

Fruit.printAge = classmethod(Fruit.printName)
Fruit.printAge()

In [ ]:
class Student:
    name = 'sweety' 
    def __init__(self):
        self.age = 20  

    @classmethod
    def tostring(cls):
        print('Student Class Attributes: name=',cls.name)
        
Student.tostring()

In [ ]:
std = Student()

Student().tostring()

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

s1 = Student("Jessa", 20)
print('Object 1')
print('Name:', s1.name)
print('Age:', s1.age)


s2= Student("Kelly", 10)
print('Object 2')
print('Name:', s2.name)
print('Age:', s2.age)

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

stud = Student("Jessa", 20)
print('Before')
print('Name:', stud.name, 'Age:', stud.age)


stud.name = 'Emma'
stud.age = 15

print('After')
print('Name:', stud.name, 'Age:', stud.age)

In [ ]:
class Person:
    def __init__(self, name, sex, profession):
        self.name = name
        self.sex = sex
        self.profession = profession

  
    def show(self):
        print('Name:', self.name, 'Sex:', self.sex, 'Profession:', self.profession)

 
    def work(self):
        print(self.name, 'working as a', self.profession)

# create object of a class
jessa = Person('Jessa', 'Female', 'Software Engineer')

# call methods
jessa.show()
jessa.work()

In [ ]:
class Student:
    school_name = 'ABC School'

    # constructor
    def __init__(self, name, age):
        # instance variables
        self.name = name
        self.age = age

    # instance method
    def show(self):
        # access instance variables and class variables
        print('Student:', self.name, self.age, Student.school_name)

    # instance method
    def change_age(self, new_age):
        # modify instance variable
        self.age = new_age

    # class method
    @classmethod
    def modify_school_name(cls, new_name):
        # modify class variable
        cls.school_name = new_name

s1 = Student("Harry", 12)

# call instance methods
s1.show()
s1.change_age(14)

# call class method
Student.modify_school_name('XYZ School')
# call instance methods
s1.show()

In [ ]:
class Fruit:
    def __init__(self, name, color):
        self.name = name
        self.color = color

    def show(self):
        print("Fruit is", self.name, "and Color is", self.color)

# creating object of the class
obj = Fruit("Apple", "red")

# Modifying Object Properties
obj.name = "strawberry"

# calling the instance method using the object obj
obj.show()

In [ ]:
class Fruit:
    def __init__(self, name, color):
        self.name = name
        self.color = color

    def show(self):
        print("Fruit is", self.name, "and Color is", self.color)

obj = Fruit("Apple", "red")
obj.name
obj.show()

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age


stud = Student("cutey", 20)

print('chari',)
print('37', )

In [ ]:
class Student:
    school_name = 'ABC School '

 
    def __init__(self, name, roll_no):
        self.name = name
        self.roll_no = roll_no

   
    def show(self):
        print('Inside instance method')
        print(self.name, self.roll_no, self.school_name)
        print(Student.school_name)

s1 = Student('tapsi', 10)
s1.show()

print('Outside class')

print(s1.school_name)

print(Student.school_name)

In [ ]:
class Addition:
    @staticmethod
    def add(x,y):
        print('The sum :', x+y)
        
a1=Addition()
a1.add(3.7,4.7)
Addition.add(3,6)

In [ ]:
class vsp:
    def a(self):
        print('Hi')
    @classmethod
    def b(cls):
        print('Hello this is class method')
    
    @staticmethod
    def c():
        print('This is static method')
        

obj=vsp()
obj.a()

obj.b()
obj.c()

In [ ]:
class Employee:
    @staticmethod
    def sample(x):
        print('Inside static method', x)

# Employee.sample(10)
emp = Employee()
emp.sample(10)

In [ ]:
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')

#Child class
class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')


car = Car()
car.Vehicle_info()
car.car_info()

In [ ]:
class animal:
    def eating(self):
        print('eating')
        
class dog:
    def eating(self):
        print('eating')
    def bark(self):
        print('bark')
        
        
d=dog()
d.eating()
d.bark()

In [ ]:
# use of class method and static method.
from datetime import date


class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    @classmethod
    def fromBirthYear(cls, name, year):
        return cls(name, date.today().year - year)

    @staticmethod
    def isAdult(age):
        return age > 18


person1 = Person('mayank', 21)
person2 = Person.fromBirthYear('mayank', 1996)

print(person1.age)
print(person2.age)


print(Person.isAdult(22))

In [ ]:
class Student():
    name = "John"

    @classmethod
    def create(cls):
        return cls.name

print(Student.create())

In [ ]:
class Student():
    def __init__(self, name, age):
        self.name = name
        self.age = age

    @classmethod
    def create(cls, name, age):
        return cls(name, age + 1)

st1 = Student("John", 20)
st2 = Student.create("Johny", 30)

print(st1.age)
print(st2.age)

In [ ]:
class Number():

    @staticmethod
    def even(x):
        if x % 2 == 0:
            return True
        else:
            return False

print(Number.even(3))

In [ ]:
class Person():
    def __init__(self, name, age, can_vote):
        self.name = name
        self.age = age
        self.can_vote = can_vote
        
    @staticmethod
    def is_adult(age):
        if age >= 18:
            return True
        else:
            return False
        
    @classmethod
    def create (cls, name, age):
        if cls.is_adult(age) == True:
            return cls(name, age, 'Yes')
        else:
            return cls(name, age, 'No')
        
st1= Person.create('bubby', 15)
st2= Person.create('dolly', 20)

print('Can', st1.name, 'vote?', st1.can_vote )
print('Can', st2.name, 'vote?', st2.can_vote )

In [ ]:
class animal:
    def eating(self):
        print('eating')
        
class dog(animal):
    def bark(self):
        print('bark')
        
    
d=dog()
d.eating()
d.bark()

In [ ]:
class animal:
    def __init__(self, name):
        self.name = name
        
class dog(animal):
    def display(self):
        print(self.name)
        
d=dog('babydog')
d.display()

In [ ]:
class Emp():
    def __init__(self, id, name, Add):
        self.id = id
        self.name = name
        self.Add = Add

class Freelance(Emp):
    def __init__(self, id, name, Add, Emails):
        super().__init__(id, name, Add)
        self.Emails = Emails

Emp_1 = Freelance(103, "Anil", "Hyd" , "anil@gmails")
print('The ID is:', Emp_1.id)
print('The Name is:', Emp_1.name)
print('The Address is:', Emp_1.Add)
print('The Emails is:', Emp_1.Emails)

In [ ]:
class Parent:
    def __init__(self, txt):
        self.message = txt

    def printmessage(self):
        print(self.message)

class Child(Parent):
    def __init__(self, txt):
        super().__init__(txt)

x = Child("Hello, and welcome!")

x.printmessage()

In [ ]:
class Computer():
    def __init__(self, computer, ram, storage):
        self.computer = computer
        self.ram = ram
        self.storage = storage

class Mobile(Computer):
    def __init__(self, computer, ram, storage, model):
        super().__init__(computer, ram, storage)
        self.model = model

Samsung = Mobile('Samsung', 2, 64, 'Samsung X')
print('The mobile is:', Samsung.computer)
print('The RAM is:', Samsung.ram)
print('The storage is:', Samsung.storage)
print('The model is:', Samsung.model)

In [ ]:
class person:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
    def fullname(self):
        print(firstname, ' ', lastname)
        
class student(person):
    def __init__(self, firstname, lastname, grade):
        self.grade = grade
        super(). __init__(firstname, lastname)
        
    def display_details(self):
        print('grade', self.grade)
        
std = student('kook', 'creek', '10')

std.display_details()

In [ ]:
class Food():
    def __init__(self, name):
        self.name = name
        
class Cheese(Food):
    def __init__(self, brand):
        super().__init__()
        self.brand = brand

class CheckingAccount:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        
    def checkbalance(self):
        print('Balance:', self.balance)
        
class ChildAccount(CheckingAccount):
    def __init__(self, name, balance, is_child = True):
        self.is_child = is_child
        super().__init__(name, balance)
        
lkr = ChildAccount('lkr', 200)
lkr.checkbalance()

In [ ]:
class Animal:
    def smell(self,name):
        print(name, 'can smell')
        
class Dog(Animal):
    def __init__(self):
        super().smell('Dog')
        
    def bark(self):
        print('Dog can bark')
        
dog = Dog()
dog.bark()

In [ ]:
class Parent:
    def __init__(self):
        print('This is the parent class')
        
class Parent1:
    def __init__(self):
        print('This is the parent1 class')
        
class Child(Parent1, Parent):
    def __init__(self):
        super().__init__()
        
ob =Child()

In [ ]:
class MyClass(object):
     pass

this_obj = MyClass()
print(this_obj)

that_obj = MyClass()
print (that_obj)

In [ ]:
class myclass():
    def method1(self):
        print ('python')
        
    def method2(self, somestring):
        print ('Testing:', somestring)

In [ ]:
c = myclass()

In [ ]:
c.method1()
c.method2('Testing is fun')

In [ ]:
class myclass():
    def method1(self):
        print('python')


class childclass(myclass):
    def method1(self):
        myclass.method1(self)
        print('childclass method1')
        
    def method2(self):
        print('childclass method2')
        
        
c2 = childclass()
c2.method1()
c2.method2()

In [ ]:
class User:
    name = ''
    
    def __init__(self, name):
        self.name = name
        
    def sayHello(self):
        print('welcome to my home,'+ self.name)
        

User1 = User('Prasanthi')
User1.sayHello()

In [ ]:
class Maths:
    def subtract(self, i ,j):
        return i-j
    def add (self, x, y):
        return x+y

    
m = Maths()
m.subtract(10,5)

In [ ]:
m.add(6,7)

In [ ]:
class Person:
    def __init__(self, s):
        self.name = s
        
    def hello(self):
        print(("Hello"), self.name)

In [ ]:
t = Person('lava')
t.hello()

In [ ]:
class Addition:
    first = 0
    second = 0
    answer = 0
    
#constructor
    def __init__(self, f, s):
        self.first = f
        self.second = s
    
    def display(self):
        print("First number = " + str(self.first))
        print("Second number = " + str(self.second))
        print("Addition of two numbers = " + str(self.answer))

    def calculate(self):
        self.answer = self.first + self.second


obj = Addition(1000, 2000)


obj.calculate()


obj.display()

In [ ]:
class Rectangle():
    
    def __init__( self, w, h ):
        Shape.__init__( self )
        self.width = w
        self.height = h

    def area( self ):
        return self.width*self.height

r1 = Rectangle( 10, 5 )
r1.area()
r2=r1
r3=r1


print(r1, r2, r3)

In [ ]:
class student:

    def __init__(self, name, age):
        self.age = age
        self.name = name
    def display(self):
        print('hello', self.age, self.name)
        

student1= student('vicky', 55)
student2= student('david', 45)


student1.display()
student2.display()

In [ ]:
class car:
    def __init__(self, modelname, year):
        self.modelname = modelname
        self.year = year
        
    def display(self):
        print(self.modelname, self.year)

        
c1 = car('Shift', 2016)
c1.display()

In [ ]:
from item import Item
from phone import *

Item.instantiate_from_csv()

print(Item.all)

In [ ]:
from item import Item

item1 = Item('MyItem', 750)
item1.name = 'OtherItem'

print(item1.name)

In [ ]:
from item import Item

item1 = Item('MyItem', 750)
item1.name = 'OtherItem'

print(item1.read_only_name)

In [ ]:
item1 = Item('MyItem', 750)

print(item1.name)

In [ ]:
item1._name = 'OtherItem'
print(item1.name)

In [ ]:
class year_graduated:
    def __init__(self, year=0):
        self._year = year
        
grad_obj = year_graduated()

print(grad_obj)

In [ ]:
from item import Item

item1 = Item('MyItem', 750)

item1._name = 'OtherItem'

print(item1.name)

In [ ]:
from item import Item

item1 = Item('MyItem', 750)

item1._name = 'OtherItem'

print(item1.name)

In [ ]:
class car:
    def __init__(self):
        self.__updatesoftware()
    def drive(self):
        print('driving')
    def __updatesoftware(self):
        print('updating software')
        

blackcar = car()
blackcar.drive()

In [ ]:
class car:
    __maxspeed = 0
    __name = ""
    def __init__(self):
        self.__maxspeed = 200
        self.name = 'supercar'
    def drive(self):
        print('driving')
        
    def setspeed(self,speed):
        self.__maxspeed = speed
        
redcar = car()
redcar.drive()
redcar.setspeed(100)

In [ ]:
class car:
    __maxspeed = 0
    __name = ""
    def __init__(self):
        self.__maxspeed = 200
        self.name = 'supercar'
    def drive(self):
        print('driving')
        print(self.__maxspeed)
    def setspeed(self,speed):
        self.__maxspeed = speed
        print(self.__maxspeed)
redcar = car()
redcar.drive()
redcar.setspeed(100)

In [ ]:
class car:
    __maxspeed = 0
    __name = ""
    def __init__(self):
        self.__maxspeed = 200
        self.name = 'supercar'
    def drive(self):
        print('driving')
        print(self.__maxspeed)
    def setspeed(self,speed):
        self.__maxspeed = speed
        print(self.__maxspeed)
redcar = car()
redcar.drive()
redcar.__maxspeed = 100
redcar.drive()

In [ ]:
class Employee:
    def __init__(self, name, salary, project):
        self.name = name
        self.salary = salary
        self.project = project
        
    def show(self):
        print('Name:', self.name, 'Salary:', self.salary)
        
    def work(self):
        print(self.name, 'is working on', self.project)
        
emp = Employee('Lucky', 8000, 'NLP')

emp.show()
emp.work()

In [ ]:
class pub_mod:
    def __init__(self, name, age):
        self.name = name;
        self.age = age;
 
    def Age(self):  
        print("Age: ", self.age)

obj = pub_mod("Rocky", 35);
print("Name: ", obj.name)  
obj.Age()

In [ ]:
class Robot(object):
    def __init__(self):
        self.a = 123
        self._b = 234
        self.__c = 456
        
obj = Robot()
print(obj.a)
print(obj._b)
print(obj.__c)

In [ ]:
class Robot(object):
    
    def __init__(self):
        self.__version = 22
        
    def getVersion(self):
        print(self.__version)
        
    def setVersion(self, version):
        self.__version = version
        
obj = Robot()
obj.getVersion()
obj.setVersion(23)
obj.getVersion()

print(obj.__version)

In [ ]:
class Person:
    def __init__(self, name, age=0):
        self.name = name
        self.age = age
        
    def display(self):
        print(self.name)
        print(self.age)
        
person = Person('Dev', 30)
person.display()

In [ ]:
print(person.name)
print(person.age)

In [ ]:
class Person:
    def __init__(self, name, age=0):
        self.name = name
        self.__age = age
    
    def display(self):
        print(self.name)
        print(self.__age)
        
    def getAge(self):
        print(self.__age)
        
    def setAge(self, age):
        self.__age = age
        
person = Person('Viswas', 30)
person.display()

In [ ]:
person.setAge(35)
person.getAge()

In [ ]:
class Employee:
    
    num_of_emps = 0
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        
        Employee.num_of_emps +=1
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)
        
        
emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

print(Employee.raise_amt)
print(emp_1.raise_amt)

In [ ]:
class Employee:
    
    num_of_emps = 0
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        
        Employee.num_of_emps +=1
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)
    @classmethod
    def set_raise_amt(cls, amount):
        pass
        
emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

print(Employee.raise_amt)
print(emp_1.raise_amt)

In [ ]:
class Student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def msg(self):
        print(self.name+ " "+self.age)
        
print('object 1:')
s1 = Student('nia', '20')
print(s1.name)
print(s1.age)

In [ ]:
s1.msg()
print('********')
print('object 2:')

In [ ]:
s2 = Student('ria', '21')
print(s2.name)
print(s2.age)
s2.msg()

classmethod and staticmethod

In [ ]:
class Amazon:
    #class variables
    overall_discount = 5
    
    #constructor
    def __init__(self, p_id, p_name, p_price, p_discount):
        # create variables
        self.id = p_id
        self.name = p_name
        self.price = p_price
        self.discount = p_discount
        
    def get_final_price(self):
        return self.price - self.price*self.discount/100 - Amazon.overall_discount*self.price
    def print_data(self):
        print('----------------')
        print('id :', self.id)
        print('name :', self.name)
        print('final price :', self.get_final_price())
        
p1 = Amazon(1, 'product1', 500, 8)

p1.print_data()

In [ ]:
p2 = Amazon(2, 'product2', 800, 11)
p2.print_data()

In [ ]:
class Amazon:
    #class variables
    overall_discount = 5
    
    #constructor
    def __init__(self, p_id, p_name, p_price, p_discount):
        # create variables
        self.id = p_id
        self.name = p_name
        self.price = p_price
        self.discount = p_discount
        
    def get_final_price(self):
        return self.price - self.price*self.discount/100 - Amazon.overall_discount*self.price/100
    def print_data(self):
        print('----------------')
        print('id :', self.id)
        print('name :', self.name)
        print('final price :', self.get_final_price())
        
    @classmethod
    def change_overall_discount(clc, discount):
        clc.overall_discount = discount
        
        
        
p1 = Amazon(1, 'product1', 500,8)

p1.print_data()


Amazon.change_overall_discount(10)
p1.print_data()

In [ ]:
class Amazon:
    #class variables
    overall_discount = 5
    
    #constructor
    def __init__(self, p_id, p_name, p_price, p_discount):
        # create variables
        self.id = p_id
        self.name = p_name
        self.price = p_price
        self.discount = p_discount
        
    def get_final_price(self):
        return self.price - self.price*self.discount/100 - Amazon.overall_discount*self.price/100
    def print_data(self):
        print('----------------')
        print('id :', self.id)
        print('name :', self.name)
        print('final price :', self.get_final_price())
        
    @classmethod
    def change_overall_discount(clc, discount):
        clc.overall_discount = discount
    @staticmethod
    def print_something():
        print('i am a static method')
        
        
        
p1 = Amazon(1, 'product1', 500,8)

p1.print_data()


Amazon.change_overall_discount(10)
p1.print_data()

Amazon.print_something()

In [ ]:
class Employee:
    @staticmethod
    def sample(x):
        print('Inside static method', x)


Employee.sample(10)


emp = Employee()
emp.sample(10)

In [ ]:
class Student:
    name = 'unknown' 
    def __init__(self):
        self.age = 20 

    @classmethod
    def tostring(cls):
        print('Student Class Attributes: name=',cls.name)
        
Student.tostring()
    
std = Student()
std.tostring()

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    @classmethod
    def getobject(cls):
        return cls ('pulli', 25)
    
std = Student.getobject()
std.name

In [ ]:
std.age

In [ ]:
class Student:
    marks = 0
    def compute_marks(self, obtained_marks):
        marks = obtained_marks
        print('obtained_marks:', marks)
        
Student.print_marks = classmethod(Student.compute_marks)
Student.print_marks(88)

In [ ]:
class Weight():
    Weight = 100
    
    def to_pounds(self):
        return self.weight
    def to_pounds(kilos):
        return kilos
    
W=Weight()
pounds = W.to_pounds()

kilos = 100
pounds = to_pounds(kilos)
print

In [ ]:
class Mathutils():
    Mathutils = 100
    
    
    @staticmethod
    def multiply(a, b):
        return a * b

Mathutils.multiply(10, 5)

print(Mathutils.multiply(10, 5))

In [ ]:
class Student:
    @staticmethod
    def sample(a):
        print('Inside static method', a)
        
Student.sample(5)
std = Student()

In [ ]:
class Date:
    def __init__(self, day=0, month=0, year=0):
        self.day = day
        self.month = month
        self.year = year
        
    @classmethod
    def string_to_Date(cls, string_Date):
        day, month, year = map(int, string_Date.split('-'))
        return cls(day, month, year)
    
dt = Date.string_to_Date('31-12-2018')
print(dt.day)
print(dt.month)
print(dt.year)

In [ ]:
from datetime import date

class Person:
    def __init__(self, your_name, your_age):
        self.your_name = your_name
        self.your_age = your_age
        
    @classmethod
    def fromBirthYear(cls, your_name, your_year):
        return cls(your_name, date.today().year - your_year)
    
    @staticmethod
    def isAdult(your_age):
        return your_age >18
    
First_p = Person('Alex', 23)


print(First_p.your_age)


print(Person.isAdult(22))

In [ ]:
class Student:
    @staticmethod
    def sample(a):
        
        print('Inside static method',a)
Student.sample(5)

In [ ]:
std = Student()
std.sample(5)

In [ ]:
class Test():
    
    @staticmethod
    def stat():
        print('Hello from the static method')

In [ ]:
class Student:
    school_name = 'ABC School'
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    @classmethod
    def change_school(cls, name):
        print(Student.school_name)
        Student.school_name_name = name
        
Jessa = Student('Jessa', 14)
Student.change_school('XYZ School')

In [ ]:
class car:
    base_price=100000
    def __init__(self, windows,doors,power):
        self.windoe=windows
        self.doors=doors
        self.power=power
        
    def what_base_price(self):
        print('The base price is {}'.format(self.base_price))
        
    @classmethod
    def revise_base_price(cls, inflation):
        cls.base_price=cls.base_price+cls.base_price*inflation

In [ ]:
car.revise_base_price(0.10)

In [ ]:
car.base_price

In [ ]:
class Person:
    
    def __init__(self, name):
        self.name =name
        
    def about_me(self):
        print('I am {}'.format(self.name))
        
    @staticmethod
    def speak(msg):
        print(msg)

In [ ]:
p = Person('Nik')

In [ ]:
p.about_me()

In [ ]:
p.speak('hello')

In [ ]:
Person.speak('English')

In [ ]:
class myclass():
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
        
    @classmethod
    def setsalary(cls,salary):
        myclass.mysalary=salary

obj=myclass('lava', 'k')
myclass.setsalary(20000)
print(myclass.mysalary)

In [ ]:
print(obj.mysalary)

In [ ]:
class Employee:
    
    DEFAULT_ID = '0000'
    MAX_GRATUITY=1000000
    
    def __init__(self, id, name, basic, hra):
        self.id = id
        self.name = name
        self.basic = basic
        self.hra = hra
        
    def totalSalary(self):
        return self.basic + self.hra
    
    @staticmethod
    def compute_gratuity(basic, year_of_service):
        amount = basic * year_of_service
        if amount > Employee.MAX_GRATUITY:
            return Employee.MAX_GRATUITY
        else:
            return amount
        
    @classmethod
    def create_employee (cls, name, basic, hra):
        id = cls.DEFAULT_ID
        return cls(id, name, basic, hra)

e1 = Employee(111, 'Tom', 10000, 2000)
e2 = Employee.create_employee('Tom', 10000, 2000)



print(e1.totalSalary())
print(e2.totalSalary())

print(e1.compute_gratuity(10000, 20))
print(Employee.compute_gratuity(10000, 20))

In [ ]:
class Myclass:
    def method(self):
        return 'instance method called', self
    
    @classmethod
    def classmethod(cls):
        return 'class method called', cls
    
    @staticmethod
    def staticmethod():
        return 'static method called'
    
obj = Myclass()
obj.method()

In [ ]:
obj.classmethod()

In [ ]:
obj.staticmethod()

In [ ]:
Myclass.classmethod()

In [ ]:
Myclass.staticmethod()

In [ ]:
Myclass.method()

In [ ]:
class Pizza:
    radius = 200
    
    @classmethod
    def get_radius(cls):
        return cls.radius
    
print(Pizza.get_radius())

In [ ]:
class Demo:
    @staticmethod
    def sum(x, y):
        print(x+y)
        
    @staticmethod
    def multiply(x, y):
        print(x*y)
        
Demo.sum(2, 3)
Demo.multiply(2, 4)

In [ ]:
class Fruit:
    name = 'Fruits'
    
    @classmethod
    def printName(cls):
        print('The name is:', cls.name)

Fruit.printName()

In [ ]:
class Book:
    def __init__(self, title, author, pages):
        print('A book is created')
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return 'Title: %s, author: %s, pages: %s' %(self.title, self.author, self.pages)
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print('A book is destroyed')
        
    
book = Book('Python', 'Team-Members', 250)

print(book)

print(len(book))
del book

In [ ]:
class Student:
    branch = 'CSE'
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def show(self):
        print(self.name, self.age, self.branch)
        
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False
        

s1 = Student('Anil', 20)
s2 = Student('Sunil', 20)

s1.show()
s1.branch = 'IT'
s1.show()
s2.show()

In [ ]:
class Employee:
    
    def __new__(cls):
        print ("__new__ magic method is called")
        inst = object.__new__(cls)
        return inst
    def __init__(self):
        print ("__init__ magic method is called")
        self.name='Satya'
        
emp = Employee()

In [ ]:
class String:
    def __init__(self, string):
        self.string = string
        
    def __repr__(self):
        return 'object: {}'.format(self.string)
    
    
string = String('Hello')
print(string + 'world')

In [ ]:
class String:
    def __init__(self, string):
        self.string = string
        
    def __repr__(self):
        return 'object: {}'.format(self.string)
    
    def __add__(self, other):
        return self.string + other
    
string = String('Hello')
print(string + 'world')

In [ ]:
class NoLenSupport:
    pass

obj = NoLenSupport()
len(obj)

In [ ]:
class LenSupport:
    def __len__(self):
        return 40
    
obj = LenSupport()
len(obj)

In [ ]:
class Account:
    'A simple account class'
    
    def __init__(self, owner, amount=0):
        self.owner = owner
        self.amount = amount
        self._transactions = []
        
acc = Account('bob')
acc = Account('bob', 10)
print(acc)

In [ ]:
class Complex:
    
    def __init__(self, re=0, im=0):
        self.re = re
        self.im = im
        
    def __str__(self):
        if self.im >= 0:
            return f'{self.re}+{self.im}i'
        else:
            return f'{self.re}{self.im}i'
        

a = Complex(3,4)
b = Complex(4,5)

print(a)
print(b)

In [ ]:
class Addition:
    def __init__(self):
        self.var1 = 0
        self.var2 =0
        self.sum = 0
        
    def set_val(self):
        self.var1 = int(input('Enter Value 1:'))
        self.var2 = int(input('Enter Value 2:'))
        
    def add(self):
        self.sum = self.var1 + self.var2
        
    def disp(self):
        print(f'sum of {self.var1} and {self.var2} is {self.sum}')

        
add_obj = Addition()
add_obj.set_val()
add_obj.add()
add_obj.disp()

In [ ]:
class Addition:
    def __init__(self):
        self.var1 = 0
        self.var2 =0
        self.sum = 0
        
    def set_val(self):
        self.var1 = int(input('Enter Value 1:'))
        self.var2 = int(input('Enter Value 2:'))
        
    def add(self):
        self.sum = self.var1 + self.var2
        
    def disp(self):
        print(f'sum of {self.var1} and {self.var2} is {self.sum}')

    def __del__(self):
        print('Object is deleted.....')
        
add_obj = Addition()
add_obj.set_val()
add_obj.add()
add_obj.disp()
del add_obj

In [ ]:
class software:
    names = []
    versions = {}
    def __init__(self, names):
        if names:
            self.names = names
            for name in names:
                self.version[name]=1
        else:
            raise Exception('Please Enter the names')

In [ ]:
p = software(['S1', 'S2', 'S3'])
p1 = software([])

In [ ]:
p = software(['S1', 'S2', 'S3'])
p1 = software([])

In [ ]:
class Car:
    def __init__(self, windows, doors, enginetype):
        self.windows = windows
        self.doors = doors
        self.enginetype = enginetype
        
    def __str__(self):
        return 'The object has been initialized'
    
    def __sizeof__(self):
        return 'The display size of the object'
        
    def drive(self):
        print('The Person drives the car')
        
c=Car(4, 5, 'Diesel')

In [ ]:
print(c)

In [ ]:
c.__sizeof__()

In [ ]:
class Employee:
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first =first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)
 

emp1 = Employee('Corey', 'Schafer', 50000)
emp2 = Employee('Test', 'employee', 60000)




print(1 + 2)
print('a' + 'b')

In [ ]:
class Employee:
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first =first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)
        
    def __rep__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)
    def __str__(self):
        return '{} - {}'.format(self.fullname(),self.email)

emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'employee', 60000)


print(emp_1)

print(repr(emp_1))
print(str(emp_1))

In [ ]:
print(emp_1. __repr__())
print(emp_1. __str__())

In [ ]:
class TextInput:
    def __init__(self, item):
        self.item = item
        
    def __str__(self):
        return self.item
    def __len__(self):
        return len(self.item)
    
text = TextInput('sample text')
print(len(text))

In [ ]:
class House:
    def __init__(self, price):
        self._price = price
        
    @property
    def price(self):
        return self._price
        
            
    @price.setter
    def price(self, new_price):
        if new_price > 0 and isinstance(new_price, float):
            self._price = new_price
            
        else:
            print('Please enter a valid price')
            
    @price.deleter
    def price(self):
        del self._price
        
        

house = House(50000.0)
house.price = 45000.0
house.price

In [ ]:
class Portal:
    def __init__(self):
        self._name = ''
        
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, val):
        self._name = val
        
    @name.deleter
    def name(self):
        del self._name
  
p = Portal()
p.name = 'Prasanthi'

print(p.name)

del p.name

In [ ]:
class Student:
    
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname

    @property
    def fullname(self):
        return self.fname +' '+ self.lname

  
    @fullname.setter
    def fullname(self, name):
        fname, lname = name.split(" ")
        self.first = fname
        self.last = lname


    @fullname.deleter
    def fullname(self):
        self.first = None
        self.last = None
        print('Deleted the fullname')
        

    def email(self):
        return '{}.{}@studytonight.com'.format(self.fname, self.lname)


s1 = Student('Tony', 'Stark')
print('Fullname of s1 is ', s1.fullname)
print('And email address = ', s1.email())


s1.first = 'Steve'
print('Fullname of s1 is ', s1.fullname)
print('And email address = ', s1.email())


s1.fullname = 'Berry Banner'
print('New Fullname of s1 is ', s1.fullname)

del s1.fullname

In [ ]:
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
        self.msg = self.name + 'got grade' + self.grade
        

stud1 = Student('nia', 'B')

print(stud1.name)
print(stud1.grade)
print(stud1.msg)

In [ ]:
print('name:', stud1.name)
print('grade:', stud1.grade)
print(stud1.msg)

In [ ]:
stud1.grade = 'A'

print('name:', stud1.name)
print('grade:', stud1.grade)
print(stud1.msg)

In [ ]:
class Student:
    
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
        
    def msg(self):
        return self.name + 'got grade' + self.grade
        

stud1 = Student('nia', 'B')
stud1.grade = 'A'

print('name:', stud1.name)
print('grade:', stud1.grade)
print(stud1.msg())

In [ ]:
class Student:
    
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
    
    @property   
    def msg(self):
        return self.name + 'got grade' + self.grade
        

stud1 = Student('nia', 'B')
stud1.grade = 'A'

print('name:', stud1.name)
print('grade:', stud1.grade)
print(stud1.msg)

In [ ]:
class Student:
    
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
    
     
    def msg(self):
        return self.name + 'got grade' + self.grade
        
    def setter (self,msg):
        sent = msg.split(' ')
        print(sent)
        self.name = sent[0]
        self.grade = sent[-1]
        
stud1 = Student('nia', 'B')

stud1.setter('prasanthi got grade A')

# stud1.msg= 'prasanthi got grade A'

print('name:', stud1.name)
print('grade:', stud1.grade)
print(stud1.msg)

In [ ]:
class Student:
    
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
    
    @property
    def msg(self):
        return self.name + 'got grade' + self.grade
    @msg.setter  
    def msg (self,msg):
        sent = msg.split(' ')
        print(sent)
        self.name = sent[0]
        self.grade = sent[-1]
        
stud1 = Student('nia', 'B')

stud1.msg= 'prasanthi got grade A'

print('name:', stud1.name)
print('grade:', stud1.grade)
print(stud1.msg)

In [ ]:
class student:
    def __init__(self, total):
        self._total = total
 
    def average(self):
        return self._total / 5.0
 
    @property
    def total(self):
        return self._total
 
    @total.setter
    def total(self, t):
        if t < 0 or t > 500:
            print("Invalid Total and can't Change")
        else:
            self._total = t
 
 
obj = student(450)
print("Total   : ", obj.total)
print("Average : ", obj.average())
obj.total = 550
print("Total   : ", obj.total)
print("Average : ", obj.average())

In [ ]:
class Person(object):
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    @property
    def full_name(self):
        return self.first_name + ' ' + self.last_name

    @full_name.setter
    def full_name(self, value):
        first_name, last_name = value.split(' ')
        self.first_name = first_name
        self.last_name = last_name

In [ ]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        

    @property
    def gotmarks(self):
        return self.name + ' obtained ' + self.marks + ' marks'

    @gotmarks.setter
    def gotmarks(self, sentence):
        name, rand, marks = sentence.split(' ')
        self.name = name
        self.marks = marks


st = Student("Jaki", "25")
print(st.name)
print(st.marks)
print(st.gotmarks)

In [ ]:
st.name = "Anusha"
print(st.name)
print(st.gotmarks)

In [ ]:
st.gotmarks = 'Golam obtained 36'
print(st.gotmarks)
print(st.name)
print(st.marks)

In [ ]:
class Alphabet:
    def __init__(self, value):
        self._value = value
        
    @property
    def value(self):
        print('Getting value')
        return self._value
    @value.setter
    def value(self, value):
        print('setting value to' + value)
        self._value = value
        
    @value.deleter
    def value(self):
        print('Deleting value')
        del self._value
        
x = Alphabet('peter')
print(x.value)

x.value = 'Diesel'
        
del x.value

In [ ]:
class Person:
    
    def __init__(self, value):
        self.hidden_name = value
        
    def get_name(self):
        print('Getting name:')
        return self.hidden_name
    
    def set_name(self, value):
        print('Setting name to', value)
        self.hidden_name = value
        
obj = Person('bob')
obj.hidden_name
print(obj.hidden_name)

In [ ]:
class Developer:
    
    def __init__(self, name, age, salary, companyname):
        self.name = name
        self.age = age
        self.salary = salary
        self. companyname = companyname
        
    @property
    def company(self):
        return self.companyname
    
    @company.setter
    def company(self, companyname):
        self.companyname = companyname
        
obj = Developer('Ajay', 28, 70000, 'Getter&Setter')
print(obj.company)

In [ ]:
obj.company = 'property'
print(obj.company)

In [ ]:
class Employee:
    
    def __init__(self, first, last, fee):
        self.first = first
        self.last = last
        self.fee = fee
        
    def email(self):
    
        return  f'{self.first} .{last} @gmail.com'
        
    def fullname(self):
        return f'{self.first.upper()} {self.last}'

In [ ]:
    def decorator_fun(func):
        print("Inside decorator")

    def inner(*args, **kwargs):
        print("Inside inner function")
        print("Decorated the function")
        func()
    



    def func_to():
        print("Inside actual function")

In [ ]:
    def decorator(*args, **kwargs):
        print("Inside decorator")
    
    def inner(func):

        print("Inside inner function")
        print("I like", kwargs['like'])

        func()
            

    @decorator
    def my_func():
        print("Inside actual function")

In [ ]:
def my_function():
    print('I am a function.')
    
description = my_function

print(description())

In [ ]:
class Employee:
    def __init__(self, salry = 10000):
        self._salary = salary
        
details=Employee

print(details)

In [ ]:
class Employee:
    def __init__(self, salry = 10000):
        self._salary = salary
        
    def get_salary(self):
        return self._salary
    def set_salary(self, amount):
        self._salary = amount
        
        
details = Employee

print(details.get_salary)

details.set_salary
print(details.set_salary)

# Boolean

In [ ]:
a= True
type(a)

In [ ]:
b = False
type(b)

In [ ]:
x = 5
y = 10
print(bool(x==y))

In [ ]:
a = 1
b = 2
c = 4

if a>b or b<c:
    print(True)
    
else:
    print(False)

In [ ]:
if a or b or c:
    print("Atlease one number has boolean value as True ")

In [ ]:
a = 0
b = 1
if a == 0:
    print(True)
    
if a == b:
    print(True)
    
if a != b:
    print(True)

In [ ]:
# and Boolean

a = 30
b = 45

if(a > 30 and b == 45):
    print ('True')
    
else:
    print('False')

In [ ]:
a = 30
b = 45

if(a < 30 and b == 45):
    print ('True')
    
else:
    print('False')

In [ ]:
a = 30
b = 45

if(a > 30 and b < 45):
    print ('True')
    
else:
    print('False')

In [ ]:
# OR Boolean

a = 25
b = 30

if(a > 30 or b < 45):
    print ('True')
    
else:
    print('False')

In [ ]:
# OR Boolean

a = 25
b = 30

if(a < 30 or b == 45):
    print ('True')
    
else:
    print('False')

In [ ]:
# OR Boolean

a = 25
b = 30

if(a < 30 or b < 45):
    print ('True')
    
else:
    print('False')

In [ ]:
#not Boolean

a = 2
b = 2

not(a>2)

In [ ]:
10>5
not(5>10)

In [ ]:
a = 2
b = 2

if (not(a == b)):
    print('If Executed')
    
else:
    print('Else Executed')

In [ ]:
a = 50
b = 25
a>40 and b>40

In [ ]:
a>100 and b<50

In [ ]:
a>0 and b>0

In [ ]:
a=50
b=25
a>40 or b<50

In [ ]:
a>100 or b<50

In [ ]:
a==0 or b==0

In [ ]:
a>0 or b>0

In [ ]:
a=10
a>10

In [ ]:
not(a>10)

In [ ]:
x = 5
y = 10
z = 11
print((x > y) and (y > z))
print((x > y) and (y < z))
print((x < y) and (y > z))
print((x < y) and (y < z))

In [ ]:
x = 5
y = 10
z = 11
print((x > y) or (y > z))
print((x > y) or (y < z))
print((x < y) or (y > z))
print((x < y) or (y < z))

In [ ]:
x = True
y = False
print(not x)
print(not y)

In [ ]:
input()

In [ ]:
input('Please enter your name')

In [ ]:
print('Hello')

In [ ]:
var = 10
print (var)

In [ ]:
name  = input('enter the name')
print('Welcome')
print('hello', name)

In [ ]:
print("""Hello
Welcome to my home Prasanthi""")

In [ ]:
#sequential control

print('hello')
print('welcome')
print('welcome to prasanthi')

In [ ]:
#selection control

var=int(input('enter a interger value:'))

if var < 10:
    print('value is less than 10')
    
else:
    print('value is greater than 10')

In [ ]:
#Iterative control
var = 1
while var<10:
    print(var)
    var = var+1

In [ ]:
#If-else condition:

marks = int(input('Enter your marks in maths:'))

if marks >= 35:
    print('you got passing grades')
    
else:
    print('sorry you got failing grade')

    
print('Thank you')

In [ ]:
#if staement

marks=int(input('enter the marks:'))

if marks == 100:
    print('perfect score')
    
print('thankyou')

In [ ]:
# If the number is positive, we print an appropriate message

num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a positive number.")
print("This is also always printed.")

In [ ]:
age = int(input("Enter your age: ")) 
if age >= 18: 
    print("You are eligible to vote!")

In [ ]:
i = 10
  
if (i > 15):
    print("10 is less than 15")
print("I am Not in if")

In [ ]:
a=60
if a>50:
    print('This is the if body')
    
print('this is outside the if block')

In [ ]:
i=10
if i<15:
    print('i is less than 15')

In [ ]:
#nested if

name = 'Prasanthi'
clg = 'xyz'
marks = 56

if clg == 'xyz':
    if name == 'prasanthi':
        print('prasanthi of xyz college got:',marks, 'marks')

In [ ]:
i = 10

if (i == 10):
    if (i < 15):
        print('i is smaller than 15')
        
    if (i < 12):
        print('i is smaller than 12 too')
    
    else:
        print('i is greater than 15')

In [ ]:
i =20
if i%2==0:
    print('This is the if block')
    print('i is an even number')
    
else:
    print('This is the else block')
    print('i is an odd number')

In [ ]:
i =23
if i%2==0:
    print('This is the if block')
    print('i is an even number')
    
else:
    print('This is the else block')
    print('i is an odd number')

In [ ]:
num = float(input('Enter a number:'))

if num >=0:
    if num == 0:
        print('Zero')
    else:
        print('Positive')
        
else:
    print('Negative')

In [ ]:
price = 120

if price >= 100:
    print('Price is greater than 100')
    
else:
    print('price is less than 100')

In [ ]:
x = 20
y = 45
z = 23

if x>y and x>z:
    print('x is greater')
    
elif z>y:
    print('z is greater')
    
else:
    print('y is greater')

In [ ]:
a = 10
b = 10

if a<b:
    print('a is greter than b')
    
elif a == b:
    print('a and b are equal')
else:
    print('b is greater than a')

In [ ]:
a = int(input('Enter the a value'))

if a> 100:
    print('Above 100')
    if a > 1000:
        print('and also above 1000')

In [ ]:
a = int(input('Enter the a value'))

if a> 100:
    print('Above 100')
    if a > 1000:
        print('and also above 1000')
    else:
        print('and also below 1000')

In [ ]:
a = int(input('Enter the a value'))

if a> 100:
    print('Above 100')
    if a > 1000:
        print('and also above 1000')
    else:
        print('and also below 1000')
else:
    print('below 100')

In [ ]:
var = 150
if var == 200:
    print ("1 - Got a true expression value")
elif var == 150:
    print (" 2- Got a true expression value")
    
elif var == 100:
    print ("3 - Got a true expression value")
    
else:
    print('4 - Got a true expression value')
    
print('Goodbye!')

In [ ]:
number = 0

for number in range(10):
    number = number+1
    
    if number == 5:
        break 
        
    print('Number is' + str(number))
    
print('Out of loop')

In [ ]:
number = 0

for number in range(10):
    number = number+1
    
    if number == 5:
        continue 
        
    print('Number is' + str(number))
    
print('Out of loop')

In [ ]:
for letter in 'Python':
    print('character is', letter)

In [ ]:
for letter in [10, 20, 30, 40, 50]:
    print(letter)

In [ ]:
for letter in [10, 20, 30, 40, 50]:
    if letter >=25:
        print(letter, 'greater than 25')
        
    else:
        print(letter, 'less than 25')

In [ ]:
# while loop

count = 1

while count <=5:
    print(count)
    count=count+1
    
print('good bye')

In [ ]:
n = 10
sum =0
i=1

while i <=n:
    sum =sum + i
    i = i+1
    
print('The sum is', sum)

In [ ]:
i = 1
while i < 6:
    print(i)
    
    i+=1

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i+=1

In [ ]:
#Break statement

count=0
while count <= 5:
    if count == 3:
        break
        
    else:
        print(count)
        
    count = count+1
    
print('Thank you')

In [ ]:
for letter in 'Prasanthi':
    if letter == 't':
        break
        
    else:
        print(letter)
        
print('Thank you')

In [ ]:
for letter in 'Prasanthi':
    if letter == 'a':
        continue
        
    else:
        print(letter)
        
print('Thank you')

In [ ]:
var =10
while var > 0:
    var =var -1
    if var == 3:
        continue
        
    print(var)
print('Thank you')

In [ ]:
#list
animals = []
animals

In [ ]:
animals = ['dog', 'cat', 'rat']
animals

In [ ]:
animals[0]

In [ ]:
animals[3]

In [ ]:
list1 = [10, 20.4, ' hello', 54]
print(list1)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

In [ ]:
mylist = ['apple', 'banana', 'cherry']
print(type(mylist))

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
      print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
#append

thislist = ['apple', 'banana', 'cherry']
thislist.append('orange')
print(thislist)

In [ ]:
#insert an item second position:

thislist = ['apple', 'banana', 'cherry']
thislist.insert(1, 'orange')
print(thislist)

In [ ]:
#Remove the item

thislist = ['apple', 'banana', 'cherry']
thislist.remove('banana')
print(thislist)

In [ ]:
#Tuple
my_tuple = ()
print(my_tuple)

In [ ]:
my_tuple = (1, 2, 3)
print(my_tuple)

In [ ]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

In [ ]:
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

In [ ]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

In [ ]:
x = ('python',)*3
print(x)

In [ ]:
x = (0, 1, 2, 3)
x[0]=4
print(x)

In [ ]:
x = (1, 2, 3, 4, 5)
print(x[1])

In [ ]:
x = ('apple', 'banana', 'grapes')
y = list(x)
y.append('pineapple')
x = tuple(y)
print(x)

In [ ]:
a = ('laptop', 'phone', 'tv', 'ac')
y = ('system',)
a +=y


print(a)

In [ ]:
my_data = (1, [9, 8, 7], "World")
print(my_data)

In [ ]:
my_data[1][2] = 99
print(my_data)

In [ ]:
my_data = ("Apple", "Orange", "Grapes", "Banana")
for fruit in my_data:
     print(fruit)

In [ ]:
a = [10, 2, 3, 4.5, 3.9, 45]
b = a
b

In [ ]:
a [0] = 'apple'
a

In [ ]:
b

In [ ]:
#range function

for x in range (1,11):
    print(x)

In [ ]:
for x in [1,2,3,4]:
    print(x)

In [ ]:
#function

def avg(n1,n2,n3):
    return(n1+n2+n3)/3.0
print('Welcome')
result1 = avg(10,20,30)

In [ ]:
def display():
    print('Welcome')
    print('have a nice day')
    
display()

In [ ]:
def my_function():
    print('Hello from a function')

In [ ]:
my_function()

In [ ]:
def fun():
    print('I am learning python function')

In [ ]:
fun()

In [ ]:
def square(x):
    print(x*x)

In [ ]:
print(square(4))

In [ ]:
def my_func():
    print("Hello! Hope you're doing well")
          
my_func()

In [ ]:
def add(num1: int, num2: int):
    num3 = num1 + num2
    return num3

In [ ]:
num1, num2 = 5, 15
ans = add(num1, num2)

In [ ]:
print(f'The addition of {num1} and {num2} results {ans}.')

In [ ]:
def evenOdd(x):
    if (x % 2 == 0):
        print ('even')
    else:
        print ('odd')
        
evenOdd(2)
evenOdd(875)

In [ ]:
def printinfo(name, age):
    'This prints a passed info into this function'
    
    print ('Name:', name)
    print ('Age', age)
    return
printinfo(age=50, name = 'miki')

In [ ]:
def average (n1, n2,n3=5):
    return (n1+n2+n3)/3.0

print('Welcome')

num1 = int(input())
num2 = int(input())
num3 = int(input())

result = average(num1,num2,num3)
print(result)

In [ ]:
def hello_world():
    print('Hello world')
    
hello_world()

In [ ]:
def sum():
    a = 10
    b = 20
    c = a+b
    return c

print('The sum is:', sum())

In [ ]:
def func (name):
    print('Hi', name)
    
func('Devansh')

In [ ]:
def sum (a,b):
    return a + b

a = int(input('Enter a:'))
b = int(input('Enter b:'))

print('sum =', sum(a,b))

In [ ]:
def change_list(list1):
    list1.append(20)
    list1.append(30)
    print('list inside function = ', list1)

In [ ]:
list1 = [10, 30, 40, 50]

change_list(list1)
print('list outside function =', list1)

In [ ]:
def fun(name):
    message = 'Hi' +name
    return message
name = input('Enter the name:')
print(func(name))

In [ ]:
#Keywords:
#and
check_value = 5
if check_value > 1 and check_value < 10:       
    print("Hello World!\n")
else:
    print("Nothing to print")

In [ ]:
#or
check_value = 5
if check_value > 1 and check_value < 10:       
    print("Hello World!\n")
else:
    print("Nothing to print")

In [ ]:
#not
check_value = 5
if check_value not in [1,7,4,6]:       
    print("Hello World!\n")
else:
    print("Nothing to print")

In [ ]:
#break
fruits = ["apple", "banana", "cherry","jackfruit"]
for x in fruits:
    if x == "apple":
        continue
        print(x)
    if x == "banana":
        pass
    if x == "cherry": 
        break 
print(x)

In [ ]:
#true
check_string = '123'
print(check_string.isdigit())

In [ ]:
#def keyword

def fruit_check():
    fruits = ["apple", "banana", "cherry"]
    for x in fruits:
        if x == 'banana':
            continue
        if x == 'cherry':
            return 

        
object = fruit_check()
print(object)

In [ ]:
#Identifier

num = 10
print(num)

_x = 100
print(_x)

a_b = 99
print(a_b)

In [ ]:
6times = "3PM"

In [ ]:
num# = 1

In [ ]:
num$ =1

In [ ]:
true = 10

In [ ]:
#variable
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x = 100
print(x)

In [ ]:
x=y=z=100
print(y)

In [ ]:
print(z)

In [ ]:
x,y,z = 100 , 'robo', 10.25

In [ ]:
print(x)

In [ ]:
print(z)

In [ ]:
a = str(2)   
b = int(3)    
c = float(3)

print(c)

In [ ]:
print(a)

In [ ]:
x = 10
y = 20
print(x + y)

In [ ]:
p = "Hello"
q = "World"
print(p + " " + q)

In [ ]:
#datatypes
x =5
print(type(x))

In [ ]:
x = 'Hello World'
print(type(x))

In [ ]:
x = '20'
print(type(x))

In [ ]:
x = 20.5
print(type(x))

In [ ]:
x = 1j
print(type(x))

In [ ]:
x = ['apple','banana']
print(type(x))

In [ ]:
x = ('apple','banana')
print(type(x))

In [ ]:
a=range(6)
print(type(a))

In [ ]:
x = {'name': 'john', 'age': 23}
print(type(x))

In [ ]:
x = {'name'}
print(type(x))

In [ ]:
x =true
print(type(x))

In [ ]:
x = str('hello world')
print(x)
print(type(x))

In [ ]:
a = bool(5)
print(a)
print(type(x))

In [ ]:
x=5
print(type(x))

In [ ]:
x = 'Hello World'
print(type(x))

In [ ]:
x = 20.5
print(type(x))

In [ ]:
x = 5
x =float(x)

In [ ]:
#use the len method to print the length of the string

x = 'Hello World'
print(len(x))

In [ ]:
#get the first character of the string txt

txt = 'Hello World'
x = (txt[0])
print(x)

In [ ]:
# get the characters from index 2 to index 4 (llo)

txt = 'Hello World'
x = (txt[2:5])
print(x)

In [ ]:
#Return the string without any whitespace at the beginning or the end

txt = 'Hello World'
x = txt.strip()
print(x)

In [ ]:
#Convert the value of txt to uppercase

txt = 'Hello World'
txt = txt.upper()
print(txt)

#list

a = [10, 'nepal', '99.5']

type(a)

In [ ]:
#print the second item in the fruits list

fruits = ['apple', 'banana', 'cherry']
print(fruits)

In [ ]:
#print the second item in the fruits list

fruits = ['apple', 'banana', 'cherry']
print(fruits[1])

In [ ]:
#change the value from 'apple' to 'kiwi' in the fruits list

fruits = ['apple', 'banana', 'cherry']
fruits[0] = 'kiwi'

print(fruits)

In [ ]:
#use the append method to add 'orange' to the fruits list

fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')

print(fruits)

In [ ]:
#Use the insert method to add 'lemon' as the second item in the fruits list

fruits = ['apple', 'banana', 'cherry']
fruits.insert (1, 'lemon')
print(fruits)

In [ ]:
#Use the remove method to remove 'banana' from the list

fruits = ['apple', 'banana', 'cherry']
fruits.remove ('banana')
print(fruits)

In [ ]:
#Use negative indexing to print the last item in the list

fruits = ['apple', 'banana', 'cherry']
print(fruits[-1])

In [ ]:
#Use a range of indexes to print the third, fourth, and fifth item in the list.

fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

In [ ]:
#Use the correct syntax to print the number of items in the list.

fruits = ["apple", "banana", "cherry"]
print(len(fruits))

In [ ]:
#Use the correct syntax to print the first item in the fruits tuple.

fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

In [ ]:
#use the correct syntax to print the number of items in the fruits tuple.

fruits = ('apple', 'banana', 'cherry')
print(len(fruits))

In [ ]:
#Check if "apple" is present in the fruits set.

fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

In [ ]:
#Use the add method to add 'orange' to the fruit set.

fruits = {"apple", "banana", "cherry"}

fruits.add('orange')
print(fruits)

In [ ]:
#Use the correct method to add multiple items (more_fruits) to the fruits set.
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]

fruits.update(more_fruits)
print(fruits)

In [ ]:
#Use the remove method to remove "banana" from the fruits set
fruits = {'apple', 'banana', 'cherry'}
fruits.remove('banana')
print(fruits)

In [ ]:
#Use the discard method to remove "banana" from the fruits set.

fruits = {"apple", "banana", "cherry"}
fruits.discard('banana')
print(fruits)

In [ ]:
#Replace the character H with a J.

txt = 'Hello World'
txt = txt.replace('H', 'J')
print(txt)

In [ ]:
#Insert the correct syntax to add a placeholder for the age parameter.

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [ ]:
#Boolean
#The statement below would print a Boolean value, which one?

print(10>9)

In [ ]:
#The statement below would print a Boolean value, which one?

print(10 == 9)

In [ ]:
#The statement below would print a Boolean value, which one?

print(10 < 9)

In [ ]:
#The statement below would print a Boolean value, which one?

print(bool('abc'))

In [ ]:
#The statement below would print a Boolean value, which one?

print(bool(0))

In [ ]:
#Multiply 10 with 5, and print the result.

print(10*5)

In [ ]:
#Divide 10 by 2, and print the result

print(10/2)

In [ ]:
#Use the correct membership operator to check if "apple" is present in the fruits object.
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

In [ ]:
#Use the correct comparison operator to check if 5 is not equal to 10.

if 5 != 10:
    print("5 and 10 is not equal")

In [ ]:
#Use the correct logical operator to check if at least one of two statements is True.
if 5 == 10 or 4 == 4:
    print("At least one of the statements is true")

In [ ]:
#Use the get method to print the value of the "model" key of the car dictionary.

car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get('model'))

In [ ]:
#Change the "year" value from 1964 to 2020.

car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car ['year'] = 2020

print(car)

In [ ]:
#Add the key/value pair "color" : "red" to the car dictionary.

car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car['color'] = 'red'


print(car)

In [ ]:
#Use the pop method to remove "model" from the car dictionary.

car = {'brand': 'ford', 'model': 'Mustang', 'year': 1964 }

car.pop('model')

print(car)

In [ ]:
#Use the clear method to empty the car dictionary.

car = {'brand': 'ford', 'model': 'Mustang', 'year': 1964 }

car.clear()

print(car)

In [ ]:
#Write a Python program to calculate the length of a string

a = (1,2,3,4,5,6)

print(len(a))

In [ ]:
#Write a Python program to sum all the items in a list

list = [11,15,16,18,23]

total = sum(list)

print(total)

In [ ]:
#Write a Python program to count the number of characters in a string.
#Sample String : 'google.com'
#Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}
    
def char(str):
    dict = {}
    for n in str:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
            
    return dict

print(char('google.com'))

In [ ]:
#print "Hello World!" by typing it inside print() function.

print('Hello World')

In [ ]:
#to assign "Hello World!" to the variable my_text.

my_text = 'Hello World'

print(my_text)

In [ ]:
#Type a couple of different values, inside the print function. Make sure they are separated by commas.    

print('prasanthi', 'lava')

In [ ]:
#Assign a number to the variable: glass_of_water

glass_of_water = 3

print(glass_of_water)

In [ ]:
print('I drank', glass_of_water, 'glasses of water today')

In [ ]:
glass_of_water = glass_of_water +1

print(glass_of_water)

In [ ]:
#two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

num1 = 20
num2 = 30

print(num1 * num2)

In [ ]:
number1 = 40
number2 = 30

print(number1 + number2)

In [ ]:
#Print the sum of the current number and the previous number

previous_number = 20
current_number = 50

print(previous_number)
print(current_number)

In [ ]:
previous_numb = 0

#loop from 1 to 10

for i in range(1, 11):
    x_sum = previous_numb + i
    
    print('current numbers', i, 'previous number', i +1)

In [ ]:
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", previous_num + i)
    # modify previous number
    # set it to the current number
    previous_num = i

In [ ]:
#Print characters from a string that are present at an even index number

name=input()


for i in range(0, size -1, 2):
    print('index[',i,']', word[i])

In [ ]:
#to remove characters from a string starting from zero up to n and return a new string.

str = 'prasanthi'

slice_str = slice(4)

print(str[slice_str])

In [ ]:
def text(word, n):
    x = word[:n]
    return x

print(text('VenkataSiva', 6))

In [ ]:
def text(word, n):
    y = word[n:]
    return y

print(text('kirankumar', 3))

In [ ]:
#Write a function to return True if the first and last number of a given list is same. 
#If numbers are different then return False.

nums = [10, 20, 30, 40, 10]

if nums[0] == nums[-1]:
    print('Result is True')
else:
    print('Result is False')

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

In [ ]:
def first_last_same(numberlist):
    print('given list:', numberlist)
    
    first_num = numberlist[0]
    last_num = numberlist[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

In [ ]:
print(first_last_same(numbers_x))

In [ ]:
print(first_last_same(numbers_y))

In [7]:
#Division method

num_list = [89,79,69,15,45,35,23,45]

for num in num_list:
    if num % 5 == 0:
        print(num)

15
45
35
45

In [1]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [11]:
a, b = 7.2, 3.1

result = a%b
print(result)

1.0

In [14]:
number1 = 64
number2 = 8
result = number1/number2
print(result)

8.0

In [15]:
num1 = 10
num2 = 2

division = num1/num2

print('division')

division

In [21]:
l =(int(input))
for i in l:
    for j in range(1, 50):
        if j%i == 0:
            print(j)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'method'

In [22]:
my_list = [2, 4, 5]


output = []

for i in range(1, 50):

    if all([i % j == 0 for j in my_list]):

        output.append(i)

print(output)

[20, 40]

In [24]:
#Write a program to accept two numbers from the user and calculate multiplication


num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))

a = num1 * num2
print("Multiplication is", a)

Enter first number 39
Enter second number 23
Multiplication is 897

In [25]:
num_1 = 2
num_2 = 3
product = num_1 * num_2

In [26]:
print('product of {} and {} is {}'.format(num_1, num_2, product))

product of 2 and 3 is 6

In [27]:
x = 32
y = 19

mul = x * y
print(mul)

608

In [28]:
p = int(input('Enter first number:'))
q = int(input('Enter second number:'))

result = p * q

Enter first number:54
Enter second number:36

In [29]:
print('Multiplication of two numbers', result)

Multiplication of two numbers 1944

In [16]:
# Accept a list of 5 float numbers as an input from the user

numbers = [78.6, 78.5, 85.3, 1.2, 3.4]

for i in range(0, 5):
    print('Enter number', i, ':')
    
    item = float(input())
    
    numbers.append(item)
    
print('User List:', numbers)

Enter number 0 :
85.3
Enter number 1 :
1.2
Enter number 2 :
3.4
Enter number 3 :
78.6
Enter number 4 :
78.5
User List: [78.6, 78.5, 85.3, 1.2, 3.4, 85.3, 1.2, 3.4, 78.6, 78.5]

In [19]:
lst = []

n = int(input('Enter number of elements:'))

for i in range(0, n):
    ele = int(input())
    lst.append(ele)
    
print(lst)

Enter number of elements:5
12
33
45
0
13
[12, 33, 45, 0, 13]

In [22]:
lst = [1,2,3,4,5,6,7,8]

n = int(input('Enter number:'))

for i in range(0, n):
    x = int(input())
    lst.append(x)
    
print(lst)

Enter number:5
1
2
3
4
5
[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5]

In [24]:
x = input('Enter a float:')

print('value of x:', x)

Enter a float:23.43
value of x: 23.43

In [26]:
x = input('Enter a float:')

print('type of x:', type(x))

Enter a float:string
type of x: <class 'str'>

In [35]:
#Format variables using a string.format() method.

totalmoney = 1000
quantity = 3
price =450

statement = 'I have {1} dollars so I can buy {0} football for {2:.2f} dollars'

print(statement.format(quantity, totalmoney, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars

In [28]:
txt = 'I have {an: .2f} Ruppes!'
print(txt.format(an = 4))

I have  4.00 Ruppes!

In [29]:
str = 'This article is written in {}'
print(str.format('python'))

This article is written in python

In [30]:
x = 'Hi, my name is {}'
print(x.format('prasanthi'))

Hi, my name is prasanthi

In [43]:
#I wondered why the program was troubling me. Then it dawned on me it was a bug.
type = 'bug'
result = 'troubling'

print('I wondered why the program was %s me. Then it dawned on me it was a %s.' %(result, type))

I wondered why the program was troubling me. Then it dawned on me it was a bug.

In [44]:
#LOOP 
## Program to find the sum of all numbers stored in a list

numbers = [6, 5, 3, 8, 4, 2, 5]

sum = 0

for i in numbers:
    sum =sum +i

In [46]:
print('The sum is', sum)

The sum is 33

In [47]:
x = [1, 3, 6, 7, 8, 9, 2, 5, ]

sum = 0

for i in x:
    sum = sum + i

In [49]:
print('sum', sum)

sum 41

In [50]:
print(range(10))

range(0, 10)

In [51]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
#for loop with else

digits = [0, 1, 5]

for i in digits:
    print(i)
    
else:
    print('stop')

0
1
5
stop

In [56]:
lst = [10, 20, 40, 50, 3, 89]

for i in lst:
    print(i)
    
else:
    print('No items left')

10
20
40
50
3
89
No items left

In [57]:
for i in range(5):
    print(i)

0
1
2
3
4