Function Arguments

In [2]:
def update(x):
    x =8
    print(x)
update(10)

8

In [3]:
def update(x):
    x =8
    print(x)
    
a=10
update(a)
print(a)

8
10

In [5]:
def update(x):
    x =8
    print('x', x)
    
a=10
update(a)
print('a', a)

x 8
a 10

In [9]:
def update(x):
    print(id(x))
    x=8
    print(id(x))

a = 10
print(id(a))
update(a)
print('a', a)

1614570678864
1614570678864
1614570678800
a 10

In [10]:
def update(lst):
    print(id(lst))
    
    lst[1] =25
    print(id(lst))
    print('x', lst)

lst = [10, 25, 30]
print(id(lst))
update(lst)
print('lst', lst)

1614685280960
1614685280960
1614685280960
x [10, 25, 30]
lst [10, 25, 30]

In [11]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [13]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(3))

18

In [16]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(3,4))

17

In [17]:
#postion argument
def person(name,age):
    print(name)
    print(age)

person('prasanthi', 28)

prasanthi
28

In [56]:
def person_name(first_name,second_name):
    print(first_name+second_name)

person_name('prasanthi', 'lava')

prasanthilava

In [18]:
def person(name,age):
    print(name)
    print(age)

person(28, 'prasanthi')

28
prasanthi

In [21]:
def person(name,age):
    print(name)
    print(age-5)

person(28, 'prasanthi')

28

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [22]:
#keyword argument

def person(name,age):
    print(name)
    print(age)

person (age=28, name='prasanthi')

prasanthi
28

In [24]:
#default 
def person(name,age=18):
    print(name)
    print(age)

person('prasanthi')

prasanthi
18

In [25]:
def person(name,age=18):
    print(name)
    print(age)

person('prasanthi', 28)

prasanthi
28

In [28]:
def sum(a, *b):
    c= a+b
    print(c)
 
sum(5,6,34,78)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [38]:
def add(a=5,b,c):
    return (a+b+c)

SyntaxError: non-default argument follows default argument (139207218.py, line 1)

In [39]:
def add(a,b,c):
    return (a+b+c)

print (add(a=10,3,4))

SyntaxError: positional argument follows keyword argument (3055781977.py, line 4)

In [40]:
def add(a,b=5,c=10):
    return (a+b+c)

print (add(2))

17

In [34]:
def sum(a, *b):
    c=a
    
    for i in b:
        c = c+i
    print(c)

sum(5,6,34,78)

123

In [35]:
def sum(a, *b):
    c=0
    
    for i in b:
        c = c+i
    print(c)

sum(5,6,34,78)

118

In [41]:
def add(*b):
    result=0
    for i in b:
         result=result+i
    return result

print (add(1,2,3,4,5))

15

In [42]:
def divide(a,b):
                return a/b
divide(3,2)

1.5

In [44]:
def greet(name, msg):
    """This function greets to
    the person with the provided message"""
    print("Hello", name + ', ' + msg)

greet("prasanthi", "Good morning!")

Hello prasanthi, Good morning!

In [48]:
def divide_two(a, b):
    res = a / b
    return res
 
res = divide_two(12, 3)
print(res)

4.0

In [50]:
def sayhello(name = 'world'):
    print('hello', name)

sayhello()
sayhello('prasanthi')

hello world
hello prasanthi

In [53]:
def multiply(a, b):
    return a*b
    
print(multiply(a=10, b=5))
print(multiply(b=20, a=9))
print(multiply(a=90, b=25))

50
180
2250

In [57]:
def function(a,b,c):
    return a,b,c

print(function(12,22,23))

(12, 22, 23)

In [58]:
def function(a,b,c):
    return a,b,c

a=10
b=20
c=30

print(function(a,b,c))

(10, 20, 30)

In [59]:
def function(a,b,c):
    return a,b,c

a=10
b=20
c=30

print(function(b,c,a))

(20, 30, 10)

In [60]:
def function(a,b,c):
    return a,b,c

print(function(b=20,a=10,c=30))

(10, 20, 30)

In [61]:
def msg(x,y):
    print(x, 'prasanthi', y)

msg('Hai' , 'Good Morning')

Hai prasanthi Good Morning

In [68]:
def add(x=1, y=2):
    z = x+y
    print(z)

add(4,5)

9

In [70]:
def fun(a=10, b=20, c=30):
    return a,b,c

print(fun())

(10, 20, 30)

In [71]:
def fun(a=10, b=20, c=30):
    return a,b,c

print(fun(1))

(1, 20, 30)

Keyword variable length

In [73]:
def person(name, *data):
    print(name)
    print(data)

person('prasanthi',28, 'mumbai', 9812345)

prasanthi
(28, 'mumbai', 9812345)

In [74]:
def person(name, *data):
    print(name)
    print(data)

person('prasanthi',age=28, city='mumbai', phone=9812345)

TypeError: person() got an unexpected keyword argument 'age'

In [78]:
def person(name, **data):
    print(name)
    print(data)

person ('prasanthi',age=28, city='mumbai', phone=9812345)

prasanthi
{'age': 28, 'city': 'mumbai', 'phone': 9812345}

In [79]:
def person(name, **data):
    
    print(name)
    
    for i,j in data.items():
        print(i,j)

person('prasanthi',age=28, city='mumbai', phone=9812345)

prasanthi
age 28
city mumbai
phone 9812345

In [80]:
def my_func(*argp):
    for i in argp:
        print(i)
my_func('Let', 'us', 'study', 'Data Science', 'and', 'Blockchain')

Let
us
study
Data Science
and
Blockchain

In [83]:
def my_fun(par1,par2,*argp):
    
    print('The first parameter is:',par1)
    print('The second parameter is:',par2)
    
    for i in argp:
        print(i)
        
my_func('Let', 'us', 'study', 'Data Science', 'and', 'Blockchain')

Let
us
study
Data Science
and
Blockchain

In [84]:
#program to demonstrate **kwargs 
def my_fun(*args,**kwargs):
    print('The value of args is:', args)
    print('The value of kwargs is:',kwargs)

my_fun('Let','us','study',a_key='Data Science',b_key='and',c_key='Blockchain')

The value of args is: ('Let', 'us', 'study')
The value of kwargs is: {'a_key': 'Data Science', 'b_key': 'and', 'c_key': 'Blockchain'}