# String

In [ ]:
print('welcome Message')
print('Hello World')

In [ ]:
message = 'hello world'
print(message)

In [ ]:
message = 'Bobby's world'
print(message)

In [ ]:
message = 'Bobby\'s world'
print (message)

In [ ]:
message = "Bobby's world"
print (message)

In [ ]:
message = 'Hello world'
print (len(message))

In [ ]:
message = 'Hello world'
print (message[0])

In [ ]:
message = 'Hello world'
print (message[11])

In [ ]:
message = 'Hello world'
print (message[:5])

In [ ]:
message = 'Hello world'
print (message[6:])

For Lower & upper case print method

In [ ]:
message = 'Hello world'
print (message.lower())

In [ ]:
message = 'Hello world'
print (message.upper())

# COUNT METHOD

In [ ]:
message = 'Hello world'
print (message.count('Hello'))

In [ ]:
message = 'Hello world'
print (message.count('l'))

Find Method

In [ ]:
message = 'Hello world'
print (message.find('world'))

Replace Method

In [ ]:
message = 'Hello world'

new_message = message.replace('world','Universe')

print (new_message)

In [ ]:
message = 'Hello world'

message = message.replace('world', 'Universe')

print (message)
print (new_message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting + name

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

print (message)

Formatted string

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

message = '{}, {}. welcome!'. format(greeting, name)

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

message = f'{greeting}, {name.upper()}. welcome!'

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

print (dir(name))

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

print (help(str))

Integers and Floats - Working with Numeric Data

In [ ]:
num =3

print (type(num))

In [ ]:
num =3.14

print (type(num))

Arthimetic Operators

In [ ]:
# Addition: 3+2
# Subtraction: 3-2
# Multiplcation: 3*2
# Division: 3/2
# Floor Division: 3//2
#Exponent: 3**2
#Modulus: 3%2

print (3 + 2)

In [ ]:
num =3

num *= 9

print(num)

In [ ]:
print(abs(-3))
print(round(3.75, 1))

Comparisons

In [ ]:
#Equal: 3 == 2
#Not Equal: 3 !=2
#Greater than: 3 > 2
#Less than: 3 < 2
#Greater or Equal: 3 >= 2
#Less or Equal: 3 <=2

num_1 = 3
num_2 = 2

print(num_1 >= num_2)

concatenates

In [ ]:
num_1 = '100'
num_2 = '200'

num_1 = int(num_1)
num_2 = int(num_2)
print(num_1 + num_2)

variables and data types

In [ ]:
character_name = "prasanthi"
character_age = "25"
print('There once was a man named ' + character_name + ',')
print('he was '+ character_age + ' years old ,' )
print('he really like the name ' + character_name + ',')
print("but didn't like being " + character_age + '.')

Getting inputs from users

In [ ]:
name = input('enter your name ')
age = input ('enter you age ')

print ( name + age)

Lists,Tuples, and Sets

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_2 = ['Art','Education']
courses. append('art')
courses.insert(0, courses_2)
courses.extend(courses_2)
print(courses)
print(len(courses))
print(courses[0])
print(courses[-1])
print(courses[0:2])
print(courses.index('art')) 
print(type(courses_2))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_2 = ['Art','Education']
courses.remove('maths')

popped = courses.pop()

courses. insert(0, courses_2)

print(courses)
print(courses_2)
print(popped)
print(type(courses))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
nums = [1, 5, 4, 2,3]

courses. reverse()
courses. sort(reverse=True)
nums.sort(reverse=True)
sorted_courses = sorted(courses)
print(courses)
print(min(nums))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_str = '-'. join(courses)
new_list = courses_str.split('-')

print (courses_str)
print (new_list)

# Dictionaries

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}

print(dic['name'])
print(len(dic))
print(max(dic))
print(min(dic))
print(type(dic))

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}
dic["gender"]="female"
dic.pop("phone")

print(dic)

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}
mydic=dict(dic)
print(mydic)

# Booleans

In [ ]:
x=10>9
print(x)

In [ ]:
x= 'Hello'
y= 15
print(bool(x))
print(bool(y))

# Conditions

In [ ]:
a=20
b=30
if b>a:
   print('b is greater than a')
else:
    print('b is not greather than a')

In [ ]:
a = 34
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("b is not greater than a")

In [ ]:
a = 200
b = 33
c = 400
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
x = 40

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

#  Loops and Iterations

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    if num == 3: 
        print('found')
        break
    print(num)

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    if num == 3:
        print('found')
        continue
    print(num)

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    for letter in 'abc':
        print(num, letter)

# Functions

In [ ]:
def hello_fun():
    nums = [1,2,3,4,5]
for num in nums:
    if num == 5:
        print('found')
        break
    print(num)
    
hello_fun()

# Import Modules

In [ ]:
import numpy as np
y=np.array([2,4,6,8])

In [ ]:
import my_mod as mod
import find_index as find

In [ ]:
mod.my_mean(y)

In [ ]:
find.find_index

# Local variable

In [ ]:
def local_test():
    value=1
    print('the value is define is: ',value)

In [ ]:
local_test()

# Global Variable

In [ ]:
message = "global"
def python_developer():
    developer="welcome to python program"
    print(message, developer)
def developer_name(name):
    print(message, name)

In [ ]:
python_developer()
developer_name("prasanthi")

# Enclose variable

In [ ]:
def parent_nest():
    initial_value=5
    def child_nest():
        next_value=10
        print("value define in the parent function:", initial_value)
        print("value define in the parent function:", next_value)
    child_nest()
parent_nest()

In [ ]:
a=("a","b","c","d","e","f""g","h")
x=slice(2)
print(a[x])

In [ ]:
my_list = [1, 2, 3, 4, 5,6,7,8,9]
        
print(my_list[3:8:2])

In [ ]:
list = [1,2,3,4,5,6,7,8,9]

print(list[0:8:2])

# String Slicing

In [ ]:
string = 'prasanthi'
print(string[0:8:2])

In [ ]:
s='mybacon'
s[2:5]

In [ ]:
s='mybacon'
s[-4:-2]

In [ ]:
#index_ 0, 1, 2, 3, 4, 5, 6
lst = [50,70,30,20,90,10,50]
print(lst[::])

In [ ]:
#index_ -7,-6,-5,-4,-3,-2,-1
lst=[50,70,30,20,90,10,50]
print(lst[-6::1])

In [ ]:
lst=[50,70,30,20,90,10,50]
print(lst[2:6])

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]

# Show original list
print("\nOriginal List:\n", lst)
 
print("\nSliced List: ")

print(lst[3:9:2])
print(lst[::2])
print(lst[::])
print(lst[:9:2])
print(lst[3::2])
print(lst[1:1:1])
print(lst[-1:-1:-1])
print(lst[10::2])

In [ ]:
lst = [-999, 'G4G', 1706256, '^_^', 3.1496]


print(lst[1:1:1])
print(lst[-1:-1:-1])
print(lst[10::2])

In [ ]:
lst = [-999, 'G4G', 1706256, '^_^', 3.1496]
print(lst)
lst[2:4] = ['Geeks', 'for', 'Geeks', '!']

# Modified List
print(lst)

lst[:6] = []

print(lst)

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9,11]
newlist = lst[:2]+lst[7:]
print(newlist)

# List Comprehensions

In [ ]:
[x for x in range (10)]

In [ ]:
#list 
lst=[]

for i in range(10):
    if(i%2==0):
        lst.append(i)
print(lst)

In [ ]:
#list comprehensions
lst=[i for i in range (10) if (i%3== 0)]
print(lst)

In [ ]:
lst=[character for character in 'Geeks 4 Geeks']
print(lst)

In [ ]:
# Empty list
List = []


for character in 'Geeks 4 Geeks!':
    List.append(character)

# Display list
print(List)

In [ ]:
num= [i*10 for i in range(1,6)]
print(num)

# Set Comprhenesions

In [ ]:
x = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]

output_set = set()

for var in x:
    if var % 2 == 0:
        output_set.add(var)

print(output_set)

In [ ]:
x = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]

lst={var for var in x if var % 2 == 0}
print(lst)

# sorting

In [ ]:
elements=[]
noofelements=int(input('enter the no of element:'))

for i in range(noofelements):
    element=int(input('enter the element:'))
    elements.append(element)

elements.sort(reverse=True)
print(elements)

In [ ]:
elements=[]
noofelements=int(input('enter the no of element:'))

for i in range(noofelements):
    element=input('enter the element:')
    elements.append(element)

elements.sort()
print(elements)

# Tuple Sorting

In [ ]:
items = [(1,'B'), (1,'A'), (2,'A'), (2,'B'), (0,'a')]

sorted_items = sorted(items)

print(items)
print(sorted_items)

In [ ]:
li = [9,1,5,6,7,3,4,8]
s_li=sorted(li)
print('sorted variable:\t', s_li)
print('original variable:\t', li)

In [ ]:
n_tuples = (6,9,3,1)
n_tuple_sorted = sorted(n_tuples)
n_tuple_sorted

# Formatting with placeholder

In [ ]:
txt1="my name is {fname}, I'm {age}"

In [ ]:
y=input('Enter you Name')
print('Hi %s, how are you' %y)

In [ ]:
x, y = 'my','world'
print('welcome to %s %r' %(x,y))

# Formatting with .format()

In [ ]:
#'string here {} then also {}'.format('something1,','something2')

In [ ]:
print('The {} {} {}'.format('apple', 'banana', 'fox'))

In [ ]:
#using indexing
print('The {2} {1} {0}'.format('fox', 'tree', 'cut'))

# formatting with f-strings

In [ ]:
name='prasanthi'
print(f'She said her name is {name}' )

In [ ]:
score=95
print(f'He score {score} marks in python')

In [ ]:
person = {'name':'prasanthi', 'age':25}
sentence = 'My name is' + person['name'] + 'and I am ' + str(person['age']) + 'years old.'
print(sentence)

In [ ]:
import os

print(os.getcwd())

In [ ]:
import os

def current_path(): 
    print("Current working directory before") 
    print(os.getcwd()) 
    print()
current_path() 
os.chdir('../')
current_path()

In [ ]:
import os
directory = "prasanthi"
parent_dir = 'C:/desktop/'
path = os.path.join(parent_dir, directory) 
print("Directory '% s' created" % directory)
print(os.getcwd())

In [ ]:
import os 
  
# Get the list of all files and directories 
# in the root directory 
path = "/"
print(path) 
print(dir_list)

In [ ]:
import os 
print(os.name)

# Datetime

In [ ]:
import datetime
x=datetime.datetime.now()
print(x)

In [ ]:
#year
y=datetime.datetime.now().year
print(y)

In [ ]:
d=datetime.date(2020,6,12)
print(d)

In [ ]:
tday=datetime.date.today()
print(tday)
print(tday.weekday())
print(tday.isoweekday())

In [ ]:
tdelta=datetime.timedelta(days=7)
print(tday - tdelta)
print(tday + tdelta)

In [ ]:
bday=datetime.date(1994, 3, 1)
print(bday)

till_bday= bday-tday
print(till_bday)

In [ ]:
t=datetime.time(9, 36, 45, 12000)
print(t)
print(t.hour)

In [ ]:
dt = datetime.datetime(2020, 6, 20, 12, 30, 45, 100000)
print(dt)
tdelta = datetime.timedelta(days=7)

print(dt + tdelta)

In [ ]:
import pytz
dt_utcnow = datetime.datetime.now(tz=pytz.utc)
print(dt_utcnow)
dt_mtn=datetime.datetime.now(pytz.timezone('us/mountain'))
print(dt_mtn)

In [ ]:
for tz in pytz.all_timezones:
    print(tz)

In [ ]:
dt_mtn = datetime.datetime.now(tz=pytz.timezone('US/Mountain'))
print(dt_mtn.strftime('%B, %d, %Y'))

In [ ]:
dt_str = 'july 26, 2020'
dt = datetime.datetime.strptime(dt_str, '%B %d, %Y')
print (dt)

#strftime -datetime to string
#strptime - string to datetime

# File Object

In [ ]:
f = open('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r')

print(f.name)
print(f.mode)

f.close()

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    pass
print(f.mode)
print(f.closed)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.read()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.readlines()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.readline()
    print(f_contents)
    f_contents = f.readline()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    size_to_read=10
    f_contents=f.read(size_to_read)
    
    while len(f_contents) > 0:
        print(f_contents, end='*')
        f_contents=f.read(size_to_read)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    size_to_read=10
    f_contents=f.read(size_to_read)
    
    print(f.tell())

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample1.txt', 'w') as f:
    f.write('hello')
    f.seek(0)
    f.write('welcome')

# Parsing and Renaming

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')
print(os.getcwd())

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')

for f in os.listdir():
    print(f)

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')

for f in os.listdir():
    print(os.path.splitext(f))

In [ ]:
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\New folder')
for f in os.listdir():
    f_name,f_ext = os.path.splitext(f)
    #print(f_name.split('-'))
    f_title,f_course,f_version,f_div, f_num = f_name.split('_')
    f_title = f_title.strip()[1:].zfill(1)
    f_course = f_course.strip()
    f_version=f_version.strip()
    f_div=f_div.strip()
    f_num = f_num.strip()
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_div, f_ext))

# Random module

In [ ]:
#randint()
import random
print(random.randint(1,9))

In [ ]:
import random
greeting = ['hello','hi','welcome','howdy']
l = ['apple','jackfruit','life']
print(random.choice(greeting))
print(random.choice(l))

In [ ]:
import random

#s = ['cut', 'tree', 'house']
p = list(range(1, 53))
#random.shuffle(s)
random.shuffle(p)
#print(s)
#print(deck)
print(p)

In [ ]:
m = ['sis', 'bro', 'mom', 'dad']
print(random.sample(m,k=2))

In [ ]:
random.random()

In [ ]:
import random
v= random.uniform(1, 10)
print(v)

In [ ]:
p = list(range(1, 53))
print(p)

# CSV

In [ ]:
import csv

with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    print(csv_reader)

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    for line in csv_reader:
        
        print(line[2])

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    next(csv_reader)
    for line in csv_reader:
        
        print(line[2])

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    with open('newCSV.csv', 'w') as new_file:
        csv_writer = csv.writer (new_file, delimiter ='-')
    
        for line in csv_reader:
            csv_writer.writerow(line)

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    for line in csv_reader:
        
        print(line)

In [ ]:
import csv 
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    with open('code.csv', 'w') as new_file:
        field= ['Username','IdentifierFirstname','Lastname','Username','Identifier','firstname','Last name']
                
        csv_writer = csv.DictWriter(new_file, field=field, delimiter ='\t')
        
        csv_writer.writeheader()
        
        for line in csv_reader:
            csv_writer.writerow(line)

In [ ]:
import pandas as pd

pd.read_csv('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\code.csv')

In [ ]:
pd.read_csv('code.csv', usecols =['network_id'])

In [ ]:
network_id = pd.read_csv('code.csv', usecols =['network_id'], squeeze= True)

In [ ]:
network_id

In [ ]:
import pandas as pd

data = pd.read_csv('Weather.csv')

In [ ]:
data

# Error Handling

In [ ]:
try:
    print(s)

except:
    print('except')

In [ ]:
try:
    print(s)
except Exception as e:
    print(e)

In [ ]:
try:
    print(s)
except Exception as e:
    print(e)
finally:
    print('this is final')

In [ ]:
s='prasanthi'
k=1
try:
    print(s + k)
except Exception as e:
    print(e)
finally:
    print('this is final')

In [ ]:
x=-1
if x<0:
    raise Exception("this is raise")

In [ ]:
#zero division error
s=0
try:
    print(1/s)
except Exception as e:
    print(e)

In [ ]:
try:
    num1 = 7
    num2 = 0 
    print('hello')
    print(num1/num2)
except:
    print('zero division error')

In [ ]:
#multiple exception error

try:
    variable=10
    print(variable + 'hello')
    print(variable/2)
except ZeroDivisionError:
    print('Division by zero')
except (ValueError, TypeError):
    print('Error occurred ')

In [ ]:
#which type error
try:
    a='spam'
    print( a / 0)
except:
    print('An error occurred')

In [ ]:
try:
    f = open('test_file.txt')
    var = bad_var
except FileNotFoundError:
    print('sorry. this file does not exist')
except Exception:
    print('sorry. something went wrong')

finally:
    print('Executing finally...')

# F-String

In [ ]:
#.format
first_name = 'prasanthi'
last_name = 'C'
sentence = 'My name is {} {}'.format(first_name, last_name)
print(sentence)

In [ ]:
#f-string
sentence=f'My name is {first_name.upper()} {last_name.upper()}'
print(sentence)

In [ ]:
#dictionary values using f-string

person = {'name': 'prasanthi', 'age':23}

# sentence = 'My name is {} and I am {} years old'.format(person ['name'], person ['age'])
# print(sentence)

#using f-string
sentence = f"My name is {person['name']} and I am {person['age']} years old"
print(sentence)

In [ ]:
calculate = f'4 times 11 is equal to {4 * 11}'
print(calculate)

In [ ]:
from datetime import datetime
birthday = datetime(1990, 1, 1)
sentence = f'Jenn has a birthday on {birthday}'
print (sentence)

# Generators

In [ ]:
def table(num):
    
    for i in range (1,11):
        print(f'{num}X{i}={num*i}')

table(6)

In [ ]:
def table(num):
    
    for i in range (1,11):
        return(f'{num}X{i}={num*i}')

table(5)

In [ ]:
def table(num):
    
    for i in range (1,11):
        yield f'{num}X{i}={num*i}'

output=table(5)
for value in output:
    print(value)

In [ ]:
def cube():
    n=1
    while n<=10:
        result = n**3
        n+=1
        return(result)
x = cube()
print(x)

In [ ]:
def p():
    yield 1            
    yield 2            
    yield 3
    
for value in p(): 
    print(value)

   # Decorators

In [ ]:
def outer_function():
    message = 'Hi'
    
    def inner_function():
        print(message)
    return inner_function()

outer_function()

In [ ]:
def outerfunction():
    message = 'Hi'
    
    def innerfunction():
        print(message)
    return innerfunction()
myabc= outer_function()
# print(myabc)

In [ ]:
myabc=outerfunction()

In [ ]:
myabc()

In [ ]:
def outer_function(msg):
    message = msg
    
    def inner_function():
        print(message)
    return inner_function

hi_func = outer_function('hi')
bye_func = outer_function('bye')

hi_func()
bye_func()

In [ ]:
def decorator_function(message):
    def wrapper_function():
        print(message)
    return wrapper_function

hi_fun = outer_function('Hi')
bye_fun = outer_function('bye')

hi_fun()
bye_fun()

In [ ]:
def decorator_function(original_function):
    def wrapper_function():
        return original_function()
    return wrapper_function

def display():
    print('display function ran')
    
decorated_display = decorator_function(display)

decorated_display()

In [ ]:
def decorator_function(original_function):
    def wrapper_function(*args, **kwargs):
        print('Excuted Before', original_function.__name__)
        result = original_function(*args, **kwargs)
        print('Executed After', original_function.__name__, '\n')
        return result
    return wrapper_function
    
@decorator_function
def display_info(name, age):
    print('display_info ran with arguments({}, {})'.format(name, age))
    

display_info('John', 25)
display_info('Travis', 30)

In [ ]:
def prefix_decorator(prefix):
    def decorator_function(original_function):
        def wrapper_function(*args, **kwargs):
            print('Excuted Before', original_function.__name__)
            result = original_function(*args, **kwargs)
            print('Executed After', original_function.__name__, '\n')
            return result
        return wrapper_function
    return decorator_function

@prefix_decorator('LOG:')
def display_info(name, age):
    print('display_info ran with arguments({}, {})'.format(name, age))
    

display_info('John', 25)
display_info('Travis', 30)

In [ ]:
print(__name__)

In [ ]:
print ("First Module's Name: {}". format(__name__))

In [ ]:
def main():
    print ("First Module's Name: {}". format(__name__))

if __name__ == '__main__':
    main()

# SQLite

In [ ]:
import sqlite3
from employee import Employee

conn = sqlite3.connect('employee.db')
c = conn.cursor()

# c.execute("""CREATE TABLE employees (
#            first text,
#            last text,
#            pay integer
#            )""")

emp_1 = Employee('John', "Doe", 80000)
emp_2 = Employee('Jane', 'Doe', 90000)

print(emp_1.first)
print(emp_1.last)
print(emp_1.pay)

c.execute("INSERT INTO employees VALUES ('Prasanthi','Chi', 50000)")

conn.commit()

c.execute("SELECT * FROM employees WHERE last= 'Chi'")

print(c.fetchall())

conn.commit()

conn.close

In [ ]:
import sqlite3
from employee import Employee

conn = sqlite3.connect('employee.db')
c = conn.cursor()

c.execute("""CREATE TABLE employees (
           first text,
           last text,
           pay integer
           )""")

emp_1 = Employee('John', "Doe", 80000)
emp_2 = Employee('Jane', 'Doe', 90000)


c.execute("INSERT INTO employees VALUES (?, ?, ?)", (emp_1.first, emp_1.last,emp_1.pay))

conn.commit()

c.execute("INSERT INTO employees VALUES (:first, :last, :pay)", {'first': emp_2.first, 'last': emp_2.last, 'pay': emp_2.pay})

conn.commit()

c.execute("SELECT * FROM employees WHERE last= 'Chi'")

print(c.fetchall())

conn.commit()

conn.close

In [ ]:
import sqlite3
from employee import Employee

conn = sqlite3.connect('employee.db')

c = conn.cursor()

# c.execute("""CREATE TABLE employees (
#            first text,
#            last text,
#            pay integer
#            )""")

emp_1 = Employee('John', "Doe", 80000)
emp_2 = Employee('Jane', 'Doe', 90000)


c.execute("SELECT * FROM employees WHERE last=?",('chi' ,))

print(c.fetchall())

c.execute("SELECT * FROM employees WHERE last=:last", {'last': 'Doe'})

print(c.fetchall())

conn.commit()

conn.close()

# re module

In [ ]:
print(r'\tTab')

In [ ]:
import re
txt = "The rain in spain"
x = re.search('^The.*spain', txt)
if x:
    print("YES! We found it")
else:
    print('Oops, no text')

In [ ]:
import re
txt = "The rain in Spain"
x = re.search('^The.*spain$', txt)
if x:
    print("YES! We found it")
else:
    print('Oops, no text')

In [ ]:
#Metacharacters
import re
txt = "The rain in Spain"
#Find all lower case characters alphabetically between 'a' and 'm'
x=re.findall('[a-m]', txt)
print(x)

In [ ]:
import re
txt = "2004-959-559 # This is Phone Number"
#line = "Cats are smarter than dogs"
#escape special characters
x=re.findall('\d', txt)
#x=re.findall('\d', line)
print(x)

In [ ]:
#Any character (except newline character) "he..o"

import re

txt = "hello planet Cats are smarter than dogs"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
y = re.findall("sm...er", txt)
print(x , y)

In [ ]:
import re
text_to_search = '''

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890

Ha HaHa

MetaCharacters (Need to be escaped):
. ^ $ * + ? {} [] \ | ()

coreyms.com

321-555-4321
123.555.1234
999*333*5554

Mr. Schafer
Mr Smith
Ms Davis
Mrs. Robinson
Mr. 

cat
mat
pat
bat

'''
sentence = 'Start a sentence and then bring it to an end'

# print(r'\tTab')

pattern = re.compile(r'abc')

matches = pattern.finditer(text_to_search)
                      
for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'.')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
# . - Any character Except new line
# \d - Digit(0-9)
# \D - Not a Digit (0-9)
# \w - Word Character (a-z, A-Z, 0-9, _)
# \W - Not a Word Character
# \s - Whitespace(space,tab,newline)
# \S - Not Whitespace(spcae, tab, newline)
pattern = re.compile(r'\w')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'\bHa')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'^')

matches = pattern.finditer(sentence)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'^Start')

matches = pattern.finditer(sentence)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'end$')

matches = pattern.finditer(sentence)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'\d\d\d.\d\d\d.\d\d\d')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r' \d\d\d.\d\d\d.\d\d\d')

matches = pattern.finditer(text_to_search)

# for match in matches:
#     print (match)
with open('sample.txt','r') as f:
    contents = f.read()
    
    matches = pattern.finditer(contents)
    
    for match in matches:
         print (match)

In [ ]:
pattern = re.compile(r'\d\d\d.\d\d\d.\d\d\d')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'\d\d\d[-.]\d\d\d[-.]\d\d\d')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'[^a-zA-Z]')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'[^b]at')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
#Quantifiers:
# * - 0 or More
# + - 1 or More
# ? - 0 or one
# {3} - Exact Number
# {3,4} - Range of Numbers (Minimum, Maximum)

pattern = re.compile(r'\d{3}.\d{3}.\d{4}')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
import re
pattern = re.compile(r'Mr\.?\s[A-Z]')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'(Mr|Ms|Mrs)\.?\s[A-Z]\w*')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

In [ ]:
import re

emails='''
CoreyMschafer@gamil.com
corey.schafer@university.edu
corey-321-schafer@my-work.net'''

pattern = re.compile(r'[a-zA-AZ]+@[a-zA-Z]+\.com')

matches = pattern.finditer(emails)

for match in matches:
    print (match)

In [ ]:
import re
urls ='''
https://www.google.com
https://facebook.com
https://youtube.com
https://www.nasa.gov
'''

pattern = re.compile(r'https?://(www\.)?\w+\.\w+')

matches = pattern.finditer(urls)

for match in matches:
    print (match)

In [ ]:
pattern = re.compile(r'https?://(www\.)?\w+\.\w+')

matches = pattern.finditer(urls)

for match in matches:
    print (match.group(1))

In [ ]:
import re

pattern = re.compiler(r'\d{3}.\d{3}.\d{4}')

matches = pattern.findall(text_to_search)

for match in matches:
    print(match)

In [ ]:
import re

sentence = 'Start a sentence and then bring it to an end'

pattern = re.compile(r'start', re.I)

matches = pattern.search(sentence)
print (matches)

# Basic calculator

In [ ]:
num1 = input('Enter a number:')
num2 = input('Enter another number:')

result = num1 + num2

print(result)

In [ ]:
num1 = input('Enter a number:')
num2 = input('Enter another number:')

result = int(num1) + int(num2)

print(result)

In [ ]:
num1 = input('Enter a number:')
num2 = input('Enter another number:')

result = float(num1) + float(num2)

print(result)

In [ ]:
num1 = input('Enter a number:')
num2 = input('Enter another number:')

result = int(num1) - int(num2)

print(result)

In [ ]:
num1 = input('Enter a number:')
num2 = input('Enter another number:')

result = int(num1) * int(num2)

print(result)

In [ ]:
num1 = input('Enter a number:')
num2 = input('Enter another number:')

result = int(num1) % int(num2)

print(result)

In [ ]:
num1 = input('Enter a number:')
num2 = input('Enter another number:')

result = float(num1) * float(num2)

print(result)

# List Function

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'brother','sister','mother', 'father']

names.extend(numbers)
print(names)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'brother','sister','mother', 'father']

names.append('lucky')
print(names)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'brother','sister','mother', 'father']

names.insert(1, 'kiran')
print(names)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

names.remove('kiran')
print(names)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'brother','sister','mother', 'father']

names.clear()
print(names)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

names.pop()
print(names)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

print(names.index('brother'))

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

print(names.index('mother'))

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77,9,9,9,9,9,5,5,5,5,]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father','brother','sister']

print(names.count('brother'))

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77,9,9,9,9,9,5,5,5,5,]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father','brother','sister']

print(numbers.count('9'))

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

names.sort()
print(names)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77,9,9,9,9,9,5,5,5,5,]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

numbers.sort()
print(numbers)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77,9,9,9,9,9,5,5,5,5,]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

numbers.reverse()
print(numbers)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77,9,9,9,9,9,5,5,5,5,]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

numbers1=numbers.copy()
print(numbers1)

In [ ]:
numbers = [4,6,7,8,9,2,3,5,34,55,77,9,9,9,9,9,5,5,5,5,]
names=['prasanthi', 'kiran', 'brother','sister','mother', 'father']

names1=names.copy()
print(names)

# Guessing Game

In [ ]:
secret_word = "giraffe"
guess=""

while guess != secret_word:
    guess = input('Enter guess:')
    
print('You win!')

In [ ]:
secret_word = "giraffe"
guess=""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
    if guess_count<guess_limit:
        guess = input('Enter guess:')
        guess_count +=1
    else:
        out_of_guesses = True

if out_of_guesses:
    print('out of Guesses, YOU LOSE!')
else:
    print('You win!')

# Translator in python

In [ ]:
def translate(phrase):
    translation=''
    for letter in phrase:
        if letter in 'AEIOUaeiou':
            translation = translation + 'g'
        else:
            translation = translation + letter
    return translation

print(translate(input('Enter a phrase:')))

In [ ]:
def translate(phrase):
    translation=''
    for letter in phrase:
        if letter.lower() in 'aeiou':
            if letter.isupper():
                translation = translation + 'G'
            else:
                translation = translation + 'g'
            
        else:
            translation = translation + letter
    return translation

print(translate(input('Enter a phrase:')))

# Comments

In [ ]:
'''
Write some thing
It is little note 

'''

#This prints out a string
 
print('Comments are fun')

In [ ]:
import useful_tools

print(useful_tools.roll_dice(10))

# Prime Number

In [ ]:
num = 7
for i in range (2,num):
    if num % i == 0:
        print('Not Prime')
        break
else:
    print('Prime')

In [ ]:
# Program to check if a number is prime or not

num = 407

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
else:
    print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
# else:
#     print(num,"is not a prime number")

# Array

In [ ]:
#import array
#import array as arr
from array import *

vals = array('i', [5,9,8,4,2])

print(vals)

In [ ]:
vals = array('i', [5,9,8.5,4,2])

print(vals)

In [ ]:
vals = array('i', [5,-9,8,4,2])

print(vals)

In [ ]:
vals = array('I', [5,-9,8,4,2])

print(vals)

In [ ]:
vals = array('i', [5,9,8,4,2])

print(vals.buffer_info())

In [ ]:
vals = array('i', [5,9,8,4,2])

print(vals.typecode)

In [ ]:
vals = array('i', [5,9,8,4,2])
vals.reverse()
print(vals)

In [ ]:
#print one by one 

vals = array('i', [5,9,8,4,2])

for i in range(5):

    print(vals[i])

In [ ]:
vals = array('i', [5,9,8,4,2])

for e in vals:
    print(e)

In [ ]:
vals = array('u', ['a','e','i'])

for e in vals:
    print(e)

In [ ]:
#new array with same values

vals = array('i', [5,9,8,4,2])

newArr = array(vals.typecode,(a for a in vals))

for e in newArr:
    print(e)

In [ ]:
#while loop

vals = array('i', [5,9,8,4,2])

newArr = array(vals.typecode, (a*a for a in vals))

i=0

while i<len(newArr):
    print (newArr[i])
    i+=1

In [ ]:
#array support negative value
import array

int_array = array.array('i', [10, 20, 30, 40, 50, 60, 70, 80])

print(int_array[-2])  # 70

print(int_array[-5])  # 40

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
print(cars)

In [ ]:
x=cars[0]
print(x)

In [ ]:
#modify the value in first array 

cars[0] = "Jeep"
print(cars)

In [ ]:
x = len(cars)
print(x)

In [ ]:
for x in cars:
    
    print(x)

In [ ]:
#removing array using pop()

cars.pop(1)

print(cars)

# Array values from user

In [3]:
from array import *

arr =  array('i', [])

n = int (input('enter the length of the array'))

for i in range (n):
    x = int(input('Enter the next value'))
    arr.append(x)
    
print(arr)

enter the length of the array5
Enter the next value1
Enter the next value2
Enter the next value3
Enter the next value4
Enter the next value5
array('i', [1, 2, 3, 4, 5])

In [5]:
arr =  array('i', [])

n = int (input('enter the length of the array'))

for i in range (n):
    x = int(input('Enter the next value'))
    arr.append(x)
    
print(arr)

val = int(input('Enter the value for search'))

k = 0
for e in arr:
    if e==val:
        print(k)
        break
    k+=1

enter the length of the array4
Enter the next value99
Enter the next value33
Enter the next value44
Enter the next value55
array('i', [99, 33, 44, 55])
Enter the value for search55
3

In [7]:
lst = []
n = int(input('Enter number of element:'))

#iterating till the range
for i in range(0, n):
    ele = int(input())

#adding the element
    lst.append(ele)
print(lst)

Enter number of element:5
12
55
44
33
66
[12, 55, 44, 33, 66]

In [9]:
lst = [ ]
n = int(input("Enter number of elements : "))
  
for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)
      
print(lst)

Enter number of elements : 3
45
32
56
7
8
6
[['45', 32], ['56', 7], ['8', 6]]