# String

In [ ]:
print('welcome Message')
print('Hello World')

In [ ]:
message = 'hello world'
print(message)

In [ ]:
message = 'Bobby's world'
print(message)

In [ ]:
message = 'Bobby\'s world'
print (message)

In [ ]:
message = "Bobby's world"
print (message)

In [ ]:
message = 'Hello world'
print (len(message))

In [ ]:
message = 'Hello world'
print (message[0])

In [ ]:
message = 'Hello world'
print (message[11])

In [ ]:
message = 'Hello world'
print (message[:5])

In [ ]:
message = 'Hello world'
print (message[6:])

For Lower & upper case print method

In [ ]:
message = 'Hello world'
print (message.lower())

In [ ]:
message = 'Hello world'
print (message.upper())

# COUNT METHOD

In [ ]:
message = 'Hello world'
print (message.count('Hello'))

In [ ]:
message = 'Hello world'
print (message.count('l'))

Find Method

In [ ]:
message = 'Hello world'
print (message.find('world'))

Replace Method

In [ ]:
message = 'Hello world'

new_message = message.replace('world','Universe')

print (new_message)

In [ ]:
message = 'Hello world'

message = message.replace('world', 'Universe')

print (message)
print (new_message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting + name

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

print (message)

Formatted string

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

message = '{}, {}. welcome!'. format(greeting, name)

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

message = f'{greeting}, {name.upper()}. welcome!'

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

print (dir(name))

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

print (help(str))

Integers and Floats - Working with Numeric Data

In [ ]:
num =3

print (type(num))

In [ ]:
num =3.14

print (type(num))

Arthimetic Operators

In [ ]:
# Addition: 3+2
# Subtraction: 3-2
# Multiplcation: 3*2
# Division: 3/2
# Floor Division: 3//2
#Exponent: 3**2
#Modulus: 3%2

print (3 + 2)

In [ ]:
num =3

num *= 9

print(num)

In [ ]:
print(abs(-3))
print(round(3.75, 1))

Comparisons

In [ ]:
#Equal: 3 == 2
#Not Equal: 3 !=2
#Greater than: 3 > 2
#Less than: 3 < 2
#Greater or Equal: 3 >= 2
#Less or Equal: 3 <=2

num_1 = 3
num_2 = 2

print(num_1 >= num_2)

concatenates

In [ ]:
num_1 = '100'
num_2 = '200'

num_1 = int(num_1)
num_2 = int(num_2)
print(num_1 + num_2)

variables and data types

In [ ]:
character_name = "prasanthi"
character_age = "25"
print('There once was a man named ' + character_name + ',')
print('he was '+ character_age + ' years old ,' )
print('he really like the name ' + character_name + ',')
print("but didn't like being " + character_age + '.')

Getting inputs from users

In [ ]:
name = input('enter your name ')
age = input ('enter you age ')

print ( name + age)

Lists,Tuples, and Sets

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_2 = ['Art','Education']
courses. append('art')
courses.insert(0, courses_2)
courses.extend(courses_2)
print(courses)
print(len(courses))
print(courses[0])
print(courses[-1])
print(courses[0:2])
print(courses.index('art')) 
print(type(courses_2))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_2 = ['Art','Education']
courses.remove('maths')

popped = courses.pop()

courses. insert(0, courses_2)

print(courses)
print(courses_2)
print(popped)
print(type(courses))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
nums = [1, 5, 4, 2,3]

courses. reverse()
courses. sort(reverse=True)
nums.sort(reverse=True)
sorted_courses = sorted(courses)
print(courses)
print(min(nums))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_str = '-'. join(courses)
new_list = courses_str.split('-')

print (courses_str)
print (new_list)

# Dictionaries

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}

print(dic['name'])
print(len(dic))
print(max(dic))
print(min(dic))
print(type(dic))

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}
dic["gender"]="female"
dic.pop("phone")

print(dic)

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}
mydic=dict(dic)
print(mydic)

# Booleans

In [ ]:
x=10>9
print(x)

In [ ]:
x= 'Hello'
y= 15
print(bool(x))
print(bool(y))

# Conditions

In [ ]:
a=20
b=30
if b>a:
   print('b is greater than a')
else:
    print('b is not greather than a')

In [ ]:
a = 34
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("b is not greater than a")

In [ ]:
a = 200
b = 33
c = 400
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
x = 40

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

#  Loops and Iterations

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    if num == 3: 
        print('found')
        break
    print(num)

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    if num == 3:
        print('found')
        continue
    print(num)

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    for letter in 'abc':
        print(num, letter)

# Functions

In [ ]:
def hello_fun():
    nums = [1,2,3,4,5]
for num in nums:
    if num == 5:
        print('found')
        break
    print(num)
    
hello_fun()

# Import Modules

In [ ]:
import numpy as np
y=np.array([2,4,6,8])

In [ ]:
import my_mod as mod
import find_index as find

In [ ]:
mod.my_mean(y)

In [ ]:
find.find_index

# Local variable

In [ ]:
def local_test():
    value=1
    print('the value is define is: ',value)

In [ ]:
local_test()

# Global Variable

In [ ]:
message = "global"
def python_developer():
    developer="welcome to python program"
    print(message, developer)
def developer_name(name):
    print(message, name)

In [ ]:
python_developer()
developer_name("prasanthi")

# Enclose variable

In [ ]:
def parent_nest():
    initial_value=5
    def child_nest():
        next_value=10
        print("value define in the parent function:", initial_value)
        print("value define in the parent function:", next_value)
    child_nest()
parent_nest()

In [ ]:
a=("a","b","c","d","e","f""g","h")
x=slice(2)
print(a[x])

In [ ]:
my_list = [1, 2, 3, 4, 5,6,7,8,9]
        
print(my_list[3:8:2])

In [ ]:
list = [1,2,3,4,5,6,7,8,9]

print(list[0:8:2])

# String Slicing

In [ ]:
string = 'prasanthi'
print(string[0:8:2])

In [ ]:
s='mybacon'
s[2:5]

In [ ]:
s='mybacon'
s[-4:-2]

In [ ]:
#index_ 0, 1, 2, 3, 4, 5, 6
lst = [50,70,30,20,90,10,50]
print(lst[::])

In [ ]:
#index_ -7,-6,-5,-4,-3,-2,-1
lst=[50,70,30,20,90,10,50]
print(lst[-6::1])

In [ ]:
lst=[50,70,30,20,90,10,50]
print(lst[2:6])

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]

# Show original list
print("\nOriginal List:\n", lst)
 
print("\nSliced List: ")

print(lst[3:9:2])
print(lst[::2])
print(lst[::])
print(lst[:9:2])
print(lst[3::2])
print(lst[1:1:1])
print(lst[-1:-1:-1])
print(lst[10::2])

In [ ]:
lst = [-999, 'G4G', 1706256, '^_^', 3.1496]


print(lst[1:1:1])
print(lst[-1:-1:-1])
print(lst[10::2])

In [ ]:
lst = [-999, 'G4G', 1706256, '^_^', 3.1496]
print(lst)
lst[2:4] = ['Geeks', 'for', 'Geeks', '!']

# Modified List
print(lst)

lst[:6] = []

print(lst)

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9,11]
newlist = lst[:2]+lst[7:]
print(newlist)

# List Comprehensions

In [ ]:
[x for x in range (10)]

In [ ]:
#list 
lst=[]

for i in range(10):
    if(i%2==0):
        lst.append(i)
print(lst)

In [ ]:
#list comprehensions
lst=[i for i in range (10) if (i%3== 0)]
print(lst)

In [ ]:
lst=[character for character in 'Geeks 4 Geeks']
print(lst)

In [ ]:
# Empty list
List = []


for character in 'Geeks 4 Geeks!':
    List.append(character)

# Display list
print(List)

In [ ]:
num= [i*10 for i in range(1,6)]
print(num)

# Set Comprhenesions

In [ ]:
x = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]

output_set = set()

for var in x:
    if var % 2 == 0:
        output_set.add(var)

print(output_set)

In [ ]:
x = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]

lst={var for var in x if var % 2 == 0}
print(lst)

# sorting

In [ ]:
elements=[]
noofelements=int(input('enter the no of element:'))

for i in range(noofelements):
    element=int(input('enter the element:'))
    elements.append(element)

elements.sort(reverse=True)
print(elements)

In [ ]:
elements=[]
noofelements=int(input('enter the no of element:'))

for i in range(noofelements):
    element=input('enter the element:')
    elements.append(element)

elements.sort()
print(elements)

# Tuple Sorting

In [ ]:
items = [(1,'B'), (1,'A'), (2,'A'), (2,'B'), (0,'a')]

sorted_items = sorted(items)

print(items)
print(sorted_items)

In [ ]:
li = [9,1,5,6,7,3,4,8]
s_li=sorted(li)
print('sorted variable:\t', s_li)
print('original variable:\t', li)

In [ ]:
n_tuples = (6,9,3,1)
n_tuple_sorted = sorted(n_tuples)
n_tuple_sorted

# Formatting with placeholder

In [ ]:
txt1="my name is {fname}, I'm {age}"

In [ ]:
y=input('Enter you Name')
print('Hi %s, how are you' %y)

In [ ]:
x, y = 'my','world'
print('welcome to %s %r' %(x,y))

# Formatting with .format()

In [ ]:
#'string here {} then also {}'.format('something1,','something2')

In [ ]:
print('The {} {} {}'.format('apple', 'banana', 'fox'))

In [ ]:
#using indexing
print('The {2} {1} {0}'.format('fox', 'tree', 'cut'))

# formatting with f-strings

In [ ]:
name='prasanthi'
print(f'She said her name is {name}' )

In [ ]:
score=95
print(f'He score {score} marks in python')

In [ ]:
person = {'name':'prasanthi', 'age':25}
sentence = 'My name is' + person['name'] + 'and I am ' + str(person['age']) + 'years old.'
print(sentence)

In [ ]:
import os

print(os.getcwd())

In [ ]:
import os

def current_path(): 
    print("Current working directory before") 
    print(os.getcwd()) 
    print()
current_path() 
os.chdir('../')
current_path()

In [ ]:
import os
directory = "prasanthi"
parent_dir = 'C:/desktop/'
path = os.path.join(parent_dir, directory) 
print("Directory '% s' created" % directory)
print(os.getcwd())

In [ ]:
import os 
  
# Get the list of all files and directories 
# in the root directory 
path = "/"
print(path) 
print(dir_list)

In [ ]:
import os 
print(os.name)

# Datetime

In [ ]:
import datetime
x=datetime.datetime.now()
print(x)

In [ ]:
#year
y=datetime.datetime.now().year
print(y)

In [ ]:
d=datetime.date(2020,6,12)
print(d)

In [ ]:
tday=datetime.date.today()
print(tday)
print(tday.weekday())
print(tday.isoweekday())

In [ ]:
tdelta=datetime.timedelta(days=7)
print(tday - tdelta)
print(tday + tdelta)

In [ ]:
bday=datetime.date(1994, 3, 1)
print(bday)

till_bday= bday-tday
print(till_bday)

In [ ]:
t=datetime.time(9, 36, 45, 12000)
print(t)
print(t.hour)

In [ ]:
dt = datetime.datetime(2020, 6, 20, 12, 30, 45, 100000)
print(dt)
tdelta = datetime.timedelta(days=7)

print(dt + tdelta)

In [ ]:
import pytz
dt_utcnow = datetime.datetime.now(tz=pytz.utc)
print(dt_utcnow)
dt_mtn=datetime.datetime.now(pytz.timezone('us/mountain'))
print(dt_mtn)

In [ ]:
for tz in pytz.all_timezones:
    print(tz)

In [ ]:
dt_mtn = datetime.datetime.now(tz=pytz.timezone('US/Mountain'))
print(dt_mtn.strftime('%B, %d, %Y'))

In [ ]:
dt_str = 'july 26, 2020'
dt = datetime.datetime.strptime(dt_str, '%B %d, %Y')
print (dt)

#strftime -datetime to string
#strptime - string to datetime

# File Object

In [ ]:
f = open('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r')

print(f.name)
print(f.mode)

f.close()

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    pass
print(f.mode)
print(f.closed)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.read()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.readlines()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.readline()
    print(f_contents)
    f_contents = f.readline()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    size_to_read=10
    f_contents=f.read(size_to_read)
    
    while len(f_contents) > 0:
        print(f_contents, end='*')
        f_contents=f.read(size_to_read)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    size_to_read=10
    f_contents=f.read(size_to_read)
    
    print(f.tell())

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample1.txt', 'w') as f:
    f.write('hello')
    f.seek(0)
    f.write('welcome')

# Parsing and Renaming

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')
print(os.getcwd())

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')

for f in os.listdir():
    print(f)

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')

for f in os.listdir():
    print(os.path.splitext(f))

In [ ]:
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\New folder')
for f in os.listdir():
    f_name,f_ext = os.path.splitext(f)
    #print(f_name.split('-'))
    f_title,f_course,f_version,f_div, f_num = f_name.split('_')
    f_title = f_title.strip()[1:].zfill(1)
    f_course = f_course.strip()
    f_version=f_version.strip()
    f_div=f_div.strip()
    f_num = f_num.strip()
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_div, f_ext))

# Random module

In [ ]:
#randint()
import random
print(random.randint(1,9))

In [ ]:
import random
greeting = ['hello','hi','welcome','howdy']
l = ['apple','jackfruit','life']
print(random.choice(greeting))
print(random.choice(l))

In [ ]:
import random

#s = ['cut', 'tree', 'house']
p = list(range(1, 53))
#random.shuffle(s)
random.shuffle(p)
#print(s)
#print(deck)
print(p)

In [ ]:
m = ['sis', 'bro', 'mom', 'dad']
print(random.sample(m,k=2))

In [ ]:
random.random()

In [ ]:
import random
v= random.uniform(1, 10)
print(v)

In [ ]:
p = list(range(1, 53))
print(p)

# CSV

In [ ]:
import csv

with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    print(csv_reader)

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    for line in csv_reader:
        
        print(line[2])

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    next(csv_reader)
    for line in csv_reader:
        
        print(line[2])

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    with open('newCSV.csv', 'w') as new_file:
        csv_writer = csv.writer (new_file, delimiter ='-')
    
        for line in csv_reader:
            csv_writer.writerow(line)

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    for line in csv_reader:
        
        print(line)

In [ ]:
import csv 
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    with open('code.csv', 'w') as new_file:
        field= ['Username','IdentifierFirstname','Lastname','Username','Identifier','firstname','Last name']
                
        csv_writer = csv.DictWriter(new_file, field=field, delimiter ='\t')
        
        csv_writer.writeheader()
        
        for line in csv_reader:
            csv_writer.writerow(line)

In [2]:
import pandas as pd

pd.read_csv('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\code.csv')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [ ]:
pd.read_csv('code.csv', usecols =['network_id'])

In [ ]:
network_id = pd.read_csv('code.csv', usecols =['network_id'], squeeze= True)

In [ ]:
network_id

In [4]:
import pandas as pd

data = pd.read_csv('Weather.csv')

In [5]:
data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow