# String

In [ ]:
print('welcome Message')
print('Hello World')

In [ ]:
message = 'hello world'
print(message)

In [ ]:
message = 'Bobby's world'
print(message)

In [ ]:
message = 'Bobby\'s world'
print (message)

In [ ]:
message = "Bobby's world"
print (message)

In [ ]:
message = 'Hello world'
print (len(message))

In [ ]:
message = 'Hello world'
print (message[0])

In [ ]:
message = 'Hello world'
print (message[11])

In [ ]:
message = 'Hello world'
print (message[:5])

In [ ]:
message = 'Hello world'
print (message[6:])

For Lower & upper case print method

In [ ]:
message = 'Hello world'
print (message.lower())

In [ ]:
message = 'Hello world'
print (message.upper())

# COUNT METHOD

In [ ]:
message = 'Hello world'
print (message.count('Hello'))

In [ ]:
message = 'Hello world'
print (message.count('l'))

Find Method

In [ ]:
message = 'Hello world'
print (message.find('world'))

Replace Method

In [ ]:
message = 'Hello world'

new_message = message.replace('world','Universe')

print (new_message)

In [ ]:
message = 'Hello world'

message = message.replace('world', 'Universe')

print (message)
print (new_message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting + name

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

print (message)

Formatted string

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

message = '{}, {}. welcome!'. format(greeting, name)

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

message = greeting +','+ name +'.Welcome!'

message = f'{greeting}, {name.upper()}. welcome!'

print (message)

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

print (dir(name))

In [ ]:
greeting = 'Hello'
name = 'prasanthi'

print (help(str))

Integers and Floats - Working with Numeric Data

In [ ]:
num =3

print (type(num))

In [ ]:
num =3.14

print (type(num))

Arthimetic Operators

In [ ]:
# Addition: 3+2
# Subtraction: 3-2
# Multiplcation: 3*2
# Division: 3/2
# Floor Division: 3//2
#Exponent: 3**2
#Modulus: 3%2

print (3 + 2)

In [ ]:
num =3

num *= 9

print(num)

In [ ]:
print(abs(-3))
print(round(3.75, 1))

Comparisons

In [ ]:
#Equal: 3 == 2
#Not Equal: 3 !=2
#Greater than: 3 > 2
#Less than: 3 < 2
#Greater or Equal: 3 >= 2
#Less or Equal: 3 <=2

num_1 = 3
num_2 = 2

print(num_1 >= num_2)

concatenates

In [ ]:
num_1 = '100'
num_2 = '200'

num_1 = int(num_1)
num_2 = int(num_2)
print(num_1 + num_2)

variables and data types

In [ ]:
character_name = "prasanthi"
character_age = "25"
print('There once was a man named ' + character_name + ',')
print('he was '+ character_age + ' years old ,' )
print('he really like the name ' + character_name + ',')
print("but didn't like being " + character_age + '.')

Getting inputs from users

In [ ]:
name = input('enter your name ')
age = input ('enter you age ')

print ( name + age)

Lists,Tuples, and Sets

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_2 = ['Art','Education']
courses. append('art')
courses.insert(0, courses_2)
courses.extend(courses_2)
print(courses)
print(len(courses))
print(courses[0])
print(courses[-1])
print(courses[0:2])
print(courses.index('art')) 
print(type(courses_2))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_2 = ['Art','Education']
courses.remove('maths')

popped = courses.pop()

courses. insert(0, courses_2)

print(courses)
print(courses_2)
print(popped)
print(type(courses))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
nums = [1, 5, 4, 2,3]

courses. reverse()
courses. sort(reverse=True)
nums.sort(reverse=True)
sorted_courses = sorted(courses)
print(courses)
print(min(nums))

In [ ]:
courses = ['history', 'maths', 'physics', 'telugu']
courses_str = '-'. join(courses)
new_list = courses_str.split('-')

print (courses_str)
print (new_list)

# Dictionaries

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}

print(dic['name'])
print(len(dic))
print(max(dic))
print(min(dic))
print(type(dic))

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}
dic["gender"]="female"
dic.pop("phone")

print(dic)

In [ ]:
dic={'name':'prasanthi','age':'20','phone':'9999922228'}
mydic=dict(dic)
print(mydic)

# Booleans

In [ ]:
x=10>9
print(x)

In [ ]:
x= 'Hello'
y= 15
print(bool(x))
print(bool(y))

# Conditions

In [ ]:
a=20
b=30
if b>a:
   print('b is greater than a')
else:
    print('b is not greather than a')

In [ ]:
a = 34
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("b is not greater than a")

In [ ]:
a = 200
b = 33
c = 400
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
x = 40

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

#  Loops and Iterations

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    if num == 3: 
        print('found')
        break
    print(num)

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    if num == 3:
        print('found')
        continue
    print(num)

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    for letter in 'abc':
        print(num, letter)

# Functions

In [ ]:
def hello_fun():
    nums = [1,2,3,4,5]
for num in nums:
    if num == 5:
        print('found')
        break
    print(num)
    
hello_fun()

# Import Modules

In [ ]:
import numpy as np
y=np.array([2,4,6,8])

In [ ]:
import my_mod as mod
import find_index as find

In [ ]:
mod.my_mean(y)

In [ ]:
find.find_index

# Local variable

In [ ]:
def local_test():
    value=1
    print('the value is define is: ',value)

In [ ]:
local_test()

# Global Variable

In [ ]:
message = "global"
def python_developer():
    developer="welcome to python program"
    print(message, developer)
def developer_name(name):
    print(message, name)

In [ ]:
python_developer()
developer_name("prasanthi")

# Enclose variable

In [ ]:
def parent_nest():
    initial_value=5
    def child_nest():
        next_value=10
        print("value define in the parent function:", initial_value)
        print("value define in the parent function:", next_value)
    child_nest()
parent_nest()

In [ ]:
a=("a","b","c","d","e","f""g","h")
x=slice(2)
print(a[x])

In [ ]:
my_list = [1, 2, 3, 4, 5,6,7,8,9]
        
print(my_list[3:8:2])

In [ ]:
list = [1,2,3,4,5,6,7,8,9]

print(list[0:8:2])

# String Slicing

In [ ]:
string = 'prasanthi'
print(string[0:8:2])

In [ ]:
s='mybacon'
s[2:5]

In [ ]:
s='mybacon'
s[-4:-2]

In [ ]:
#index_ 0, 1, 2, 3, 4, 5, 6
lst = [50,70,30,20,90,10,50]
print(lst[::])

In [ ]:
#index_ -7,-6,-5,-4,-3,-2,-1
lst=[50,70,30,20,90,10,50]
print(lst[-6::1])

In [ ]:
lst=[50,70,30,20,90,10,50]
print(lst[2:6])

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]

# Show original list
print("\nOriginal List:\n", lst)
 
print("\nSliced List: ")

print(lst[3:9:2])
print(lst[::2])
print(lst[::])
print(lst[:9:2])
print(lst[3::2])
print(lst[1:1:1])
print(lst[-1:-1:-1])
print(lst[10::2])

In [ ]:
lst = [-999, 'G4G', 1706256, '^_^', 3.1496]


print(lst[1:1:1])
print(lst[-1:-1:-1])
print(lst[10::2])

In [ ]:
lst = [-999, 'G4G', 1706256, '^_^', 3.1496]
print(lst)
lst[2:4] = ['Geeks', 'for', 'Geeks', '!']

# Modified List
print(lst)

lst[:6] = []

print(lst)

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9,11]
newlist = lst[:2]+lst[7:]
print(newlist)

# List Comprehensions

In [ ]:
[x for x in range (10)]

In [ ]:
#list 
lst=[]

for i in range(10):
    if(i%2==0):
        lst.append(i)
print(lst)

In [ ]:
#list comprehensions
lst=[i for i in range (10) if (i%3== 0)]
print(lst)

In [ ]:
lst=[character for character in 'Geeks 4 Geeks']
print(lst)

In [ ]:
# Empty list
List = []


for character in 'Geeks 4 Geeks!':
    List.append(character)

# Display list
print(List)

In [ ]:
num= [i*10 for i in range(1,6)]
print(num)

# Set Comprhenesions

In [ ]:
x = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]

output_set = set()

for var in x:
    if var % 2 == 0:
        output_set.add(var)

print(output_set)

In [ ]:
x = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]

lst={var for var in x if var % 2 == 0}
print(lst)

# sorting

In [ ]:
elements=[]
noofelements=int(input('enter the no of element:'))

for i in range(noofelements):
    element=int(input('enter the element:'))
    elements.append(element)

elements.sort(reverse=True)
print(elements)

In [ ]:
elements=[]
noofelements=int(input('enter the no of element:'))

for i in range(noofelements):
    element=input('enter the element:')
    elements.append(element)

elements.sort()
print(elements)

# Tuple Sorting

In [ ]:
items = [(1,'B'), (1,'A'), (2,'A'), (2,'B'), (0,'a')]

sorted_items = sorted(items)

print(items)
print(sorted_items)

In [ ]:
li = [9,1,5,6,7,3,4,8]
s_li=sorted(li)
print('sorted variable:\t', s_li)
print('original variable:\t', li)

In [ ]:
n_tuples = (6,9,3,1)
n_tuple_sorted = sorted(n_tuples)
n_tuple_sorted

# Formatting with placeholder

In [ ]:
txt1="my name is {fname}, I'm {age}"

In [ ]:
y=input('Enter you Name')
print('Hi %s, how are you' %y)

In [ ]:
x, y = 'my','world'
print('welcome to %s %r' %(x,y))

# Formatting with .format()

In [ ]:
#'string here {} then also {}'.format('something1,','something2')

In [ ]:
print('The {} {} {}'.format('apple', 'banana', 'fox'))

In [ ]:
#using indexing
print('The {2} {1} {0}'.format('fox', 'tree', 'cut'))

# formatting with f-strings

In [ ]:
name='prasanthi'
print(f'She said her name is {name}' )

In [ ]:
score=95
print(f'He score {score} marks in python')

In [ ]:
person = {'name':'prasanthi', 'age':25}
sentence = 'My name is' + person['name'] + 'and I am ' + str(person['age']) + 'years old.'
print(sentence)

In [ ]:
import os

print(os.getcwd())

In [ ]:
import os

def current_path(): 
    print("Current working directory before") 
    print(os.getcwd()) 
    print()
current_path() 
os.chdir('../')
current_path()

In [ ]:
import os
directory = "prasanthi"
parent_dir = 'C:/desktop/'
path = os.path.join(parent_dir, directory) 
print("Directory '% s' created" % directory)
print(os.getcwd())

In [ ]:
import os 
  
# Get the list of all files and directories 
# in the root directory 
path = "/"
print(path) 
print(dir_list)

In [ ]:
import os 
print(os.name)

# Datetime

In [ ]:
import datetime
x=datetime.datetime.now()
print(x)

In [ ]:
#year
y=datetime.datetime.now().year
print(y)

In [ ]:
d=datetime.date(2020,6,12)
print(d)

In [ ]:
tday=datetime.date.today()
print(tday)
print(tday.weekday())
print(tday.isoweekday())

In [ ]:
tdelta=datetime.timedelta(days=7)
print(tday - tdelta)
print(tday + tdelta)

In [ ]:
bday=datetime.date(1994, 3, 1)
print(bday)

till_bday= bday-tday
print(till_bday)

In [ ]:
t=datetime.time(9, 36, 45, 12000)
print(t)
print(t.hour)

In [ ]:
dt = datetime.datetime(2020, 6, 20, 12, 30, 45, 100000)
print(dt)
tdelta = datetime.timedelta(days=7)

print(dt + tdelta)

In [ ]:
import pytz
dt_utcnow = datetime.datetime.now(tz=pytz.utc)
print(dt_utcnow)
dt_mtn=datetime.datetime.now(pytz.timezone('us/mountain'))
print(dt_mtn)

In [ ]:
for tz in pytz.all_timezones:
    print(tz)

In [ ]:
dt_mtn = datetime.datetime.now(tz=pytz.timezone('US/Mountain'))
print(dt_mtn.strftime('%B, %d, %Y'))

In [ ]:
dt_str = 'july 26, 2020'
dt = datetime.datetime.strptime(dt_str, '%B %d, %Y')
print (dt)

#strftime -datetime to string
#strptime - string to datetime

# File Object

In [ ]:
f = open('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r')

print(f.name)
print(f.mode)

f.close()

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    pass
print(f.mode)
print(f.closed)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.read()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.readlines()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    f_contents = f.readline()
    print(f_contents)
    f_contents = f.readline()
    print(f_contents)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    size_to_read=10
    f_contents=f.read(size_to_read)
    
    while len(f_contents) > 0:
        print(f_contents, end='*')
        f_contents=f.read(size_to_read)

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample.txt', 'r') as f:
    size_to_read=10
    f_contents=f.read(size_to_read)
    
    print(f.tell())

In [ ]:
with open ('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\sample1.txt', 'w') as f:
    f.write('hello')
    f.seek(0)
    f.write('welcome')

# Parsing and Renaming

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')
print(os.getcwd())

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')

for f in os.listdir():
    print(f)

In [ ]:
import os
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\Notes')

for f in os.listdir():
    print(os.path.splitext(f))

In [ ]:
os.chdir('C:\\Users\\pprasan1\\Desktop\\Python\\New folder')
for f in os.listdir():
    f_name,f_ext = os.path.splitext(f)
    #print(f_name.split('-'))
    f_title,f_course,f_version,f_div, f_num = f_name.split('_')
    f_title = f_title.strip()[1:].zfill(1)
    f_course = f_course.strip()
    f_version=f_version.strip()
    f_div=f_div.strip()
    f_num = f_num.strip()
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_div, f_ext))

# Random module

In [ ]:
#randint()
import random
print(random.randint(1,9))

In [ ]:
import random
greeting = ['hello','hi','welcome','howdy']
l = ['apple','jackfruit','life']
print(random.choice(greeting))
print(random.choice(l))

In [ ]:
import random

#s = ['cut', 'tree', 'house']
p = list(range(1, 53))
#random.shuffle(s)
random.shuffle(p)
#print(s)
#print(deck)
print(p)

In [ ]:
m = ['sis', 'bro', 'mom', 'dad']
print(random.sample(m,k=2))

In [ ]:
random.random()

In [ ]:
import random
v= random.uniform(1, 10)
print(v)

In [ ]:
p = list(range(1, 53))
print(p)

# CSV

In [ ]:
import csv

with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    print(csv_reader)

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    for line in csv_reader:
        
        print(line[2])

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    next(csv_reader)
    for line in csv_reader:
        
        print(line[2])

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    with open('newCSV.csv', 'w') as new_file:
        csv_writer = csv.writer (new_file, delimiter ='-')
    
        for line in csv_reader:
            csv_writer.writerow(line)

In [ ]:
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    for line in csv_reader:
        
        print(line)

In [ ]:
import csv 
with open('CSV.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    with open('code.csv', 'w') as new_file:
        field= ['Username','IdentifierFirstname','Lastname','Username','Identifier','firstname','Last name']
                
        csv_writer = csv.DictWriter(new_file, field=field, delimiter ='\t')
        
        csv_writer.writeheader()
        
        for line in csv_reader:
            csv_writer.writerow(line)

In [ ]:
import pandas as pd

pd.read_csv('C:\\Users\\pprasan1\\Desktop\\Python\\Notes\\code.csv')

In [ ]:
pd.read_csv('code.csv', usecols =['network_id'])

In [ ]:
network_id = pd.read_csv('code.csv', usecols =['network_id'], squeeze= True)

In [ ]:
network_id

In [ ]:
import pandas as pd

data = pd.read_csv('Weather.csv')

In [ ]:
data

# Error Handling

In [ ]:
try:
    print(s)

except:
    print('except')

In [ ]:
try:
    print(s)
except Exception as e:
    print(e)

In [ ]:
try:
    print(s)
except Exception as e:
    print(e)
finally:
    print('this is final')

In [ ]:
s='prasanthi'
k=1
try:
    print(s + k)
except Exception as e:
    print(e)
finally:
    print('this is final')

In [ ]:
x=-1
if x<0:
    raise Exception("this is raise")

In [ ]:
#zero division error
s=0
try:
    print(1/s)
except Exception as e:
    print(e)

In [ ]:
try:
    num1 = 7
    num2 = 0 
    print('hello')
    print(num1/num2)
except:
    print('zero division error')

In [ ]:
#multiple exception error

try:
    variable=10
    print(variable + 'hello')
    print(variable/2)
except ZeroDivisionError:
    print('Division by zero')
except (ValueError, TypeError):
    print('Error occurred ')

In [ ]:
#which type error
try:
    a='spam'
    print( a / 0)
except:
    print('An error occurred')

In [ ]:
try:
    f = open('test_file.txt')
    var = bad_var
except FileNotFoundError:
    print('sorry. this file does not exist')
except Exception:
    print('sorry. something went wrong')

finally:
    print('Executing finally...')

# F-String

In [ ]:
#.format
first_name = 'prasanthi'
last_name = 'C'
sentence = 'My name is {} {}'.format(first_name, last_name)
print(sentence)

In [ ]:
#f-string
sentence=f'My name is {first_name.upper()} {last_name.upper()}'
print(sentence)

In [ ]:
#dictionary values using f-string

person = {'name': 'prasanthi', 'age':23}

# sentence = 'My name is {} and I am {} years old'.format(person ['name'], person ['age'])
# print(sentence)

#using f-string
sentence = f"My name is {person['name']} and I am {person['age']} years old"
print(sentence)

In [ ]:
calculate = f'4 times 11 is equal to {4 * 11}'
print(calculate)

In [ ]:
from datetime import datetime
birthday = datetime(1990, 1, 1)
sentence = f'Jenn has a birthday on {birthday}'
print (sentence)

# Generators

In [ ]:
def table(num):
    
    for i in range (1,11):
        print(f'{num}X{i}={num*i}')

table(6)

In [ ]:
def table(num):
    
    for i in range (1,11):
        return(f'{num}X{i}={num*i}')

table(5)

In [ ]:
def table(num):
    
    for i in range (1,11):
        yield f'{num}X{i}={num*i}'

output=table(5)
for value in output:
    print(value)

In [ ]:
def cube():
    n=1
    while n<=10:
        result = n**3
        n+=1
        return(result)
x = cube()
print(x)

In [ ]:
def p():
    yield 1            
    yield 2            
    yield 3
    
for value in p(): 
    print(value)

   # Decorators

In [ ]:
def outer_function():
    message = 'Hi'
    
    def inner_function():
        print(message)
    return inner_function()

outer_function()

In [ ]:
def outerfunction():
    message = 'Hi'
    
    def innerfunction():
        print(message)
    return innerfunction()
myabc= outer_function()
# print(myabc)

In [ ]:
myabc=outerfunction()

In [ ]:
myabc()

In [ ]:
def outer_function(msg):
    message = msg
    
    def inner_function():
        print(message)
    return inner_function

hi_func = outer_function('hi')
bye_func = outer_function('bye')

hi_func()
bye_func()

In [ ]:
def decorator_function(message):
    def wrapper_function():
        print(message)
    return wrapper_function

hi_fun = outer_function('Hi')
bye_fun = outer_function('bye')

hi_fun()
bye_fun()

In [ ]:
def decorator_function(original_function):
    def wrapper_function():
        return original_function()
    return wrapper_function

def display():
    print('display function ran')
    
decorated_display = decorator_function(display)

decorated_display()

In [ ]:
def decorator_function(original_function):
    def wrapper_function(*args, **kwargs):
        print('Excuted Before', original_function.__name__)
        result = original_function(*args, **kwargs)
        print('Executed After', original_function.__name__, '\n')
        return result
    return wrapper_function
    
@decorator_function
def display_info(name, age):
    print('display_info ran with arguments({}, {})'.format(name, age))
    

display_info('John', 25)
display_info('Travis', 30)

In [ ]:
def prefix_decorator(prefix):
    def decorator_function(original_function):
        def wrapper_function(*args, **kwargs):
            print('Excuted Before', original_function.__name__)
            result = original_function(*args, **kwargs)
            print('Executed After', original_function.__name__, '\n')
            return result
        return wrapper_function
    return decorator_function

@prefix_decorator('LOG:')
def display_info(name, age):
    print('display_info ran with arguments({}, {})'.format(name, age))
    

display_info('John', 25)
display_info('Travis', 30)

In [ ]:
print(__name__)

In [ ]:
print ("First Module's Name: {}". format(__name__))

In [ ]:
def main():
    print ("First Module's Name: {}". format(__name__))

if __name__ == '__main__':
    main()

# SQLite

In [ ]:
import sqlite3
from employee import Employee

conn = sqlite3.connect('employee.db')
c = conn.cursor()

# c.execute("""CREATE TABLE employees (
#            first text,
#            last text,
#            pay integer
#            )""")

emp_1 = Employee('John', "Doe", 80000)
emp_2 = Employee('Jane', 'Doe', 90000)

print(emp_1.first)
print(emp_1.last)
print(emp_1.pay)

c.execute("INSERT INTO employees VALUES ('Prasanthi','Chi', 50000)")

conn.commit()

c.execute("SELECT * FROM employees WHERE last= 'Chi'")

print(c.fetchall())

conn.commit()

conn.close

In [ ]:
import sqlite3
from employee import Employee

conn = sqlite3.connect('employee.db')
c = conn.cursor()

c.execute("""CREATE TABLE employees (
           first text,
           last text,
           pay integer
           )""")

emp_1 = Employee('John', "Doe", 80000)
emp_2 = Employee('Jane', 'Doe', 90000)


c.execute("INSERT INTO employees VALUES (?, ?, ?)", (emp_1.first, emp_1.last,emp_1.pay))

conn.commit()

c.execute("INSERT INTO employees VALUES (:first, :last, :pay)", {'first': emp_2.first, 'last': emp_2.last, 'pay': emp_2.pay})

conn.commit()

c.execute("SELECT * FROM employees WHERE last= 'Chi'")

print(c.fetchall())

conn.commit()

conn.close

In [ ]:
import sqlite3
from employee import Employee

conn = sqlite3.connect('employee.db')

c = conn.cursor()

# c.execute("""CREATE TABLE employees (
#            first text,
#            last text,
#            pay integer
#            )""")

emp_1 = Employee('John', "Doe", 80000)
emp_2 = Employee('Jane', 'Doe', 90000)


c.execute("SELECT * FROM employees WHERE last=?",('chi' ,))

print(c.fetchall())

c.execute("SELECT * FROM employees WHERE last=:last", {'last': 'Doe'})

print(c.fetchall())

conn.commit()

conn.close()

# re module

In [ ]:
print(r'\tTab')

In [3]:
import re
txt = "The rain in spain"
x = re.search('^The.*spain', txt)
if x:
    print("YES! We found it")
else:
    print('Oops, no text')

YES! We found it

In [4]:
import re
txt = "The rain in Spain"
x = re.search('^The.*spain$', txt)
if x:
    print("YES! We found it")
else:
    print('Oops, no text')

Oops, no text

In [ ]:
#Metacharacters
import re
txt = "The rain in Spain"
#Find all lower case characters alphabetically between 'a' and 'm'
x=re.findall('[a-m]', txt)
print(x)

In [5]:
import re
txt = "2004-959-559 # This is Phone Number"
#line = "Cats are smarter than dogs"
#escape special characters
x=re.findall('\d', txt)
#x=re.findall('\d', line)
print(x)

['2', '0', '0', '4', '9', '5', '9', '5', '5', '9']

In [6]:
#Any character (except newline character) "he..o"

import re

txt = "hello planet Cats are smarter than dogs"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
y = re.findall("sm...er", txt)
print(x , y)

['hello'] ['smarter']

In [24]:
text_to_search = '''
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890

Ha HaHa

MetaCharacters (Need to be escaped):
. ^ $ * + ? {} [] \ | ()

coreyms.com

321-555-4321
123.555.1234

Mr. Schafer
Mr Smith
Ms Davis
Mrs. Robinson
Mr. T
'''
sentence = 'Start a sentence and then bring it to an end'

# print(r'\tTab')

pattern = re.compile(r'abc')

matches = pattern.finditer(text_to_search)
                      
for match in matches:
    print (match)

<re.Match object; span=(1, 4), match='abc'>

In [25]:
pattern = re.compile(r'.')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

<re.Match object; span=(1, 2), match='a'>
<re.Match object; span=(2, 3), match='b'>
<re.Match object; span=(3, 4), match='c'>
<re.Match object; span=(4, 5), match='d'>
<re.Match object; span=(5, 6), match='e'>
<re.Match object; span=(6, 7), match='f'>
<re.Match object; span=(7, 8), match='g'>
<re.Match object; span=(8, 9), match='h'>
<re.Match object; span=(9, 10), match='i'>
<re.Match object; span=(10, 11), match='j'>
<re.Match object; span=(11, 12), match='k'>
<re.Match object; span=(12, 13), match='l'>
<re.Match object; span=(13, 14), match='m'>
<re.Match object; span=(14, 15), match='n'>
<re.Match object; span=(15, 16), match='o'>
<re.Match object; span=(16, 17), match='p'>
<re.Match object; span=(17, 18), match='q'>
<re.Match object; span=(18, 19), match='r'>
<re.Match object; span=(19, 20), match='s'>
<re.Match object; span=(20, 21), match='t'>
<re.Match object; span=(21, 22), match='u'>
<re.Match object; span=(22, 23), match='v'>
<re.Match object; span=(23, 24), match='w'>
<re.Match object; span=(24, 25), match='x'>
<re.Match object; span=(25, 26), match='y'>
<re.Match object; span=(26, 27), match='z'>
<re.Match object; span=(28, 29), match='A'>
<re.Match object; span=(29, 30), match='B'>
<re.Match object; span=(30, 31), match='C'>
<re.Match object; span=(31, 32), match='D'>
<re.Match object; span=(32, 33), match='E'>
<re.Match object; span=(33, 34), match='F'>
<re.Match object; span=(34, 35), match='G'>
<re.Match object; span=(35, 36), match='H'>
<re.Match object; span=(36, 37), match='I'>
<re.Match object; span=(37, 38), match='J'>
<re.Match object; span=(38, 39), match='K'>
<re.Match object; span=(39, 40), match='L'>
<re.Match object; span=(40, 41), match='M'>
<re.Match object; span=(41, 42), match='N'>
<re.Match object; span=(42, 43), match='O'>
<re.Match object; span=(43, 44), match='P'>
<re.Match object; span=(44, 45), match='Q'>
<re.Match object; span=(45, 46), match='R'>
<re.Match object; span=(46, 47), match='S'>
<re.Match object; span=(47, 48), match='T'>
<re.Match object; span=(48, 49), match='U'>
<re.Match object; span=(49, 50), match='V'>
<re.Match object; span=(50, 51), match='W'>
<re.Match object; span=(51, 52), match='X'>
<re.Match object; span=(52, 53), match='Y'>
<re.Match object; span=(53, 54), match='Z'>
<re.Match object; span=(55, 56), match='1'>
<re.Match object; span=(56, 57), match='2'>
<re.Match object; span=(57, 58), match='3'>
<re.Match object; span=(58, 59), match='4'>
<re.Match object; span=(59, 60), match='5'>
<re.Match object; span=(60, 61), match='6'>
<re.Match object; span=(61, 62), match='7'>
<re.Match object; span=(62, 63), match='8'>
<re.Match object; span=(63, 64), match='9'>
<re.Match object; span=(64, 65), match='0'>
<re.Match object; span=(67, 68), match='H'>
<re.Match object; span=(68, 69), match='a'>
<re.Match object; span=(69, 70), match=' '>
<re.Match object; span=(70, 71), match='H'>
<re.Match object; span=(71, 72), match='a'>
<re.Match object; span=(72, 73), match='H'>
<re.Match object; span=(73, 74), match='a'>
<re.Match object; span=(76, 77), match='M'>
<re.Match object; span=(77, 78), match='e'>
<re.Match object; span=(78, 79), match='t'>
<re.Match object; span=(79, 80), match='a'>
<re.Match object; span=(80, 81), match='C'>
<re.Match object; span=(81, 82), match='h'>
<re.Match object; span=(82, 83), match='a'>
<re.Match object; span=(83, 84), match='r'>
<re.Match object; span=(84, 85), match='a'>
<re.Match object; span=(85, 86), match='c'>
<re.Match object; span=(86, 87), match='t'>
<re.Match object; span=(87, 88), match='e'>
<re.Match object; span=(88, 89), match='r'>
<re.Match object; span=(89, 90), match='s'>
<re.Match object; span=(90, 91), match=' '>
<re.Match object; span=(91, 92), match='('>
<re.Match object; span=(92, 93), match='N'>
<re.Match object; span=(93, 94), match='e'>
<re.Match object; span=(94, 95), match='e'>
<re.Match object; span=(95, 96), match='d'>
<re.Match object; span=(96, 97), match=' '>
<re.Match object; span=(97, 98), match='t'>
<re.Match object; span=(98, 99), match='o'>
<re.Match object; span=(99, 100), match=' '>
<re.Match object; span=(100, 101), match='b'>
<re.Match object; span=(101, 102), match='e'>
<re.Match object; span=(102, 103), match=' '>
<re.Match object; span=(103, 104), match='e'>
<re.Match object; span=(104, 105), match='s'>
<re.Match object; span=(105, 106), match='c'>
<re.Match object; span=(106, 107), match='a'>
<re.Match object; span=(107, 108), match='p'>
<re.Match object; span=(108, 109), match='e'>
<re.Match object; span=(109, 110), match='d'>
<re.Match object; span=(110, 111), match=')'>
<re.Match object; span=(111, 112), match=':'>
<re.Match object; span=(113, 114), match='.'>
<re.Match object; span=(114, 115), match=' '>
<re.Match object; span=(115, 116), match='^'>
<re.Match object; span=(116, 117), match=' '>
<re.Match object; span=(117, 118), match='$'>
<re.Match object; span=(118, 119), match=' '>
<re.Match object; span=(119, 120), match='*'>
<re.Match object; span=(120, 121), match=' '>
<re.Match object; span=(121, 122), match='+'>
<re.Match object; span=(122, 123), match=' '>
<re.Match object; span=(123, 124), match='?'>
<re.Match object; span=(124, 125), match=' '>
<re.Match object; span=(125, 126), match='{'>
<re.Match object; span=(126, 127), match='}'>
<re.Match object; span=(127, 128), match=' '>
<re.Match object; span=(128, 129), match='['>
<re.Match object; span=(129, 130), match=']'>
<re.Match object; span=(130, 131), match=' '>
<re.Match object; span=(131, 132), match='\\'>
<re.Match object; span=(132, 133), match=' '>
<re.Match object; span=(133, 134), match='|'>
<re.Match object; span=(134, 135), match=' '>
<re.Match object; span=(135, 136), match='('>
<re.Match object; span=(136, 137), match=')'>
<re.Match object; span=(139, 140), match='c'>
<re.Match object; span=(140, 141), match='o'>
<re.Match object; span=(141, 142), match='r'>
<re.Match object; span=(142, 143), match='e'>
<re.Match object; span=(143, 144), match='y'>
<re.Match object; span=(144, 145), match='m'>
<re.Match object; span=(145, 146), match='s'>
<re.Match object; span=(146, 147), match='.'>
<re.Match object; span=(147, 148), match='c'>
<re.Match object; span=(148, 149), match='o'>
<re.Match object; span=(149, 150), match='m'>
<re.Match object; span=(152, 153), match='3'>
<re.Match object; span=(153, 154), match='2'>
<re.Match object; span=(154, 155), match='1'>
<re.Match object; span=(155, 156), match='-'>
<re.Match object; span=(156, 157), match='5'>
<re.Match object; span=(157, 158), match='5'>
<re.Match object; span=(158, 159), match='5'>
<re.Match object; span=(159, 160), match='-'>
<re.Match object; span=(160, 161), match='4'>
<re.Match object; span=(161, 162), match='3'>
<re.Match object; span=(162, 163), match='2'>
<re.Match object; span=(163, 164), match='1'>
<re.Match object; span=(165, 166), match='1'>
<re.Match object; span=(166, 167), match='2'>
<re.Match object; span=(167, 168), match='3'>
<re.Match object; span=(168, 169), match='.'>
<re.Match object; span=(169, 170), match='5'>
<re.Match object; span=(170, 171), match='5'>
<re.Match object; span=(171, 172), match='5'>
<re.Match object; span=(172, 173), match='.'>
<re.Match object; span=(173, 174), match='1'>
<re.Match object; span=(174, 175), match='2'>
<re.Match object; span=(175, 176), match='3'>
<re.Match object; span=(176, 177), match='4'>
<re.Match object; span=(179, 180), match='M'>
<re.Match object; span=(180, 181), match='r'>
<re.Match object; span=(181, 182), match='.'>
<re.Match object; span=(182, 183), match=' '>
<re.Match object; span=(183, 184), match='S'>
<re.Match object; span=(184, 185), match='c'>
<re.Match object; span=(185, 186), match='h'>
<re.Match object; span=(186, 187), match='a'>
<re.Match object; span=(187, 188), match='f'>
<re.Match object; span=(188, 189), match='e'>
<re.Match object; span=(189, 190), match='r'>
<re.Match object; span=(191, 192), match='M'>
<re.Match object; span=(192, 193), match='r'>
<re.Match object; span=(193, 194), match=' '>
<re.Match object; span=(194, 195), match='S'>
<re.Match object; span=(195, 196), match='m'>
<re.Match object; span=(196, 197), match='i'>
<re.Match object; span=(197, 198), match='t'>
<re.Match object; span=(198, 199), match='h'>
<re.Match object; span=(200, 201), match='M'>
<re.Match object; span=(201, 202), match='s'>
<re.Match object; span=(202, 203), match=' '>
<re.Match object; span=(203, 204), match='D'>
<re.Match object; span=(204, 205), match='a'>
<re.Match object; span=(205, 206), match='v'>
<re.Match object; span=(206, 207), match='i'>
<re.Match object; span=(207, 208), match='s'>
<re.Match object; span=(209, 210), match='M'>
<re.Match object; span=(210, 211), match='r'>
<re.Match object; span=(211, 212), match='s'>
<re.Match object; span=(212, 213), match='.'>
<re.Match object; span=(213, 214), match=' '>
<re.Match object; span=(214, 215), match='R'>
<re.Match object; span=(215, 216), match='o'>
<re.Match object; span=(216, 217), match='b'>
<re.Match object; span=(217, 218), match='i'>
<re.Match object; span=(218, 219), match='n'>
<re.Match object; span=(219, 220), match='s'>
<re.Match object; span=(220, 221), match='o'>
<re.Match object; span=(221, 222), match='n'>
<re.Match object; span=(223, 224), match='M'>
<re.Match object; span=(224, 225), match='r'>
<re.Match object; span=(225, 226), match='.'>
<re.Match object; span=(226, 227), match=' '>
<re.Match object; span=(227, 228), match='T'>

In [26]:
# . - Any character Except new line
# \d - Digit(0-9)
# \D - Not a Digit (0-9)
# \w - Word Character (a-z, A-Z, 0-9, _)
# \W - Not a Word Character
# \s - Whitespace(space,tab,newline)
# \S - Not Whitespace(spcae, tab, newline)
pattern = re.compile(r'\w')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

<re.Match object; span=(1, 2), match='a'>
<re.Match object; span=(2, 3), match='b'>
<re.Match object; span=(3, 4), match='c'>
<re.Match object; span=(4, 5), match='d'>
<re.Match object; span=(5, 6), match='e'>
<re.Match object; span=(6, 7), match='f'>
<re.Match object; span=(7, 8), match='g'>
<re.Match object; span=(8, 9), match='h'>
<re.Match object; span=(9, 10), match='i'>
<re.Match object; span=(10, 11), match='j'>
<re.Match object; span=(11, 12), match='k'>
<re.Match object; span=(12, 13), match='l'>
<re.Match object; span=(13, 14), match='m'>
<re.Match object; span=(14, 15), match='n'>
<re.Match object; span=(15, 16), match='o'>
<re.Match object; span=(16, 17), match='p'>
<re.Match object; span=(17, 18), match='q'>
<re.Match object; span=(18, 19), match='r'>
<re.Match object; span=(19, 20), match='s'>
<re.Match object; span=(20, 21), match='t'>
<re.Match object; span=(21, 22), match='u'>
<re.Match object; span=(22, 23), match='v'>
<re.Match object; span=(23, 24), match='w'>
<re.Match object; span=(24, 25), match='x'>
<re.Match object; span=(25, 26), match='y'>
<re.Match object; span=(26, 27), match='z'>
<re.Match object; span=(28, 29), match='A'>
<re.Match object; span=(29, 30), match='B'>
<re.Match object; span=(30, 31), match='C'>
<re.Match object; span=(31, 32), match='D'>
<re.Match object; span=(32, 33), match='E'>
<re.Match object; span=(33, 34), match='F'>
<re.Match object; span=(34, 35), match='G'>
<re.Match object; span=(35, 36), match='H'>
<re.Match object; span=(36, 37), match='I'>
<re.Match object; span=(37, 38), match='J'>
<re.Match object; span=(38, 39), match='K'>
<re.Match object; span=(39, 40), match='L'>
<re.Match object; span=(40, 41), match='M'>
<re.Match object; span=(41, 42), match='N'>
<re.Match object; span=(42, 43), match='O'>
<re.Match object; span=(43, 44), match='P'>
<re.Match object; span=(44, 45), match='Q'>
<re.Match object; span=(45, 46), match='R'>
<re.Match object; span=(46, 47), match='S'>
<re.Match object; span=(47, 48), match='T'>
<re.Match object; span=(48, 49), match='U'>
<re.Match object; span=(49, 50), match='V'>
<re.Match object; span=(50, 51), match='W'>
<re.Match object; span=(51, 52), match='X'>
<re.Match object; span=(52, 53), match='Y'>
<re.Match object; span=(53, 54), match='Z'>
<re.Match object; span=(55, 56), match='1'>
<re.Match object; span=(56, 57), match='2'>
<re.Match object; span=(57, 58), match='3'>
<re.Match object; span=(58, 59), match='4'>
<re.Match object; span=(59, 60), match='5'>
<re.Match object; span=(60, 61), match='6'>
<re.Match object; span=(61, 62), match='7'>
<re.Match object; span=(62, 63), match='8'>
<re.Match object; span=(63, 64), match='9'>
<re.Match object; span=(64, 65), match='0'>
<re.Match object; span=(67, 68), match='H'>
<re.Match object; span=(68, 69), match='a'>
<re.Match object; span=(70, 71), match='H'>
<re.Match object; span=(71, 72), match='a'>
<re.Match object; span=(72, 73), match='H'>
<re.Match object; span=(73, 74), match='a'>
<re.Match object; span=(76, 77), match='M'>
<re.Match object; span=(77, 78), match='e'>
<re.Match object; span=(78, 79), match='t'>
<re.Match object; span=(79, 80), match='a'>
<re.Match object; span=(80, 81), match='C'>
<re.Match object; span=(81, 82), match='h'>
<re.Match object; span=(82, 83), match='a'>
<re.Match object; span=(83, 84), match='r'>
<re.Match object; span=(84, 85), match='a'>
<re.Match object; span=(85, 86), match='c'>
<re.Match object; span=(86, 87), match='t'>
<re.Match object; span=(87, 88), match='e'>
<re.Match object; span=(88, 89), match='r'>
<re.Match object; span=(89, 90), match='s'>
<re.Match object; span=(92, 93), match='N'>
<re.Match object; span=(93, 94), match='e'>
<re.Match object; span=(94, 95), match='e'>
<re.Match object; span=(95, 96), match='d'>
<re.Match object; span=(97, 98), match='t'>
<re.Match object; span=(98, 99), match='o'>
<re.Match object; span=(100, 101), match='b'>
<re.Match object; span=(101, 102), match='e'>
<re.Match object; span=(103, 104), match='e'>
<re.Match object; span=(104, 105), match='s'>
<re.Match object; span=(105, 106), match='c'>
<re.Match object; span=(106, 107), match='a'>
<re.Match object; span=(107, 108), match='p'>
<re.Match object; span=(108, 109), match='e'>
<re.Match object; span=(109, 110), match='d'>
<re.Match object; span=(139, 140), match='c'>
<re.Match object; span=(140, 141), match='o'>
<re.Match object; span=(141, 142), match='r'>
<re.Match object; span=(142, 143), match='e'>
<re.Match object; span=(143, 144), match='y'>
<re.Match object; span=(144, 145), match='m'>
<re.Match object; span=(145, 146), match='s'>
<re.Match object; span=(147, 148), match='c'>
<re.Match object; span=(148, 149), match='o'>
<re.Match object; span=(149, 150), match='m'>
<re.Match object; span=(152, 153), match='3'>
<re.Match object; span=(153, 154), match='2'>
<re.Match object; span=(154, 155), match='1'>
<re.Match object; span=(156, 157), match='5'>
<re.Match object; span=(157, 158), match='5'>
<re.Match object; span=(158, 159), match='5'>
<re.Match object; span=(160, 161), match='4'>
<re.Match object; span=(161, 162), match='3'>
<re.Match object; span=(162, 163), match='2'>
<re.Match object; span=(163, 164), match='1'>
<re.Match object; span=(165, 166), match='1'>
<re.Match object; span=(166, 167), match='2'>
<re.Match object; span=(167, 168), match='3'>
<re.Match object; span=(169, 170), match='5'>
<re.Match object; span=(170, 171), match='5'>
<re.Match object; span=(171, 172), match='5'>
<re.Match object; span=(173, 174), match='1'>
<re.Match object; span=(174, 175), match='2'>
<re.Match object; span=(175, 176), match='3'>
<re.Match object; span=(176, 177), match='4'>
<re.Match object; span=(179, 180), match='M'>
<re.Match object; span=(180, 181), match='r'>
<re.Match object; span=(183, 184), match='S'>
<re.Match object; span=(184, 185), match='c'>
<re.Match object; span=(185, 186), match='h'>
<re.Match object; span=(186, 187), match='a'>
<re.Match object; span=(187, 188), match='f'>
<re.Match object; span=(188, 189), match='e'>
<re.Match object; span=(189, 190), match='r'>
<re.Match object; span=(191, 192), match='M'>
<re.Match object; span=(192, 193), match='r'>
<re.Match object; span=(194, 195), match='S'>
<re.Match object; span=(195, 196), match='m'>
<re.Match object; span=(196, 197), match='i'>
<re.Match object; span=(197, 198), match='t'>
<re.Match object; span=(198, 199), match='h'>
<re.Match object; span=(200, 201), match='M'>
<re.Match object; span=(201, 202), match='s'>
<re.Match object; span=(203, 204), match='D'>
<re.Match object; span=(204, 205), match='a'>
<re.Match object; span=(205, 206), match='v'>
<re.Match object; span=(206, 207), match='i'>
<re.Match object; span=(207, 208), match='s'>
<re.Match object; span=(209, 210), match='M'>
<re.Match object; span=(210, 211), match='r'>
<re.Match object; span=(211, 212), match='s'>
<re.Match object; span=(214, 215), match='R'>
<re.Match object; span=(215, 216), match='o'>
<re.Match object; span=(216, 217), match='b'>
<re.Match object; span=(217, 218), match='i'>
<re.Match object; span=(218, 219), match='n'>
<re.Match object; span=(219, 220), match='s'>
<re.Match object; span=(220, 221), match='o'>
<re.Match object; span=(221, 222), match='n'>
<re.Match object; span=(223, 224), match='M'>
<re.Match object; span=(224, 225), match='r'>
<re.Match object; span=(227, 228), match='T'>

In [34]:
pattern = re.compile(r'\bHa')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

<re.Match object; span=(67, 69), match='Ha'>
<re.Match object; span=(70, 72), match='Ha'>

In [31]:
pattern = re.compile(r'^')

matches = pattern.finditer(sentence)

for match in matches:
    print (match)

<re.Match object; span=(0, 0), match=''>

In [35]:
pattern = re.compile(r'^Start')

matches = pattern.finditer(sentence)

for match in matches:
    print (match)

<re.Match object; span=(0, 5), match='Start'>

In [36]:
pattern = re.compile(r'end$')

matches = pattern.finditer(sentence)

for match in matches:
    print (match)

<re.Match object; span=(41, 44), match='end'>

In [38]:
pattern = re.compile(r'\d\d\d.\d\d\d.\d\d\d')

matches = pattern.finditer(text_to_search)

for match in matches:
    print (match)

<re.Match object; span=(152, 163), match='321-555-432'>
<re.Match object; span=(165, 176), match='123.555.123'>

In [39]:
pattern = re.compile(r'\d\d\d.\d\d\d.\d\d\d')

matches = pattern.finditer(text_to_search)

# for match in matches:
#     print (match)
with open('data.txt','r', ) as f:
    contents = f.read()
    
    matches = pattern.finditer(text_to_search)
    
    for match in matches:
        print (match)

FileNotFoundError: [Errno 2] No such file or directory: 'data.txt'